In [1]:
import os
import pandas as pd

In [2]:
outfile = "20210816-DataSheet-PROJECT-AB-ADA-TCRb.csv"

## Fill in header of the data sheet

In [3]:
fh = open("DataSheetHeader.csv")
datasheet_header = fh.read().rstrip()
fh.close()

In [4]:
datasheet_header = datasheet_header.replace("INVESTIGATOR", "Niek de Vries")
datasheet_header = datasheet_header.replace("RUNNAME", "project-20210816-AB-ADA-TCRb")
datasheet_header = datasheet_header.replace("DATE", "16-08-2021")
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Niek de Vries,,,,,,,,,,,,,,
Experiment Name,project-20210816-AB-ADA-TCRb,,,,,,,,,,,,,,
Date,16-08-2021,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI

## Read PT table

In [5]:
mydir = "./"
os.listdir(mydir)

['_README-code.md',
 'align-sequences.sh',
 'MakeSamplesFiles.py',
 'mids',
 'CreateAndImportClonesSqlite.py',
 'FastqSplitOnMid.py',
 'SAMPLES',
 'tmp.csv',
 'ToposGetTokens.py',
 'MutationsFromSam.py',
 'tbcell-agent.sh',
 'run-rtcr.sh',
 'LOCAL_SAMPLES',
 'TranslateAndExtractCdr3.py',
 'workflow.png',
 'Untitled.ipynb',
 'setup-git-branch-and-folder-structure.sh',
 'MetaData.py',
 'report-ALL.sh',
 '.git',
 'ConvertAAreads.py',
 'picas',
 'MongoInsertDoc.py',
 'copy-to-webdav.sh',
 'ReassignGenes.py',
 'stopos-purge-create-add.sh',
 'ConcatenateCloneFilesBatch.py',
 'pear-0.9.6-bin-64',
 'Topos.py',
 'report-alignments.py',
 'MakeDataSheet.ipynb',
 'helper-ref-table.py',
 'SeqToFastq.py',
 'FastQC',
 'DOCS',
 'TCRb-Adalimumab-Samples-for-re-analysis-v2.csv',
 'tmp-selection.csv',
 '.ipynb_checkpoints',
 'MaskSequences.py',
 '20210816-DataSheet-PROJECT-AB-ADA-TCRb-run24.csv',
 '.gitignore',
 'SCRIPTS-UNSORTED',
 'VerifyBasespaceCopy.py',
 'basespace.txt',
 'ToposUploadFiles.py',
 'SCRIPTS-HLA',
 'setup-and-run.sh',
 'log-versions.sh',
 'FastqSplitOnSequenceLength.py',
 'NOTEBOOKS',
 'bwa-0.7.12',
 '20210816-DataSheet-PROJECT-AB-ADA-TCRb.csv',
 'batch-align.sh',
 'picard-tools-1.126',
 'DataSheetHeader.csv',
 'ConcatenateCloneFiles.py',
 'help-docs.txt',
 'methods-and-acknowledgments.txt',
 'roll-out-scripts.py',
 'copy-from-beehub.sh',
 'combine-immuno-data.py',
 'ENV.sh',
 'MutationAnalysisVJ.py',
 'report-combine-all.py',
 'rhesus_ward_lab.csv',
 'sequences.py',
 'ToposCreateTokens.py',
 'ReAssignVGenes.py',
 'execute-c-region.sh',
 'notes-multipe-v-assignment.txt',
 'copy-basespace-data-to-beehub.py',
 'reftables',
 'test',
 'README.md',
 'SCRIPTS-PLOT',
 'reference',
 'report-after-v-reassignment.py',
 'MutationAnalysisVJ.R',
 'weblogo',
 'overview.svg',
 '20210816-DataSheet-PROJECT-AB-ADA-TCRb-run28.csv',
 'run-fastqc.sh',
 'StoposGetTokens.py',
 'select-correct-mids.py',
 'TESTDATA',
 'MakeDatasheetFromPT.ipynb',
 'README-cmdline.txt',
 'SortAndSplit.sh',
 'StoposUploadFiles.py',
 'Stopos.py',
 'batch-pear.sh',
 'execute-all.sh',
 'CountFirstTenNucleotides.py',
 'immuno-primers.csv',
 'VarScan.v2.3.7.jar']

In [6]:
df = pd.read_csv(mydir + 'TCRb-Adalimumab-Samples-for-re-analysis-v2.csv', sep=",")
df.head()

,Samples order,Sample_ID,Sample name,MID,Project,Species,Chain,Patient,Sample,UMI (yes or no),RUN
0,S100,N711_S507,AB-ADA01-Tu,NaN,AB-ADA,human,TCRb,40-17-0007,V5-M6,yes,24
1,S101,N712_S507,AB-ADA06-Tu,NaN,AB-ADA,human,TCRb,10-02-0010,V5-M6,yes,24
2,S102,N714_S507,AB-ADA08-Tu,NaN,AB-ADA,human,TCRb,10-01-0013,V5-M6,yes,24
3,S103,N715_S507,AB-ADA12-Tu,NaN,AB-ADA,human,TCRb,40-10-0002,V4-M3,yes,24
4,S104,N716_S507,AB-ADA17-Tu,NaN,AB-ADA,human,TCRb,10-01-0010,V4-M3,yes,24

In [7]:
df.columns

Index(['Samples order', 'Sample_ID', 'Sample name', 'MID', 'Project',
       'Species', 'Chain', 'Patient', 'Sample', 'UMI (yes or no)', 'RUN '],
      dtype='object')

In [8]:
# Rename columns to match it to the DatasheetHeader
df = df.rename(columns={'Samples order': 'Nr',
                  'Sample_ID': 'Sample_ID',
                  'Sample name': 'Sample_Name',
                  'Project': 'Sample_Project',
                  'UMI (yes or no)': 'UMI',
                  'HEK cells (yes or no)': 'HEK_cells',
                  'RACE (yes or no)': 'RACE',
                  'Constant (yes or no)': 'Constant',
                  'RUN ': 'Run'})
df.head()

,Nr,Sample_ID,Sample_Name,MID,Sample_Project,Species,Chain,Patient,Sample,UMI,Run
0,S100,N711_S507,AB-ADA01-Tu,NaN,AB-ADA,human,TCRb,40-17-0007,V5-M6,yes,24
1,S101,N712_S507,AB-ADA06-Tu,NaN,AB-ADA,human,TCRb,10-02-0010,V5-M6,yes,24
2,S102,N714_S507,AB-ADA08-Tu,NaN,AB-ADA,human,TCRb,10-01-0013,V5-M6,yes,24
3,S103,N715_S507,AB-ADA12-Tu,NaN,AB-ADA,human,TCRb,40-10-0002,V4-M3,yes,24
4,S104,N716_S507,AB-ADA17-Tu,NaN,AB-ADA,human,TCRb,10-01-0010,V4-M3,yes,24

In [9]:
# Add missing columns
cols = ['Sample_ID', 'Sample_Name', 'Sample_Plate', 'Sample_Well', 'I7_Index_ID', 'index', 'I5_Index_ID', 'index2', 'Run', 'Nr', 'Sample_Project', 'Species', 'Chain', 'Patient', 'Sample', 'UMI']
missing_cols = set(cols).difference(set(df.columns))
for missing in missing_cols:
    print(missing)
    df[missing] = ""
df.head()

I7_Index_ID
index2
index
I5_Index_ID
Sample_Well
Sample_Plate

,Nr,Sample_ID,Sample_Name,MID,Sample_Project,Species,Chain,Patient,Sample,UMI,Run,I7_Index_ID,index2,index,I5_Index_ID,Sample_Well,Sample_Plate
0,S100,N711_S507,AB-ADA01-Tu,NaN,AB-ADA,human,TCRb,40-17-0007,V5-M6,yes,24,,,,,,
1,S101,N712_S507,AB-ADA06-Tu,NaN,AB-ADA,human,TCRb,10-02-0010,V5-M6,yes,24,,,,,,
2,S102,N714_S507,AB-ADA08-Tu,NaN,AB-ADA,human,TCRb,10-01-0013,V5-M6,yes,24,,,,,,
3,S103,N715_S507,AB-ADA12-Tu,NaN,AB-ADA,human,TCRb,40-10-0002,V4-M3,yes,24,,,,,,
4,S104,N716_S507,AB-ADA17-Tu,NaN,AB-ADA,human,TCRb,10-01-0010,V4-M3,yes,24,,,,,,

In [10]:
# Check for extra columns in the pt-table
extra_cols = set(df.columns).difference(set(cols))
for extra in extra_cols:
    #print(extra)
    datasheet_header = datasheet_header + "," + extra
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Niek de Vries,,,,,,,,,,,,,,
Experiment Name,project-20210816-AB-ADA-TCRb,,,,,,,,,,,,,,
Date,16-08-2021,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI,MID

In [11]:
# Change the order of the columns in the data frame
cols = cols + list(extra_cols)
df = df[cols]
df.head()

,Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI,MID
0,N711_S507,AB-ADA01-Tu,,,,,,,24,S100,AB-ADA,human,TCRb,40-17-0007,V5-M6,yes,NaN
1,N712_S507,AB-ADA06-Tu,,,,,,,24,S101,AB-ADA,human,TCRb,10-02-0010,V5-M6,yes,NaN
2,N714_S507,AB-ADA08-Tu,,,,,,,24,S102,AB-ADA,human,TCRb,10-01-0013,V5-M6,yes,NaN
3,N715_S507,AB-ADA12-Tu,,,,,,,24,S103,AB-ADA,human,TCRb,40-10-0002,V4-M3,yes,NaN
4,N716_S507,AB-ADA17-Tu,,,,,,,24,S104,AB-ADA,human,TCRb,10-01-0010,V4-M3,yes,NaN

## Glue together the header and the values

In [12]:
df.to_csv("tmp.csv", header=None, index=None)

In [13]:
fh = open("tmp.csv")
values = fh.read().rstrip()
fh.close()

In [14]:
fhOut = open(outfile, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile, "to disk")

Wrote 20210816-DataSheet-PROJECT-AB-ADA-TCRb.csv to disk

## Make separate datasheets for the different runs

In [15]:
# Run24
outfile_new = outfile.replace(".csv", "-run24.csv")
df_selection = df[df['Run'] == 24]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20210816-DataSheet-PROJECT-AB-ADA-TCRb-run24.csv to disk

In [16]:
# Run28
outfile_new = outfile.replace(".csv", "-run28.csv")
df_selection = df[df['Run'] == 28]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20210816-DataSheet-PROJECT-AB-ADA-TCRb-run28.csv to disk