In [1]:
import os
import pandas as pd

In [2]:
outfile = "20240227-DataSheet-RUN54.csv"

## Fill in header of the data sheet

In [3]:
fh = open("DataSheetHeader.csv")
datasheet_header = fh.read().rstrip()
fh.close()

In [4]:
datasheet_header = datasheet_header.replace("INVESTIGATOR", "Niek de Vries")
datasheet_header = datasheet_header.replace("RUNNAME", "run54-20240227-miseq")
datasheet_header = datasheet_header.replace("DATE", "27-02-2024")
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Niek de Vries,,,,,,,,,,,,,,
Experiment Name,run54-20240227-miseq,,,,,,,,,,,,,,
Date,27-02-2024,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI

## Read PT table

In [5]:
mydir = "./run54-20240227-miseq/Data/NameOfDataset_1/Meta/"
os.listdir(mydir)

['20240213_MSrun054_pt-table-v2.csv',
 '0_README.md',
 '20240213_MSrun054_pt-table.csv']

In [6]:
df = pd.read_csv(mydir + '20240213_MSrun054_pt-table-v2.csv', sep=',')
df.head()

,Samples order,Sample_ID,Sample name,MID,Project,Species,Chain,ChainOriginal,Patient,Sample,Group,UMI (yes or no),HEK cells (yes or no),RACE (yes or no),Constant (yes or no)
0,S1,N701_S502,T2B001-J,NaN,Target2B,human,BCRh,BCRh,32,HC,NaN,yes,no,yes,no
1,S2,N702_S502,T2B002-J,NaN,Target2B,human,BCRh,BCRh,41,HC,NaN,yes,no,yes,no
2,S3,N703_S502,T2B003-J,NaN,Target2B,human,BCRh,BCRh,51,HC,NaN,yes,no,yes,no
3,S4,N704_S502,T2B004-J,NaN,Target2B,human,BCRh,BCRh,77,HC,NaN,yes,no,yes,no
4,S5,N706_S502,T2B008-J,NaN,Target2B,human,BCRh,BCRh,110,PF29,NaN,yes,no,yes,no

In [7]:
df.columns

Index(['Samples order', 'Sample_ID', 'Sample name', 'MID', 'Project',
       'Species', 'Chain', 'ChainOriginal', 'Patient', 'Sample', 'Group',
       'UMI (yes or no)', 'HEK cells (yes or no)', 'RACE (yes or no)',
       'Constant (yes or no)'],
      dtype='object')

In [8]:
# Rename columns to match it to the DatasheetHeader
df = df.rename(columns={'Samples order': 'Nr',
                  'Sample_ID': 'Sample_ID',
                  'Sample name': 'Sample_Name',
                  'Project': 'Sample_Project',
                  'UMI (yes or no)': 'UMI',
                  'HEK cells (yes or no)': 'HEK_cells',
                  'RACE (yes or no)': 'RACE',
                  'Constant (yes or no)': 'Constant'})
df.head()

,Nr,Sample_ID,Sample_Name,MID,Sample_Project,Species,Chain,ChainOriginal,Patient,Sample,Group,UMI,HEK_cells,RACE,Constant
0,S1,N701_S502,T2B001-J,NaN,Target2B,human,BCRh,BCRh,32,HC,NaN,yes,no,yes,no
1,S2,N702_S502,T2B002-J,NaN,Target2B,human,BCRh,BCRh,41,HC,NaN,yes,no,yes,no
2,S3,N703_S502,T2B003-J,NaN,Target2B,human,BCRh,BCRh,51,HC,NaN,yes,no,yes,no
3,S4,N704_S502,T2B004-J,NaN,Target2B,human,BCRh,BCRh,77,HC,NaN,yes,no,yes,no
4,S5,N706_S502,T2B008-J,NaN,Target2B,human,BCRh,BCRh,110,PF29,NaN,yes,no,yes,no

In [9]:
# Add missing columns
cols = ['Sample_ID', 'Sample_Name', 'Sample_Plate', 'Sample_Well', 'I7_Index_ID', 'index', 'I5_Index_ID', 'index2', 'Run', 'Nr', 'Sample_Project', 'Species', 'Chain', 'Patient', 'Sample', 'UMI']
missing_cols = set(cols).difference(set(df.columns))
for missing in missing_cols:
    print(missing)
    df[missing] = ""
df.head()

Sample_Plate
index
Sample_Well
index2
I5_Index_ID
Run
I7_Index_ID

,Nr,Sample_ID,Sample_Name,MID,Sample_Project,Species,Chain,ChainOriginal,Patient,Sample,...,HEK_cells,RACE,Constant,Sample_Plate,index,Sample_Well,index2,I5_Index_ID,Run,I7_Index_ID
0,S1,N701_S502,T2B001-J,NaN,Target2B,human,BCRh,BCRh,32,HC,...,no,yes,no,,,,,,,
1,S2,N702_S502,T2B002-J,NaN,Target2B,human,BCRh,BCRh,41,HC,...,no,yes,no,,,,,,,
2,S3,N703_S502,T2B003-J,NaN,Target2B,human,BCRh,BCRh,51,HC,...,no,yes,no,,,,,,,
3,S4,N704_S502,T2B004-J,NaN,Target2B,human,BCRh,BCRh,77,HC,...,no,yes,no,,,,,,,
4,S5,N706_S502,T2B008-J,NaN,Target2B,human,BCRh,BCRh,110,PF29,...,no,yes,no,,,,,,,

In [10]:
# Check for extra columns in the pt-table
extra_cols = set(df.columns).difference(set(cols))
for extra in extra_cols:
    #print(extra)
    datasheet_header = datasheet_header + "," + extra
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Niek de Vries,,,,,,,,,,,,,,
Experiment Name,run54-20240227-miseq,,,,,,,,,,,,,,
Date,27-02-2024,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI,Constant,HEK_cells,Group,MID,RACE,ChainOriginal

In [11]:
# Change the order of the columns in the data frame
cols = cols + list(extra_cols)
df = df[cols]
df.head()

,Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,...,Chain,Patient,Sample,UMI,Constant,HEK_cells,Group,MID,RACE,ChainOriginal
0,N701_S502,T2B001-J,,,,,,,,S1,...,BCRh,32,HC,yes,no,no,NaN,NaN,yes,BCRh
1,N702_S502,T2B002-J,,,,,,,,S2,...,BCRh,41,HC,yes,no,no,NaN,NaN,yes,BCRh
2,N703_S502,T2B003-J,,,,,,,,S3,...,BCRh,51,HC,yes,no,no,NaN,NaN,yes,BCRh
3,N704_S502,T2B004-J,,,,,,,,S4,...,BCRh,77,HC,yes,no,no,NaN,NaN,yes,BCRh
4,N706_S502,T2B008-J,,,,,,,,S5,...,BCRh,110,PF29,yes,no,no,NaN,NaN,yes,BCRh

## Glue together the header and the values

In [12]:
df.to_csv("tmp.csv", header=None, index=None)

In [13]:
fh = open("tmp.csv")
values = fh.read().rstrip()
fh.close()

In [14]:
fhOut = open(outfile, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile, "to disk")

Wrote 20240227-DataSheet-RUN54.csv to disk

## Make separate datasheets for different types of data

In [15]:
# human TCRb
outfile_new = outfile.replace(".csv", "-human-TCRb.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "TCRb")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20240227-DataSheet-RUN54-human-TCRb.csv to disk

In [16]:
# human BCRh UMI
outfile_new = outfile.replace(".csv", "-human-BCRh-UMI.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['UMI'] == "yes") & (df['RACE'] == "no")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20240227-DataSheet-RUN54-human-BCRh-UMI.csv to disk

In [17]:
# human RACE+Constant
outfile_new = outfile.replace(".csv", "-human-RACE-plus-Contant.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['RACE'] == "yes") & (df['Constant'] == "yes")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20240227-DataSheet-RUN54-human-RACE-plus-Contant.csv to disk

In [18]:
# human RACE-Constant
outfile_new = outfile.replace(".csv", "-human-RACE-min-Contant.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['RACE'] == "yes") & (df['Constant'] == "no")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20240227-DataSheet-RUN54-human-RACE-min-Contant.csv to disk

In [19]:
# human HLA
outfile_new = outfile.replace(".csv", "-human-HLA.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'].str.startswith("HLA"))]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20240227-DataSheet-RUN54-human-HLA.csv to disk