In [1]:
import os
import pandas as pd

In [2]:
outfile = "20220118-DataSheet-RUN22-ADA.csv"

## Fill in header of the data sheet

In [3]:
fh = open("DataSheetHeader.csv")
datasheet_header = fh.read().rstrip()
fh.close()

In [4]:
datasheet_header = datasheet_header.replace("INVESTIGATOR", "Niek de Vries")
datasheet_header = datasheet_header.replace("RUNNAME", "run22-20220118-miseq-ada")
datasheet_header = datasheet_header.replace("DATE", "18-01-2022")
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Niek de Vries,,,,,,,,,,,,,,
Experiment Name,run22-20220118-miseq-ada,,,,,,,,,,,,,,
Date,18-01-2022,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI

## Read PT table

In [5]:
mydir = "/home/barbera/Downloads/Dornatien/project-20220118-ADA-nucleotides/data/meta/"
os.listdir(mydir)

['run22-ada-nucleotides.csv',
 'Samples for mutation analysis and extraction of nucleotide sequences.xlsx']

In [6]:
df = pd.read_csv(mydir + 'run22-ada-nucleotides.csv', sep=';')
df.head()

,Samples order,Sample_ID,Sample name,Project,Species,Chain,Patient,Sample,UMI (yes or no)
0,S9,N711_S502,AB-ADA02-Bu,ABI-ADA,human,BCRh,10-01-0014,V5-M6,YES
1,S10,N712_S502,AB-ADA03-Bu,ABI-ADA,human,BCRh,40-01-0015,V2-M0,YES
2,S11,N714_S502,AB-ADA05-Bu,ABI-ADA,human,BCRh,09-01-0019,V2-M0,YES
3,S12,N715_S502,AB-ADA07-2-Bu,ABI-ADA,human,BCRh,10-01-0013,V2-M0,YES
4,S13,N716_S502,AB-ADA09-Bu,ABI-ADA,human,BCRh,09-01-0016,V3-M1,YES

In [7]:
df['UMI (yes or no)'] = [x for x in map(str.lower, df['UMI (yes or no)'])]
df.head()

,Samples order,Sample_ID,Sample name,Project,Species,Chain,Patient,Sample,UMI (yes or no)
0,S9,N711_S502,AB-ADA02-Bu,ABI-ADA,human,BCRh,10-01-0014,V5-M6,yes
1,S10,N712_S502,AB-ADA03-Bu,ABI-ADA,human,BCRh,40-01-0015,V2-M0,yes
2,S11,N714_S502,AB-ADA05-Bu,ABI-ADA,human,BCRh,09-01-0019,V2-M0,yes
3,S12,N715_S502,AB-ADA07-2-Bu,ABI-ADA,human,BCRh,10-01-0013,V2-M0,yes
4,S13,N716_S502,AB-ADA09-Bu,ABI-ADA,human,BCRh,09-01-0016,V3-M1,yes

In [8]:
df.columns

Index(['Samples order', 'Sample_ID', 'Sample name', 'Project', 'Species',
       'Chain', 'Patient', 'Sample', 'UMI (yes or no)'],
      dtype='object')

In [9]:
# Rename columns to match it to the DatasheetHeader
df = df.rename(columns={'Samples order': 'Nr',
                  'Sample_ID': 'Sample_ID',
                  'Sample name': 'Sample_Name',
                  'Project': 'Sample_Project',
                  'UMI (yes or no)': 'UMI',
                  'HEK cells (yes or no)': 'HEK_cells',
                  'RACE (yes or no)': 'RACE',
                  'Constant (yes or no)': 'Constant'})
df.head()

,Nr,Sample_ID,Sample_Name,Sample_Project,Species,Chain,Patient,Sample,UMI
0,S9,N711_S502,AB-ADA02-Bu,ABI-ADA,human,BCRh,10-01-0014,V5-M6,yes
1,S10,N712_S502,AB-ADA03-Bu,ABI-ADA,human,BCRh,40-01-0015,V2-M0,yes
2,S11,N714_S502,AB-ADA05-Bu,ABI-ADA,human,BCRh,09-01-0019,V2-M0,yes
3,S12,N715_S502,AB-ADA07-2-Bu,ABI-ADA,human,BCRh,10-01-0013,V2-M0,yes
4,S13,N716_S502,AB-ADA09-Bu,ABI-ADA,human,BCRh,09-01-0016,V3-M1,yes

In [10]:
# Add missing columns
cols = ['Sample_ID', 'Sample_Name', 'Sample_Plate', 'Sample_Well', 'I7_Index_ID', 'index', 'I5_Index_ID', 'index2', 'Run', 'Nr', 'Sample_Project', 'Species', 'Chain', 'Patient', 'Sample', 'UMI']
missing_cols = set(cols).difference(set(df.columns))
for missing in missing_cols:
    print(missing)
    df[missing] = ""
df.head()

Sample_Plate
index
Sample_Well
index2
Run
I5_Index_ID
I7_Index_ID

,Nr,Sample_ID,Sample_Name,Sample_Project,Species,Chain,Patient,Sample,UMI,Sample_Plate,index,Sample_Well,index2,Run,I5_Index_ID,I7_Index_ID
0,S9,N711_S502,AB-ADA02-Bu,ABI-ADA,human,BCRh,10-01-0014,V5-M6,yes,,,,,,,
1,S10,N712_S502,AB-ADA03-Bu,ABI-ADA,human,BCRh,40-01-0015,V2-M0,yes,,,,,,,
2,S11,N714_S502,AB-ADA05-Bu,ABI-ADA,human,BCRh,09-01-0019,V2-M0,yes,,,,,,,
3,S12,N715_S502,AB-ADA07-2-Bu,ABI-ADA,human,BCRh,10-01-0013,V2-M0,yes,,,,,,,
4,S13,N716_S502,AB-ADA09-Bu,ABI-ADA,human,BCRh,09-01-0016,V3-M1,yes,,,,,,,

In [11]:
# Check for extra columns in the pt-table
extra_cols = set(df.columns).difference(set(cols))
for extra in extra_cols:
    #print(extra)
    datasheet_header = datasheet_header + "," + extra
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Niek de Vries,,,,,,,,,,,,,,
Experiment Name,run22-20220118-miseq-ada,,,,,,,,,,,,,,
Date,18-01-2022,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI

In [12]:
# Change the order of the columns in the data frame
cols = cols + list(extra_cols)
df = df[cols]
df.head()

,Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI
0,N711_S502,AB-ADA02-Bu,,,,,,,,S9,ABI-ADA,human,BCRh,10-01-0014,V5-M6,yes
1,N712_S502,AB-ADA03-Bu,,,,,,,,S10,ABI-ADA,human,BCRh,40-01-0015,V2-M0,yes
2,N714_S502,AB-ADA05-Bu,,,,,,,,S11,ABI-ADA,human,BCRh,09-01-0019,V2-M0,yes
3,N715_S502,AB-ADA07-2-Bu,,,,,,,,S12,ABI-ADA,human,BCRh,10-01-0013,V2-M0,yes
4,N716_S502,AB-ADA09-Bu,,,,,,,,S13,ABI-ADA,human,BCRh,09-01-0016,V3-M1,yes

## Glue together the header and the values

In [13]:
df.to_csv("tmp.csv", header=None, index=None)

In [14]:
fh = open("tmp.csv")
values = fh.read().rstrip()
fh.close()

In [15]:
fhOut = open(outfile, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile, "to disk")

Wrote 20220118-DataSheet-RUN22-ADA.csv to disk

## Make separate datasheets for different types of data

In [15]:
# human TCRb
outfile_new = outfile.replace(".csv", "-human-TCRb.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "TCRb")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20210621-DataSheet-RUN41-human-TCRb.csv to disk

In [16]:
# human BCRh UMI
outfile_new = outfile.replace(".csv", "-human-BCRh-UMI.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['UMI'] == "yes") & (df['RACE'] == "no")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20210621-DataSheet-RUN41-human-BCRh-UMI.csv to disk

In [17]:
# human RACE+Constant
outfile_new = outfile.replace(".csv", "-human-RACE-plus-Contant.csv")
df_selection = df[(df['Species'] == "human") & (df['RACE'] == "yes") & (df['Constant'] == "yes")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20210621-DataSheet-RUN41-human-RACE-plus-Contant.csv to disk

In [18]:
# human RACE-Constant
outfile_new = outfile.replace(".csv", "-human-RACE-min-Contant.csv")
df_selection = df[(df['Species'] == "human") & (df['RACE'] == "yes") & (df['Constant'] == "no")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20210621-DataSheet-RUN41-human-RACE-min-Contant.csv to disk

In [19]:
# human HLA
outfile_new = outfile.replace(".csv", "-human-HLA.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'].str.startswith("HLA"))]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20210621-DataSheet-RUN41-human-HLA.csv to disk