In [1]:
import os
import pandas as pd

In [2]:
outfile = "20230823-DataSheet-RUN52.csv"

## Fill in header of the data sheet

In [3]:
fh = open("DataSheetHeader.csv")
datasheet_header = fh.read().rstrip()
fh.close()

In [4]:
datasheet_header = datasheet_header.replace("INVESTIGATOR", "Niek de Vries")
datasheet_header = datasheet_header.replace("RUNNAME", "run52-20230823-miseq")
datasheet_header = datasheet_header.replace("DATE", "23-08-2023")
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Niek de Vries,,,,,,,,,,,,,,
Experiment Name,run52-20230823-miseq,,,,,,,,,,,,,,
Date,23-08-2023,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI

## Read PT table

In [5]:
mydir = "./run52-20230823-miseq/Data/NameOfDataset_1/Meta/"
os.listdir(mydir)

['.~lock.run52-miseq-v2.csv#',
 'run52-miseq-v2.csv',
 '0_README.md',
 'run52-miseq.csv']

In [6]:
df = pd.read_csv(mydir + 'run52-miseq-v2.csv', sep=",")
df.head()

,Samples order,Sample_ID,Sample name,MID,Project,Species,Chain,Patient,Sample,Group,UMI (yes or no),HEK cells (yes or no),RACE (yes or no),Constant (yes or no)
0,S1,N701_S502,AB-RTX56-Tu,NaN,AB-RTX,human,TCRb,10-01-0003,V6_M12,NaN,yes,no,no,no
1,S2,N702_S502,AB-RTX58-Tu,NaN,AB-RTX,human,TCRb,10-01-0007,V6_M12,NaN,yes,no,no,no
2,S3,N703_S502,AB-RTX59-Tu,NaN,AB-RTX,human,TCRb,10-04-0007,V6_M12,NaN,yes,no,no,no
3,S4,N704_S502,AB-RTX60-Tu,NaN,AB-RTX,human,TCRb,40-01-0014,V6_M12,NaN,yes,no,no,no
4,S5,N705_S502,AB-RTX61-Tu,NaN,AB-RTX,human,TCRb,40-01-0016,V6_M12,NaN,yes,no,no,no

In [7]:
df.columns

Index(['Samples order', 'Sample_ID', 'Sample name', 'MID', 'Project',
       'Species', 'Chain', 'Patient', 'Sample', 'Group', 'UMI (yes or no)',
       'HEK cells (yes or no)', 'RACE (yes or no)', 'Constant (yes or no)'],
      dtype='object')

In [8]:
# Rename columns to match it to the DatasheetHeader
df = df.rename(columns={'Samples order': 'Nr',
                  'Sample_ID': 'Sample_ID',
                  'Sample name': 'Sample_Name',
                  'Project': 'Sample_Project',
                  'UMI (yes or no)': 'UMI',
                  'HEK cells (yes or no)': 'HEK_cells',
                  'RACE (yes or no)': 'RACE',
                  'Constant (yes or no)': 'Constant'})
df.head()

,Nr,Sample_ID,Sample_Name,MID,Sample_Project,Species,Chain,Patient,Sample,Group,UMI,HEK_cells,RACE,Constant
0,S1,N701_S502,AB-RTX56-Tu,NaN,AB-RTX,human,TCRb,10-01-0003,V6_M12,NaN,yes,no,no,no
1,S2,N702_S502,AB-RTX58-Tu,NaN,AB-RTX,human,TCRb,10-01-0007,V6_M12,NaN,yes,no,no,no
2,S3,N703_S502,AB-RTX59-Tu,NaN,AB-RTX,human,TCRb,10-04-0007,V6_M12,NaN,yes,no,no,no
3,S4,N704_S502,AB-RTX60-Tu,NaN,AB-RTX,human,TCRb,40-01-0014,V6_M12,NaN,yes,no,no,no
4,S5,N705_S502,AB-RTX61-Tu,NaN,AB-RTX,human,TCRb,40-01-0016,V6_M12,NaN,yes,no,no,no

In [9]:
# Add missing columns
cols = ['Sample_ID', 'Sample_Name', 'Sample_Plate', 'Sample_Well', 'I7_Index_ID', 'index', 'I5_Index_ID', 'index2', 'Run', 'Nr', 'Sample_Project', 'Species', 'Chain', 'Patient', 'Sample', 'UMI']
missing_cols = set(cols).difference(set(df.columns))
for missing in missing_cols:
    print(missing)
    df[missing] = ""
df.head()

index2
index
Run
I7_Index_ID
I5_Index_ID
Sample_Well
Sample_Plate

,Nr,Sample_ID,Sample_Name,MID,Sample_Project,Species,Chain,Patient,Sample,Group,...,HEK_cells,RACE,Constant,index2,index,Run,I7_Index_ID,I5_Index_ID,Sample_Well,Sample_Plate
0,S1,N701_S502,AB-RTX56-Tu,NaN,AB-RTX,human,TCRb,10-01-0003,V6_M12,NaN,...,no,no,no,,,,,,,
1,S2,N702_S502,AB-RTX58-Tu,NaN,AB-RTX,human,TCRb,10-01-0007,V6_M12,NaN,...,no,no,no,,,,,,,
2,S3,N703_S502,AB-RTX59-Tu,NaN,AB-RTX,human,TCRb,10-04-0007,V6_M12,NaN,...,no,no,no,,,,,,,
3,S4,N704_S502,AB-RTX60-Tu,NaN,AB-RTX,human,TCRb,40-01-0014,V6_M12,NaN,...,no,no,no,,,,,,,
4,S5,N705_S502,AB-RTX61-Tu,NaN,AB-RTX,human,TCRb,40-01-0016,V6_M12,NaN,...,no,no,no,,,,,,,

In [10]:
# Check for extra columns in the pt-table
extra_cols = set(df.columns).difference(set(cols))
for extra in extra_cols:
    #print(extra)
    datasheet_header = datasheet_header + "," + extra
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Niek de Vries,,,,,,,,,,,,,,
Experiment Name,run52-20230823-miseq,,,,,,,,,,,,,,
Date,23-08-2023,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI,Constant,MID,HEK_cells,Group,RACE

In [11]:
# Change the order of the columns in the data frame
cols = cols + list(extra_cols)
df = df[cols]
df.head()

,Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,...,Species,Chain,Patient,Sample,UMI,Constant,MID,HEK_cells,Group,RACE
0,N701_S502,AB-RTX56-Tu,,,,,,,,S1,...,human,TCRb,10-01-0003,V6_M12,yes,no,NaN,no,NaN,no
1,N702_S502,AB-RTX58-Tu,,,,,,,,S2,...,human,TCRb,10-01-0007,V6_M12,yes,no,NaN,no,NaN,no
2,N703_S502,AB-RTX59-Tu,,,,,,,,S3,...,human,TCRb,10-04-0007,V6_M12,yes,no,NaN,no,NaN,no
3,N704_S502,AB-RTX60-Tu,,,,,,,,S4,...,human,TCRb,40-01-0014,V6_M12,yes,no,NaN,no,NaN,no
4,N705_S502,AB-RTX61-Tu,,,,,,,,S5,...,human,TCRb,40-01-0016,V6_M12,yes,no,NaN,no,NaN,no

## Glue together the header and the values

In [12]:
df.to_csv("tmp.csv", header=None, index=None)

In [13]:
fh = open("tmp.csv")
values = fh.read().rstrip()
fh.close()

In [14]:
fhOut = open(outfile, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile, "to disk")

Wrote 20230823-DataSheet-RUN52.csv to disk

## Make separate datasheets for different types of data

In [15]:
# human TCRb
outfile_new = outfile.replace(".csv", "-human-TCRb.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "TCRb")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20230823-DataSheet-RUN52-human-TCRb.csv to disk

In [16]:
# human BCRh UMI
outfile_new = outfile.replace(".csv", "-human-BCRh-UMI.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['UMI'] == "yes") & (df['RACE'] == "no")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20230823-DataSheet-RUN52-human-BCRh-UMI.csv to disk

In [17]:
# human RACE+Constant
outfile_new = outfile.replace(".csv", "-human-RACE-plus-Contant.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['RACE'] == "yes") & (df['Constant'] == "yes")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20230823-DataSheet-RUN52-human-RACE-plus-Contant.csv to disk

In [18]:
# human RACE-Constant
outfile_new = outfile.replace(".csv", "-human-RACE-min-Contant.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['RACE'] == "yes") & (df['Constant'] == "no")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20230823-DataSheet-RUN52-human-RACE-min-Contant.csv to disk

In [19]:
# human HLA
outfile_new = outfile.replace(".csv", "-human-HLA.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'].str.startswith("HLA"))]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20230823-DataSheet-RUN52-human-HLA.csv to disk

In [20]:
# mouse BCRh
outfile_new = outfile.replace(".csv", "-mouse-BCRh.csv")
df_selection = df[(df['Species'] == "mouse") & (df['Chain'] == "BCRh")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20230823-DataSheet-RUN52-mouse-BCRh.csv to disk