In [1]:
import os
import pandas as pd

In [2]:
outfile = "20230912-DataSheet-Roche-TEC.csv"

## Fill in header of the data sheet

In [3]:
fh = open("DataSheetHeader.csv")
datasheet_header = fh.read().rstrip()
fh.close()

In [4]:
datasheet_header = datasheet_header.replace("INVESTIGATOR", "Niek de Vries")
datasheet_header = datasheet_header.replace("RUNNAME", "project-20230912-TEC-TCRb")
datasheet_header = datasheet_header.replace("DATE", "12-09-2023")
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Niek de Vries,,,,,,,,,,,,,,
Experiment Name,project-20230912-TEC-TCRb,,,,,,,,,,,,,,
Date,12-09-2023,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI

## Read PT table

In [17]:
mydir = "project-20230912-TEC-TCRb/Data/NameOfDataset_1/Meta/"
os.listdir(mydir)

['TEC-samples.xlsx', '0_README.md']

In [18]:
df = pd.read_excel(mydir + 'TEC-samples.xlsx')
df.head()

,RUN,species,region,MID.ID,MID,Sample_Name,Tissue,Reads.N,chain
0,run217,human,1,28,TTGAGTGCTC,TEC03-1,blood,5000.0,TCRb
1,run217,human,1,31,TGCGCGGCTC,TEC03-1 biopt,nerve Biopsy,5000.0,TCRb
2,run245,human,2,21,TGCGACGCTC,TEC027,blood,NaN,TCRb
3,run245,human,1,5,TGGACGCTCA,TEC039,blood,6000.0,TCRb
4,run245,human,1,14,CTTAGGCTCA,TEC051,nerve Biopsy,6000.0,TCRb

In [19]:
df.columns

Index(['RUN', 'species', 'region', 'MID.ID', 'MID', 'Sample_Name', 'Tissue',
       'Reads.N', 'chain'],
      dtype='object')

In [20]:
df['Samples order'] = "S1"
df['Sample_Project'] = "TEC"
df['Patient'] = "?"

In [21]:
# Rename columns to match it to the DatasheetHeader
df = df.rename(columns={'Samples order': 'Nr',
                  'MID.ID': 'Sample_ID',
                  'Sample name': 'Sample_Name',
                  'Project': 'Sample_Project',
                  'UMI (yes or no)': 'UMI',
                  'HEK cells (yes or no)': 'HEK_cells',
                  'RACE (yes or no)': 'RACE',
                  'species': "Species",
                  'chain': "Chain",
                  'RUN': 'Run',
                  'Tissue': 'Sample',
                  'Constant (yes or no)': 'Constant'})
df.head()

,Run,Species,region,Sample_ID,MID,Sample_Name,Sample,Reads.N,Chain,Nr,Sample_Project,Patient
0,run217,human,1,28,TTGAGTGCTC,TEC03-1,blood,5000.0,TCRb,S1,TEC,?
1,run217,human,1,31,TGCGCGGCTC,TEC03-1 biopt,nerve Biopsy,5000.0,TCRb,S1,TEC,?
2,run245,human,2,21,TGCGACGCTC,TEC027,blood,NaN,TCRb,S1,TEC,?
3,run245,human,1,5,TGGACGCTCA,TEC039,blood,6000.0,TCRb,S1,TEC,?
4,run245,human,1,14,CTTAGGCTCA,TEC051,nerve Biopsy,6000.0,TCRb,S1,TEC,?

In [22]:
# Add missing columns
cols = ['Sample_ID', 'Sample_Name', 'Sample_Plate', 'Sample_Well', 'I7_Index_ID', 'index', 'I5_Index_ID', 'index2', 'Run', 'Nr', 'Sample_Project', 'Species', 'Chain', 'Patient', 'Sample', 'UMI']
missing_cols = set(cols).difference(set(df.columns))
for missing in missing_cols:
    print(missing)
    df[missing] = ""
df.head()

Sample_Plate
I7_Index_ID
I5_Index_ID
index2
UMI
Sample_Well
index

,Run,Species,region,Sample_ID,MID,Sample_Name,Sample,Reads.N,Chain,Nr,Sample_Project,Patient,Sample_Plate,I7_Index_ID,I5_Index_ID,index2,UMI,Sample_Well,index
0,run217,human,1,28,TTGAGTGCTC,TEC03-1,blood,5000.0,TCRb,S1,TEC,?,,,,,,,
1,run217,human,1,31,TGCGCGGCTC,TEC03-1 biopt,nerve Biopsy,5000.0,TCRb,S1,TEC,?,,,,,,,
2,run245,human,2,21,TGCGACGCTC,TEC027,blood,NaN,TCRb,S1,TEC,?,,,,,,,
3,run245,human,1,5,TGGACGCTCA,TEC039,blood,6000.0,TCRb,S1,TEC,?,,,,,,,
4,run245,human,1,14,CTTAGGCTCA,TEC051,nerve Biopsy,6000.0,TCRb,S1,TEC,?,,,,,,,

In [23]:
# Check for extra columns in the pt-table
extra_cols = set(df.columns).difference(set(cols))
for extra in extra_cols:
    #print(extra)
    datasheet_header = datasheet_header + "," + extra
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Niek de Vries,,,,,,,,,,,,,,
Experiment Name,project-20230912-TEC-TCRb,,,,,,,,,,,,,,
Date,12-09-2023,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI,region,Reads.N,MID,Tissue,region,Reads.N,MID

In [24]:
# Change the order of the columns in the data frame
cols = cols + list(extra_cols)
df = df[cols]
df.head()

,Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI,region,Reads.N,MID
0,28,TEC03-1,,,,,,,run217,S1,TEC,human,TCRb,?,blood,,1,5000.0,TTGAGTGCTC
1,31,TEC03-1 biopt,,,,,,,run217,S1,TEC,human,TCRb,?,nerve Biopsy,,1,5000.0,TGCGCGGCTC
2,21,TEC027,,,,,,,run245,S1,TEC,human,TCRb,?,blood,,2,NaN,TGCGACGCTC
3,5,TEC039,,,,,,,run245,S1,TEC,human,TCRb,?,blood,,1,6000.0,TGGACGCTCA
4,14,TEC051,,,,,,,run245,S1,TEC,human,TCRb,?,nerve Biopsy,,1,6000.0,CTTAGGCTCA

## Glue together the header and the values

In [25]:
df.to_csv("tmp.csv", header=None, index=None)

In [26]:
fh = open("tmp.csv")
values = fh.read().rstrip()
fh.close()

In [27]:
fhOut = open(outfile, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile, "to disk")

Wrote 20230912-DataSheet-Roche-TEC.csv to disk

## Make separate datasheets for different types of data

In [15]:
# human TCRb
outfile_new = outfile.replace(".csv", "-human-TCRb.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "TCRb")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20220221-DataSheet-RUN45-human-TCRb.csv to disk

In [16]:
# human BCRh UMI
outfile_new = outfile.replace(".csv", "-human-BCRh-UMI.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['UMI'] == "yes") & (df['RACE'] == "no")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20220221-DataSheet-RUN45-human-BCRh-UMI.csv to disk

In [17]:
# human RACE+Constant
outfile_new = outfile.replace(".csv", "-human-RACE-plus-Contant.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['RACE'] == "yes") & (df['Constant'] == "yes")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20220221-DataSheet-RUN45-human-RACE-plus-Contant.csv to disk

In [18]:
# human RACE-Constant
outfile_new = outfile.replace(".csv", "-human-RACE-min-Contant.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['RACE'] == "yes") & (df['Constant'] == "no")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20220221-DataSheet-RUN45-human-RACE-min-Contant.csv to disk

In [19]:
# human HLA
outfile_new = outfile.replace(".csv", "-human-HLA.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'].str.startswith("HLA"))]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20220221-DataSheet-RUN45-human-HLA.csv to disk