In [1]:
import os
import pandas as pd

In [2]:
outfile = "20220420-DataSheet-Linda.csv"

## Fill in header of the data sheet

In [3]:
fh = open("DataSheetHeader.csv")
datasheet_header = fh.read().rstrip()
fh.close()

In [4]:
datasheet_header = datasheet_header.replace("INVESTIGATOR", "Niek de Vries")
datasheet_header = datasheet_header.replace("RUNNAME", "project-20220420-linda")
datasheet_header = datasheet_header.replace("DATE", "20-04-2022")
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Niek de Vries,,,,,,,,,,,,,,
Experiment Name,project-20220420-linda,,,,,,,,,,,,,,
Date,20-04-2022,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI

## Read PT table

In [5]:
mydir = "/home/barbera/Downloads/LindaVanDerWeele/Willink/"
os.listdir(mydir)

['Final-list-of-samples.xlsx',
 '.ipynb_checkpoints',
 'SAMPLES',
 'ListSampleFiles.ipynb',
 'list-samples.sh']

In [6]:
df = pd.read_excel(mydir + 'Final-list-of-samples.xlsx')
df.head()

,Samples order,ID,Sample name,MID,Project,Species,Chain,Pt ID,Sample,UMI (yes or no),Sample.ID,RUN
0,S159,N701_S513,AS13B-totalB-U,NaN,Wilbrink,human,BCRh,AS13B,total B-cells,yes,AS13B-totalB-U_S159,43
1,S160,N702_S513,AS13B-plas-U,NaN,Wilbrink,human,BCRh,AS13B,plasmablasts,yes,AS13B-plas-U_S160,43
2,S161,N703_S513,AS13B-CD27m-U,NaN,Wilbrink,human,BCRh,AS13B,CD27-CD38lowCD21low,yes,AS13B-CD27m-U_S161,43
3,S105,N701_S508,AS26-totalB-U,NaN,Wilbrink,human,BCRh,AS26,total B-cells,yes,AS26-totalB-U_S105,43
4,S106,N702_S508,AS26-plas-U,NaN,Wilbrink,human,BCRh,AS26,plasmablasts,yes,AS26-plas-U_S106,43

In [7]:
df.columns

Index(['Samples order', 'ID', 'Sample name', 'MID', 'Project', 'Species',
       'Chain', 'Pt ID', 'Sample', 'UMI (yes or no)', 'Sample.ID', 'RUN'],
      dtype='object')

In [9]:
# Rename columns to match it to the DatasheetHeader
df = df.rename(columns={'Samples order': 'Nr',
                  'ID': 'Sample_ID',
                  'Sample name': 'Sample_Name',
                  'Project': 'Sample_Project',
                  'Pt ID': 'Patient',
                  'UMI (yes or no)': 'UMI',
                  'HEK cells (yes or no)': 'HEK_cells',
                  'RACE (yes or no)': 'RACE',
                  'Constant (yes or no)': 'Constant'})
df.head()

,Nr,Sample_ID,Sample_Name,MID,Sample_Project,Species,Chain,Patient,Sample,UMI,Sample.ID,RUN
0,S159,N701_S513,AS13B-totalB-U,NaN,Wilbrink,human,BCRh,AS13B,total B-cells,yes,AS13B-totalB-U_S159,43
1,S160,N702_S513,AS13B-plas-U,NaN,Wilbrink,human,BCRh,AS13B,plasmablasts,yes,AS13B-plas-U_S160,43
2,S161,N703_S513,AS13B-CD27m-U,NaN,Wilbrink,human,BCRh,AS13B,CD27-CD38lowCD21low,yes,AS13B-CD27m-U_S161,43
3,S105,N701_S508,AS26-totalB-U,NaN,Wilbrink,human,BCRh,AS26,total B-cells,yes,AS26-totalB-U_S105,43
4,S106,N702_S508,AS26-plas-U,NaN,Wilbrink,human,BCRh,AS26,plasmablasts,yes,AS26-plas-U_S106,43

In [10]:
# Add missing columns
cols = ['Sample_ID', 'Sample_Name', 'Sample_Plate', 'Sample_Well', 'I7_Index_ID', 'index', 'I5_Index_ID', 'index2', 'Run', 'Nr', 'Sample_Project', 'Species', 'Chain', 'Patient', 'Sample', 'UMI']
missing_cols = set(cols).difference(set(df.columns))
for missing in missing_cols:
    print(missing)
    df[missing] = ""
df.head()

I7_Index_ID
Sample_Well
I5_Index_ID
index
Run
Sample_Plate
index2

,Nr,Sample_ID,Sample_Name,MID,Sample_Project,Species,Chain,Patient,Sample,UMI,Sample.ID,RUN,I7_Index_ID,Sample_Well,I5_Index_ID,index,Run,Sample_Plate,index2
0,S159,N701_S513,AS13B-totalB-U,NaN,Wilbrink,human,BCRh,AS13B,total B-cells,yes,AS13B-totalB-U_S159,43,,,,,,,
1,S160,N702_S513,AS13B-plas-U,NaN,Wilbrink,human,BCRh,AS13B,plasmablasts,yes,AS13B-plas-U_S160,43,,,,,,,
2,S161,N703_S513,AS13B-CD27m-U,NaN,Wilbrink,human,BCRh,AS13B,CD27-CD38lowCD21low,yes,AS13B-CD27m-U_S161,43,,,,,,,
3,S105,N701_S508,AS26-totalB-U,NaN,Wilbrink,human,BCRh,AS26,total B-cells,yes,AS26-totalB-U_S105,43,,,,,,,
4,S106,N702_S508,AS26-plas-U,NaN,Wilbrink,human,BCRh,AS26,plasmablasts,yes,AS26-plas-U_S106,43,,,,,,,

In [11]:
# Check for extra columns in the pt-table
extra_cols = set(df.columns).difference(set(cols))
for extra in extra_cols:
    #print(extra)
    datasheet_header = datasheet_header + "," + extra
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Niek de Vries,,,,,,,,,,,,,,
Experiment Name,project-20220420-linda,,,,,,,,,,,,,,
Date,20-04-2022,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI,MID,RUN,Sample.ID

In [12]:
# Change the order of the columns in the data frame
cols = cols + list(extra_cols)
df = df[cols]
df.head()

,Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI,MID,RUN,Sample.ID
0,N701_S513,AS13B-totalB-U,,,,,,,,S159,Wilbrink,human,BCRh,AS13B,total B-cells,yes,NaN,43,AS13B-totalB-U_S159
1,N702_S513,AS13B-plas-U,,,,,,,,S160,Wilbrink,human,BCRh,AS13B,plasmablasts,yes,NaN,43,AS13B-plas-U_S160
2,N703_S513,AS13B-CD27m-U,,,,,,,,S161,Wilbrink,human,BCRh,AS13B,CD27-CD38lowCD21low,yes,NaN,43,AS13B-CD27m-U_S161
3,N701_S508,AS26-totalB-U,,,,,,,,S105,Wilbrink,human,BCRh,AS26,total B-cells,yes,NaN,43,AS26-totalB-U_S105
4,N702_S508,AS26-plas-U,,,,,,,,S106,Wilbrink,human,BCRh,AS26,plasmablasts,yes,NaN,43,AS26-plas-U_S106

## Glue together the header and the values

In [13]:
df.to_csv("tmp.csv", header=None, index=None)

In [14]:
fh = open("tmp.csv")
values = fh.read().rstrip()
fh.close()

In [15]:
fhOut = open(outfile, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile, "to disk")

Wrote 20220420-DataSheet-Linda.csv to disk

## Make separate datasheets for different types of data

In [15]:
# human TCRb
outfile_new = outfile.replace(".csv", "-human-TCRb.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "TCRb")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20220221-DataSheet-RUN45-human-TCRb.csv to disk

In [16]:
# human BCRh UMI
outfile_new = outfile.replace(".csv", "-human-BCRh-UMI.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['UMI'] == "yes") & (df['RACE'] == "no")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20220221-DataSheet-RUN45-human-BCRh-UMI.csv to disk

In [17]:
# human RACE+Constant
outfile_new = outfile.replace(".csv", "-human-RACE-plus-Contant.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['RACE'] == "yes") & (df['Constant'] == "yes")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20220221-DataSheet-RUN45-human-RACE-plus-Contant.csv to disk

In [18]:
# human RACE-Constant
outfile_new = outfile.replace(".csv", "-human-RACE-min-Contant.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['RACE'] == "yes") & (df['Constant'] == "no")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20220221-DataSheet-RUN45-human-RACE-min-Contant.csv to disk

In [19]:
# human HLA
outfile_new = outfile.replace(".csv", "-human-HLA.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'].str.startswith("HLA"))]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20220221-DataSheet-RUN45-human-HLA.csv to disk