In [1]:
import os
import pandas as pd

In [2]:
outfile = "20220718-DataSheet-RUN48.csv"

## Fill in header of the data sheet

In [3]:
fh = open("DataSheetHeader.csv")
datasheet_header = fh.read().rstrip()
fh.close()

In [4]:
datasheet_header = datasheet_header.replace("INVESTIGATOR", "Niek de Vries")
datasheet_header = datasheet_header.replace("RUNNAME", "run48-20220718-miseq")
datasheet_header = datasheet_header.replace("DATE", "18-07-2022")
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Niek de Vries,,,,,,,,,,,,,,
Experiment Name,run48-20220718-miseq,,,,,,,,,,,,,,
Date,18-07-2022,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI

## Read PT table

In [5]:
mydir = "/home/barbera/Downloads/run48/"
os.listdir(mydir)

['20220714_MSrun048_pt-table.csv']

In [6]:
df = pd.read_csv(mydir + '20220714_MSrun048_pt-table.csv', sep=';')
df.head()

,Samples order,Sample_ID,Sample name,MID,Project,Species,Chain,Patient,Sample,UMI (yes or no),HEK cells (yes or no),RACE (yes or no),Constant (yes or no)
0,S1,N701_S502,T2B006-U,NaN,Target2B,human,BCRh,17,HC,yes,no,no,no
1,S2,N702_S502,T2B008-U,NaN,Target2B,human,BCRh,110,PF29,yes,no,no,no
2,S3,N703_S502,T2B009-U,NaN,Target2B,human,BCRh,137,PV26 01,yes,no,no,no
3,S4,N704_S502,T2B010-U,NaN,Target2B,human,BCRh,156,B14 18-4-2012 (v7),yes,no,no,no
4,S5,N705_S502,T2B012-U,NaN,Target2B,human,BCRh,172,B53 28-3-2011 (v7),yes,no,no,no

In [7]:
df.columns

Index(['Samples order', 'Sample_ID', 'Sample name', 'MID', 'Project',
       'Species', 'Chain', 'Patient', 'Sample', 'UMI (yes or no)',
       'HEK cells (yes or no)', 'RACE (yes or no)', 'Constant (yes or no)'],
      dtype='object')

In [8]:
# Rename columns to match it to the DatasheetHeader
df = df.rename(columns={'Samples order': 'Nr',
                  'Sample_ID': 'Sample_ID',
                  'Sample name': 'Sample_Name',
                  'Project': 'Sample_Project',
                  'UMI (yes or no)': 'UMI',
                  'HEK cells (yes or no)': 'HEK_cells',
                  'RACE (yes or no)': 'RACE',
                  'Constant (yes or no)': 'Constant'})
df.head()

,Nr,Sample_ID,Sample_Name,MID,Sample_Project,Species,Chain,Patient,Sample,UMI,HEK_cells,RACE,Constant
0,S1,N701_S502,T2B006-U,NaN,Target2B,human,BCRh,17,HC,yes,no,no,no
1,S2,N702_S502,T2B008-U,NaN,Target2B,human,BCRh,110,PF29,yes,no,no,no
2,S3,N703_S502,T2B009-U,NaN,Target2B,human,BCRh,137,PV26 01,yes,no,no,no
3,S4,N704_S502,T2B010-U,NaN,Target2B,human,BCRh,156,B14 18-4-2012 (v7),yes,no,no,no
4,S5,N705_S502,T2B012-U,NaN,Target2B,human,BCRh,172,B53 28-3-2011 (v7),yes,no,no,no

In [9]:
# Add missing columns
cols = ['Sample_ID', 'Sample_Name', 'Sample_Plate', 'Sample_Well', 'I7_Index_ID', 'index', 'I5_Index_ID', 'index2', 'Run', 'Nr', 'Sample_Project', 'Species', 'Chain', 'Patient', 'Sample', 'UMI']
missing_cols = set(cols).difference(set(df.columns))
for missing in missing_cols:
    print(missing)
    df[missing] = ""
df.head()

Sample_Well
index
I5_Index_ID
I7_Index_ID
Sample_Plate
index2
Run

,Nr,Sample_ID,Sample_Name,MID,Sample_Project,Species,Chain,Patient,Sample,UMI,HEK_cells,RACE,Constant,Sample_Well,index,I5_Index_ID,I7_Index_ID,Sample_Plate,index2,Run
0,S1,N701_S502,T2B006-U,NaN,Target2B,human,BCRh,17,HC,yes,no,no,no,,,,,,,
1,S2,N702_S502,T2B008-U,NaN,Target2B,human,BCRh,110,PF29,yes,no,no,no,,,,,,,
2,S3,N703_S502,T2B009-U,NaN,Target2B,human,BCRh,137,PV26 01,yes,no,no,no,,,,,,,
3,S4,N704_S502,T2B010-U,NaN,Target2B,human,BCRh,156,B14 18-4-2012 (v7),yes,no,no,no,,,,,,,
4,S5,N705_S502,T2B012-U,NaN,Target2B,human,BCRh,172,B53 28-3-2011 (v7),yes,no,no,no,,,,,,,

In [10]:
# Check for extra columns in the pt-table
extra_cols = set(df.columns).difference(set(cols))
for extra in extra_cols:
    #print(extra)
    datasheet_header = datasheet_header + "," + extra
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Niek de Vries,,,,,,,,,,,,,,
Experiment Name,run48-20220718-miseq,,,,,,,,,,,,,,
Date,18-07-2022,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI,RACE,HEK_cells,MID,Constant

In [11]:
# Change the order of the columns in the data frame
cols = cols + list(extra_cols)
df = df[cols]
df.head()

,Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI,RACE,HEK_cells,MID,Constant
0,N701_S502,T2B006-U,,,,,,,,S1,Target2B,human,BCRh,17,HC,yes,no,no,NaN,no
1,N702_S502,T2B008-U,,,,,,,,S2,Target2B,human,BCRh,110,PF29,yes,no,no,NaN,no
2,N703_S502,T2B009-U,,,,,,,,S3,Target2B,human,BCRh,137,PV26 01,yes,no,no,NaN,no
3,N704_S502,T2B010-U,,,,,,,,S4,Target2B,human,BCRh,156,B14 18-4-2012 (v7),yes,no,no,NaN,no
4,N705_S502,T2B012-U,,,,,,,,S5,Target2B,human,BCRh,172,B53 28-3-2011 (v7),yes,no,no,NaN,no

## Glue together the header and the values

In [12]:
df.to_csv("tmp.csv", header=None, index=None)

In [13]:
fh = open("tmp.csv")
values = fh.read().rstrip()
fh.close()

In [14]:
fhOut = open(outfile, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile, "to disk")

Wrote 20220718-DataSheet-RUN48.csv to disk

## Make separate datasheets for different types of data

In [15]:
# human TCRb
outfile_new = outfile.replace(".csv", "-human-TCRb.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "TCRb")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20220718-DataSheet-RUN48-human-TCRb.csv to disk

In [16]:
# human BCRh UMI
outfile_new = outfile.replace(".csv", "-human-BCRh-UMI.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['UMI'] == "yes") & (df['RACE'] == "no")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20220718-DataSheet-RUN48-human-BCRh-UMI.csv to disk

In [17]:
# human RACE+Constant
outfile_new = outfile.replace(".csv", "-human-RACE-plus-Contant.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['RACE'] == "yes") & (df['Constant'] == "yes")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20220718-DataSheet-RUN48-human-RACE-plus-Contant.csv to disk

In [18]:
# human RACE-Constant
outfile_new = outfile.replace(".csv", "-human-RACE-min-Contant.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['RACE'] == "yes") & (df['Constant'] == "no")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20220718-DataSheet-RUN48-human-RACE-min-Contant.csv to disk

In [19]:
# human HLA
outfile_new = outfile.replace(".csv", "-human-HLA.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'].str.startswith("HLA"))]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20220718-DataSheet-RUN48-human-HLA.csv to disk