In [1]:
import os
import pandas as pd

In [33]:
outfile = "20220117-DataSheet-RUN28-AB.csv"

## Fill in header of the data sheet

In [34]:
fh = open("DataSheetHeader.csv")
datasheet_header = fh.read().rstrip()
fh.close()

In [35]:
datasheet_header = datasheet_header.replace("INVESTIGATOR", "Niek de Vries")
datasheet_header = datasheet_header.replace("RUNNAME", "run28-20220117-miseq-AB")
datasheet_header = datasheet_header.replace("DATE", "17-01-2022")
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Niek de Vries,,,,,,,,,,,,,,
Experiment Name,run28-20220117-miseq-AB,,,,,,,,,,,,,,
Date,17-01-2022,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI

## Read PT table

In [36]:
mydir = "/home/barbera/Downloads/Dornatien/project-20210117-ADAlimumab/data/meta/"
os.listdir(mydir)

['Samples for re-analysis_ADAlimumab.xlsx',
 'run24-ADAlimumab.csv',
 'run28-ADAlimumab.csv',
 'run22-ADAlimumab.csv']

In [37]:
df = pd.read_csv(mydir + 'run28-ADAlimumab.csv', sep=';')
df.head()

,Samples order,Sample_ID,Sample name,Project,Species,Chain,Patient,Sample,UMI (yes or no),RUN
0,S113,N728_S507,AB-ADA37-Bu,AB-ADA,human,BCRh,40-01-0013,V5-M6,YES,28
1,S114,N729_S507,AB-ADA84-Bu,AB-ADA,human,BCRh,40-01-0017,V3-M1,YES,28

In [38]:
# data in UMI column to lowercase
df['UMI (yes or no)'] = [x for x in map(str.lower, df['UMI (yes or no)'])]
df.head()

,Samples order,Sample_ID,Sample name,Project,Species,Chain,Patient,Sample,UMI (yes or no),RUN
0,S113,N728_S507,AB-ADA37-Bu,AB-ADA,human,BCRh,40-01-0013,V5-M6,yes,28
1,S114,N729_S507,AB-ADA84-Bu,AB-ADA,human,BCRh,40-01-0017,V3-M1,yes,28

In [39]:
df.columns

Index(['Samples order', 'Sample_ID', 'Sample name', 'Project', 'Species',
       'Chain', 'Patient', 'Sample', 'UMI (yes or no)', 'RUN'],
      dtype='object')

In [40]:
# Rename columns to match it to the DatasheetHeader
df = df.rename(columns={'Samples order': 'Nr',
                  'Sample_ID': 'Sample_ID',
                  'Sample name': 'Sample_Name',
                  'Project': 'Sample_Project',
                  'UMI (yes or no)': 'UMI',
                  'HEK cells (yes or no)': 'HEK_cells',
                  'RACE (yes or no)': 'RACE',
                  'Constant (yes or no)': 'Constant'})
df.head()

,Nr,Sample_ID,Sample_Name,Sample_Project,Species,Chain,Patient,Sample,UMI,RUN
0,S113,N728_S507,AB-ADA37-Bu,AB-ADA,human,BCRh,40-01-0013,V5-M6,yes,28
1,S114,N729_S507,AB-ADA84-Bu,AB-ADA,human,BCRh,40-01-0017,V3-M1,yes,28

In [41]:
# Add missing columns
cols = ['Sample_ID', 'Sample_Name', 'Sample_Plate', 'Sample_Well', 'I7_Index_ID', 'index', 'I5_Index_ID', 'index2', 'Run', 'Nr', 'Sample_Project', 'Species', 'Chain', 'Patient', 'Sample', 'UMI']
missing_cols = set(cols).difference(set(df.columns))
for missing in missing_cols:
    print(missing)
    df[missing] = ""
df.head()

Sample_Plate
I7_Index_ID
Run
index2
index
Sample_Well
I5_Index_ID

,Nr,Sample_ID,Sample_Name,Sample_Project,Species,Chain,Patient,Sample,UMI,RUN,Sample_Plate,I7_Index_ID,Run,index2,index,Sample_Well,I5_Index_ID
0,S113,N728_S507,AB-ADA37-Bu,AB-ADA,human,BCRh,40-01-0013,V5-M6,yes,28,,,,,,,
1,S114,N729_S507,AB-ADA84-Bu,AB-ADA,human,BCRh,40-01-0017,V3-M1,yes,28,,,,,,,

In [42]:
# Check for extra columns in the pt-table
extra_cols = set(df.columns).difference(set(cols))
for extra in extra_cols:
    #print(extra)
    datasheet_header = datasheet_header + "," + extra
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Niek de Vries,,,,,,,,,,,,,,
Experiment Name,run28-20220117-miseq-AB,,,,,,,,,,,,,,
Date,17-01-2022,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI,RUN

In [43]:
# Change the order of the columns in the data frame
cols = cols + list(extra_cols)
df = df[cols]
df.head()

,Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI,RUN
0,N728_S507,AB-ADA37-Bu,,,,,,,,S113,AB-ADA,human,BCRh,40-01-0013,V5-M6,yes,28
1,N729_S507,AB-ADA84-Bu,,,,,,,,S114,AB-ADA,human,BCRh,40-01-0017,V3-M1,yes,28

## Glue together the header and the values

In [44]:
df.to_csv("tmp.csv", header=None, index=None)

In [45]:
fh = open("tmp.csv")
values = fh.read().rstrip()
fh.close()

In [46]:
fhOut = open(outfile, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile, "to disk")

Wrote 20220117-DataSheet-RUN28-AB.csv to disk

## Make separate datasheets for different types of data

In [15]:
# human TCRb
outfile_new = outfile.replace(".csv", "-human-TCRb.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "TCRb")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20210621-DataSheet-RUN41-human-TCRb.csv to disk

In [16]:
# human BCRh UMI
outfile_new = outfile.replace(".csv", "-human-BCRh-UMI.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['UMI'] == "yes") & (df['RACE'] == "no")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20210621-DataSheet-RUN41-human-BCRh-UMI.csv to disk

In [17]:
# human RACE+Constant
outfile_new = outfile.replace(".csv", "-human-RACE-plus-Contant.csv")
df_selection = df[(df['Species'] == "human") & (df['RACE'] == "yes") & (df['Constant'] == "yes")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20210621-DataSheet-RUN41-human-RACE-plus-Contant.csv to disk

In [18]:
# human RACE-Constant
outfile_new = outfile.replace(".csv", "-human-RACE-min-Contant.csv")
df_selection = df[(df['Species'] == "human") & (df['RACE'] == "yes") & (df['Constant'] == "no")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20210621-DataSheet-RUN41-human-RACE-min-Contant.csv to disk

In [19]:
# human HLA
outfile_new = outfile.replace(".csv", "-human-HLA.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'].str.startswith("HLA"))]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

Wrote 20210621-DataSheet-RUN41-human-HLA.csv to disk