In [1]:
import pandas as pd
import os

## Fill in header of the data sheet

In [2]:
fh = open("DataSheetHeader.csv")
datasheet_header = fh.read().rstrip()
fh.close()

In [3]:
datasheet_header = datasheet_header.replace("INVESTIGATOR", "Dornatien and Aram")
datasheet_header = datasheet_header.replace("RUNNAME", "Project-DOMINO")
datasheet_header = datasheet_header.replace("DATE", "18-03-2021")
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Dornatien and Aram,,,,,,,,,,,,,,
Experiment Name,Project-DOMINO,,,,,,,,,,,,,,
Date,18-03-2021,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI

## Read DOMINO Datasheets and put it in one dataframe

In [4]:
myfiles = [x for x in os.listdir() if "DOMINO" in x]
myfiles

['20180119_RUN22_Datasheet-DOMINO.csv',
 '20180409_RUN26_Datasheet-DOMINO.csv',
 '20180723_RUN30_Datasheet-DOMINO.csv',
 '20181214_RUN33_Datasheet-DOMINO.csv',
 '20191003_RUN36_Datasheet-DOMINO.csv',
 '20200529_RUN38_Datasheet-DOMINO.csv',
 '20170821-RUN17-datasheet-UMI-DOMINO.csv',
 '20171005_RUN019_Datasheet-DOMINO.csv',
 '20171127_RUN20-Datasheet-UMI-DOMINO.csv',
 '20171218_RUN021_Datasheet-umi-DOMINO.csv',
 '20180302_RUN23_Datasheet-DOMINO.csv',
 '20180605_RUN29_Datasheet-DOMINO.csv',
 '20180921_RUN31_Datasheet-DOMINO.csv',
 '20190214_RUN34_Datasheet-DOMINO.csv',
 '20180514_RUN28_Datasheet-UMI-DOMINO.csv',
 '20181125_RUN32_Datasheet-DOMINO.csv',
 '20190609_RUN35_Datasheet-DOMINO.csv',
 '20210318-DataSheet-DOMINO-ALL.csv']

In [5]:
def readDatasheet(f):
    df = pd.read_csv(f, skiprows=20)
    cols = ['Sample_ID', 'Sample_Name', 'Run', 'Nr',
       'Sample_Project', 'Species', 'Chain', 'Patient', 'Sample', 'UMI']
    if "Patient" not in df.columns:
        df["Patient"] = "unknown"
    if "Run" not in df.columns:
        df["Run"] = "unknown"
    if "Nr" not in df.columns:
        df["Nr"] = "unknown"
    if "Sample" not in df.columns:
        df["Sample"] = "unknown"
    if "UMI" not in df.columns:
        df["UMI"] = "yes"
    df = df[cols]
    return(df)

In [6]:
df = readDatasheet(myfiles[0])
df.head()

,Sample_ID,Sample_Name,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI
0,N716_S510,DO-008V1prefroz,RUN22,S148,DOMINO,human,BCRh,DO-008,prefroz,yes
1,N718_S510,DO-008V1plasfroz,RUN22,S149,DOMINO,human,BCRh,DO-008,plasfroz,yes

In [7]:
for myfile in myfiles[1:]:
    print(myfile)
    df = pd.concat([df, readDatasheet(myfile)])

20180409_RUN26_Datasheet-DOMINO.csv
20180723_RUN30_Datasheet-DOMINO.csv
20181214_RUN33_Datasheet-DOMINO.csv
20191003_RUN36_Datasheet-DOMINO.csv
20200529_RUN38_Datasheet-DOMINO.csv
20170821-RUN17-datasheet-UMI-DOMINO.csv
20171005_RUN019_Datasheet-DOMINO.csv
20171127_RUN20-Datasheet-UMI-DOMINO.csv
20171218_RUN021_Datasheet-umi-DOMINO.csv
20180302_RUN23_Datasheet-DOMINO.csv
20180605_RUN29_Datasheet-DOMINO.csv
20180921_RUN31_Datasheet-DOMINO.csv
20190214_RUN34_Datasheet-DOMINO.csv
20180514_RUN28_Datasheet-UMI-DOMINO.csv
20181125_RUN32_Datasheet-DOMINO.csv
20190609_RUN35_Datasheet-DOMINO.csv
20210318-DataSheet-DOMINO-ALL.csv

In [8]:
df.tail()

,Sample_ID,Sample_Name,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI
348,N704_S510,DO-040V1-plas-U,plasma,yes,NaN,NaN,NaN,NaN,NaN,NaN
349,N705_S510,DO-043V1-mem-U,memory,yes,NaN,NaN,NaN,NaN,NaN,NaN
350,N706_S510,DO-043V1-plas-U,plasma,yes,NaN,NaN,NaN,NaN,NaN,NaN
351,N707_S510,DO-045V1-mem-U,memory,yes,NaN,NaN,NaN,NaN,NaN,NaN
352,N710_S510,DO-045V1-plas-U,plasma,yes,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Sometimes the header is also in the dataframe. Remove these entries
df = df[df["Sample_ID"] != "Sample_ID"]

# Glue together the header and the values

In [10]:
df.to_csv("tmp.csv", header=None, index=None)

In [11]:
fh = open("tmp.csv")
values = fh.read().rstrip()
fh.close()

In [12]:
fhOut = open("20210318-DataSheet-DOMINO-ALL.csv", "w")
print(datasheet_header + ",filename", file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote 20210318-DataSheet-DOMINO-ALL.csv to disk")

Wrote 20210318-DataSheet-DOMINO-ALL.csv to disk