In [1]:
import os
import pandas as pd

In [2]:
outfile = "20240514-DataSheet-RUN55.csv"

## Fill in header of the data sheet

In [3]:
fh = open("DataSheetHeader.csv")
datasheet_header = fh.read().rstrip()
fh.close()

In [4]:
datasheet_header = datasheet_header.replace("INVESTIGATOR", "Niek de Vries")
datasheet_header = datasheet_header.replace("RUNNAME", "run55-20240514-miseq")
datasheet_header = datasheet_header.replace("DATE", "14-05-2024")
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Niek de Vries,,,,,,,,,,,,,,
Experiment Name,run55-20240514-miseq,,,,,,,,,,,,,,
Date,14-05-2024,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI

## Read PT table

In [5]:
mydir = "./run55-20240514-miseq/Data/NameOfDataset_1/Meta/"
os.listdir(mydir)

['20240502_NSrun055_pt-table.csv', '0_README.md']

In [6]:
df = pd.read_csv(mydir + '20240502_NSrun055_pt-table.csv', sep=';')
df.head()

,Samples order,Sample_ID,Sample name,MID,Project,Species,Chain,Patient,Sample,Group,UMI (yes or no),HEK cells (yes or no),RACE (yes or no),Constant (yes or no)
0,S1,N701_S502,BP2338-pre-T,NaN,Block,human,TCRb,BP2338,pre-sort,NaN,yes,no,no,no
1,S2,N702_S502,BP2880-pre-T,NaN,Block,human,TCRb,BP2880,pre-sort,NaN,yes,no,no,no
2,S3,N705_S502,BP2880-CD4pTc-T,NaN,Block,human,TCRb,BP2880,CD4+ T cells,NaN,yes,no,no,no
3,S4,N711_S502,pSpA-004-T2,NaN,PreSpA,human,TCRb,1123034,V4,NaN,yes,no,no,no
4,S5,N712_S502,pSpA-010-T2,NaN,PreSpA,human,TCRb,1123006,V4,NaN,yes,no,no,no

In [7]:
df.columns

Index(['Samples order', 'Sample_ID', 'Sample name', 'MID', 'Project',
       'Species', 'Chain', 'Patient', 'Sample', 'Group', 'UMI (yes or no)',
       'HEK cells (yes or no)', 'RACE (yes or no)', 'Constant (yes or no)'],
      dtype='object')

In [8]:
# Rename columns to match it to the DatasheetHeader
df = df.rename(columns={'Samples order': 'Nr',
                  'Sample_ID': 'Sample_ID',
                  'Sample name': 'Sample_Name',
                  'Project': 'Sample_Project',
                  'UMI (yes or no)': 'UMI',
                  'HEK cells (yes or no)': 'HEK_cells',
                  'RACE (yes or no)': 'RACE',
                  'Constant (yes or no)': 'Constant'})
df.head()

,Nr,Sample_ID,Sample_Name,MID,Sample_Project,Species,Chain,Patient,Sample,Group,UMI,HEK_cells,RACE,Constant
0,S1,N701_S502,BP2338-pre-T,NaN,Block,human,TCRb,BP2338,pre-sort,NaN,yes,no,no,no
1,S2,N702_S502,BP2880-pre-T,NaN,Block,human,TCRb,BP2880,pre-sort,NaN,yes,no,no,no
2,S3,N705_S502,BP2880-CD4pTc-T,NaN,Block,human,TCRb,BP2880,CD4+ T cells,NaN,yes,no,no,no
3,S4,N711_S502,pSpA-004-T2,NaN,PreSpA,human,TCRb,1123034,V4,NaN,yes,no,no,no
4,S5,N712_S502,pSpA-010-T2,NaN,PreSpA,human,TCRb,1123006,V4,NaN,yes,no,no,no

In [9]:
# Add missing columns
cols = ['Sample_ID', 'Sample_Name', 'Sample_Plate', 'Sample_Well', 'I7_Index_ID', 'index', 'I5_Index_ID', 'index2', 'Run', 'Nr', 'Sample_Project', 'Species', 'Chain', 'Patient', 'Sample', 'UMI']
missing_cols = set(cols).difference(set(df.columns))
for missing in missing_cols:
    print(missing)
    df[missing] = ""
df.head()

I7_Index_ID
Sample_Plate
index2
Run
index
Sample_Well
I5_Index_ID

,Nr,Sample_ID,Sample_Name,MID,Sample_Project,Species,Chain,Patient,Sample,Group,...,HEK_cells,RACE,Constant,I7_Index_ID,Sample_Plate,index2,Run,index,Sample_Well,I5_Index_ID
0,S1,N701_S502,BP2338-pre-T,NaN,Block,human,TCRb,BP2338,pre-sort,NaN,...,no,no,no,,,,,,,
1,S2,N702_S502,BP2880-pre-T,NaN,Block,human,TCRb,BP2880,pre-sort,NaN,...,no,no,no,,,,,,,
2,S3,N705_S502,BP2880-CD4pTc-T,NaN,Block,human,TCRb,BP2880,CD4+ T cells,NaN,...,no,no,no,,,,,,,
3,S4,N711_S502,pSpA-004-T2,NaN,PreSpA,human,TCRb,1123034,V4,NaN,...,no,no,no,,,,,,,
4,S5,N712_S502,pSpA-010-T2,NaN,PreSpA,human,TCRb,1123006,V4,NaN,...,no,no,no,,,,,,,

In [10]:
# Check for extra columns in the pt-table
extra_cols = set(df.columns).difference(set(cols))
for extra in extra_cols:
    #print(extra)
    datasheet_header = datasheet_header + "," + extra
print(datasheet_header)

[Header],,,,,,,,,,,,,,,
IEMFileVersion,4,,,,,,,,,,,,,,
Investigator Name,Niek de Vries,,,,,,,,,,,,,,
Experiment Name,run55-20240514-miseq,,,,,,,,,,,,,,
Date,14-05-2024,,,,,,,,,,,,,,
Workflow,GenerateFASTQ,,,,,,,,,,,,,,
Application,FASTQ Only,,,,,,,,,,,,,,
Assay,Nextera XT v2,,,,,,,,,,,,,,
Description,RNA,,,,,,,,,,,,,,
Chemistry,Amplicon,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Reads],,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
301,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Settings],,,,,,,,,,,,,,,
ReverseComplement,0,,,,,,,,,,,,,,
Adapter,CTGTCTCTTATACACATCT,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,
[Data],,,,,,,,,,,,,,,
Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,Sample_Project,Species,Chain,Patient,Sample,UMI,RACE,Group,HEK_cells,Constant,MID

In [11]:
# Change the order of the columns in the data frame
cols = cols + list(extra_cols)
df = df[cols]
df.head()

,Sample_ID,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,index,I5_Index_ID,index2,Run,Nr,...,Species,Chain,Patient,Sample,UMI,RACE,Group,HEK_cells,Constant,MID
0,N701_S502,BP2338-pre-T,,,,,,,,S1,...,human,TCRb,BP2338,pre-sort,yes,no,NaN,no,no,NaN
1,N702_S502,BP2880-pre-T,,,,,,,,S2,...,human,TCRb,BP2880,pre-sort,yes,no,NaN,no,no,NaN
2,N705_S502,BP2880-CD4pTc-T,,,,,,,,S3,...,human,TCRb,BP2880,CD4+ T cells,yes,no,NaN,no,no,NaN
3,N711_S502,pSpA-004-T2,,,,,,,,S4,...,human,TCRb,1123034,V4,yes,no,NaN,no,no,NaN
4,N712_S502,pSpA-010-T2,,,,,,,,S5,...,human,TCRb,1123006,V4,yes,no,NaN,no,no,NaN

## Glue together the header and the values

In [12]:
df.to_csv("tmp.csv", header=None, index=None)

In [13]:
fh = open("tmp.csv")
values = fh.read().rstrip()
fh.close()

In [14]:
fhOut = open(outfile, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile, "to disk")

Wrote 20240514-DataSheet-RUN55.csv to disk

## Make separate datasheets for different types of data

In [ ]:
# human TCRb
outfile_new = outfile.replace(".csv", "-human-TCRb.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "TCRb")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

In [ ]:
# human BCRh UMI
outfile_new = outfile.replace(".csv", "-human-BCRh-UMI.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['UMI'] == "yes") & (df['RACE'] == "no")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

In [ ]:
# human RACE+Constant
outfile_new = outfile.replace(".csv", "-human-RACE-plus-Contant.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['RACE'] == "yes") & (df['Constant'] == "yes")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

In [ ]:
# human RACE-Constant
outfile_new = outfile.replace(".csv", "-human-RACE-min-Contant.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'] == "BCRh") & (df['RACE'] == "yes") & (df['Constant'] == "no")]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")

In [ ]:
# human HLA
outfile_new = outfile.replace(".csv", "-human-HLA.csv")
df_selection = df[(df['Species'] == "human") & (df['Chain'].str.startswith("HLA"))]
df_selection.to_csv("tmp-selection.csv", header=None, index=None)

fh = open("tmp-selection.csv")
values = fh.read().rstrip()
fh.close()

fhOut = open(outfile_new, "w")
print(datasheet_header, file=fhOut)
print(values, file=fhOut)
fhOut.close()
print("Wrote", outfile_new, "to disk")