In [1]:
import pandas as pd
import os

In [2]:
df_pt = pd.read_excel("project-20230912-TEC-TCRb/Data/NameOfDataset_1/Meta/TEC-samples.xlsx")
df_pt.head()

,RUN,species,region,MID.ID,MID,Sample_Name,Tissue,Reads.N,chain
0,run217,human,1,28,TTGAGTGCTC,TEC03-1,blood,5000.0,TCRb
1,run217,human,1,31,TGCGCGGCTC,TEC03-1 biopt,nerve Biopsy,5000.0,TCRb
2,run245,human,2,21,TGCGACGCTC,TEC027,blood,NaN,TCRb
3,run245,human,1,5,TGGACGCTCA,TEC039,blood,6000.0,TCRb
4,run245,human,1,14,CTTAGGCTCA,TEC051,nerve Biopsy,6000.0,TCRb

In [3]:
myfiles = [x for x in os.listdir("split") if x.endswith(".fastq.gz")]
print(myfiles)

['run217-r1-IG36VCC01_S1_L001.assembled-TGGACGCTCA.fastq.gz', 'run245-r2-I2TDHKF02_S2_L001.assembled-TTGAGTGCTC.fastq.gz', 'run217-r1-IG36VCC01_S1_L001.assembled-CTTAGGCTCA.fastq.gz', 'run217-r1-IG36VCC01_S1_L001.assembled-nomatch.fastq.gz', 'run245-r2-I2TDHKF02_S2_L001.assembled-nomatch.fastq.gz', 'run245-r1-I2TDHKF01_S1_L001.assembled-TGGACGCTCA.fastq.gz', 'run245-r1-I2TDHKF01_S1_L001.assembled-TTGAGTGCTC.fastq.gz', 'run245-r1-I2TDHKF01_S1_L001.assembled-nomatch.fastq.gz', 'run245-r2-I2TDHKF02_S2_L001.assembled-TGCGCGGCTC.fastq.gz', 'run217-r1-IG36VCC01_S1_L001.assembled-TGCGACGCTC.fastq.gz', 'run217-r1-IG36VCC01_S1_L001.assembled-TTGAGTGCTC.fastq.gz', 'run245-r1-I2TDHKF01_S1_L001.assembled-TGGCGGCTCA.fastq.gz', 'run217-r1-IG36VCC01_S1_L001.assembled-TGCGCGGCTC.fastq.gz', 'run245-r2-I2TDHKF02_S2_L001.assembled-TGCGACGCTC.fastq.gz', 'run245-r1-I2TDHKF01_S1_L001.assembled-CTTAGGCTCA.fastq.gz', 'run245-r1-I2TDHKF01_S1_L001.assembled-TGCGACGCTC.fastq.gz', 'run245-r1-I2TDHKF01_S1_L001.assembled-TGCGCGGCTC.fastq.gz', 'run217-r1-IG36VCC01_S1_L001.assembled-TGGCGGCTCA.fastq.gz', 'run245-r2-I2TDHKF02_S2_L001.assembled-CTTAGGCTCA.fastq.gz', 'run245-r2-I2TDHKF02_S2_L001.assembled-TGGACGCTCA.fastq.gz', 'run245-r2-I2TDHKF02_S2_L001.assembled-TGGCGGCTCA.fastq.gz']

In [4]:
runs = list()
regions = list()
mids = list()
for myfile in myfiles:
    run, region, machine, mid = myfile.split("-")
    region = int(region.replace("r", ""))
    mid = mid.split(".")[0]
    runs.append(run)
    regions.append(region)
    mids.append(mid)
df_files = pd.DataFrame({'RUN': runs, 'region': regions, "MID": mids, 'filename': myfiles})
df_files.head()

,RUN,region,MID,filename
0,run217,1,TGGACGCTCA,run217-r1-IG36VCC01_S1_L001.assembled-TGGACGCT...
1,run245,2,TTGAGTGCTC,run245-r2-I2TDHKF02_S2_L001.assembled-TTGAGTGC...
2,run217,1,CTTAGGCTCA,run217-r1-IG36VCC01_S1_L001.assembled-CTTAGGCT...
3,run217,1,nomatch,run217-r1-IG36VCC01_S1_L001.assembled-nomatch....
4,run245,2,nomatch,run245-r2-I2TDHKF02_S2_L001.assembled-nomatch....

In [5]:
df = pd.merge(df_pt, df_files, on=['RUN', 'region', 'MID'])
df

,RUN,species,region,MID.ID,MID,Sample_Name,Tissue,Reads.N,chain,filename
0,run217,human,1,28,TTGAGTGCTC,TEC03-1,blood,5000.0,TCRb,run217-r1-IG36VCC01_S1_L001.assembled-TTGAGTGC...
1,run217,human,1,31,TGCGCGGCTC,TEC03-1 biopt,nerve Biopsy,5000.0,TCRb,run217-r1-IG36VCC01_S1_L001.assembled-TGCGCGGC...
2,run245,human,2,21,TGCGACGCTC,TEC027,blood,NaN,TCRb,run245-r2-I2TDHKF02_S2_L001.assembled-TGCGACGC...
3,run245,human,1,5,TGGACGCTCA,TEC039,blood,6000.0,TCRb,run245-r1-I2TDHKF01_S1_L001.assembled-TGGACGCT...
4,run245,human,1,14,CTTAGGCTCA,TEC051,nerve Biopsy,6000.0,TCRb,run245-r1-I2TDHKF01_S1_L001.assembled-CTTAGGCT...
5,run245,human,1,15,TGGCGGCTCA,TEC052,nerve Biopsy,6000.0,TCRb,run245-r1-I2TDHKF01_S1_L001.assembled-TGGCGGCT...

In [6]:
df["filename-new"] = df["Sample_Name"].str.replace(" ", "-") + "_S1_L001.assembled.fastq.gz"
df

,RUN,species,region,MID.ID,MID,Sample_Name,Tissue,Reads.N,chain,filename,filename-new
0,run217,human,1,28,TTGAGTGCTC,TEC03-1,blood,5000.0,TCRb,run217-r1-IG36VCC01_S1_L001.assembled-TTGAGTGC...,TEC03-1_S1_L001.assembled.fastq.gz
1,run217,human,1,31,TGCGCGGCTC,TEC03-1 biopt,nerve Biopsy,5000.0,TCRb,run217-r1-IG36VCC01_S1_L001.assembled-TGCGCGGC...,TEC03-1-biopt_S1_L001.assembled.fastq.gz
2,run245,human,2,21,TGCGACGCTC,TEC027,blood,NaN,TCRb,run245-r2-I2TDHKF02_S2_L001.assembled-TGCGACGC...,TEC027_S1_L001.assembled.fastq.gz
3,run245,human,1,5,TGGACGCTCA,TEC039,blood,6000.0,TCRb,run245-r1-I2TDHKF01_S1_L001.assembled-TGGACGCT...,TEC039_S1_L001.assembled.fastq.gz
4,run245,human,1,14,CTTAGGCTCA,TEC051,nerve Biopsy,6000.0,TCRb,run245-r1-I2TDHKF01_S1_L001.assembled-CTTAGGCT...,TEC051_S1_L001.assembled.fastq.gz
5,run245,human,1,15,TGGCGGCTCA,TEC052,nerve Biopsy,6000.0,TCRb,run245-r1-I2TDHKF01_S1_L001.assembled-TGGCGGCT...,TEC052_S1_L001.assembled.fastq.gz

In [7]:
for i, row in df.iterrows():
    print("mv", row['filename'], row['filename-new'])

mv run217-r1-IG36VCC01_S1_L001.assembled-TTGAGTGCTC.fastq.gz TEC03-1_S1_L001.assembled.fastq.gz
mv run217-r1-IG36VCC01_S1_L001.assembled-TGCGCGGCTC.fastq.gz TEC03-1-biopt_S1_L001.assembled.fastq.gz
mv run245-r2-I2TDHKF02_S2_L001.assembled-TGCGACGCTC.fastq.gz TEC027_S1_L001.assembled.fastq.gz
mv run245-r1-I2TDHKF01_S1_L001.assembled-TGGACGCTCA.fastq.gz TEC039_S1_L001.assembled.fastq.gz
mv run245-r1-I2TDHKF01_S1_L001.assembled-CTTAGGCTCA.fastq.gz TEC051_S1_L001.assembled.fastq.gz
mv run245-r1-I2TDHKF01_S1_L001.assembled-TGGCGGCTCA.fastq.gz TEC052_S1_L001.assembled.fastq.gz