In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Read metadata
df_meta = pd.read_excel("/home/barbera/Downloads/VASAseq/celseq2_primers.xlsx")
cols = ["Cell Barcode", "Well Position"]
df_meta = df_meta[cols]
df_meta.head()

  Cell Barcode Well Position
0     CGTCTAAT            A1
1     AGACTCGT            A2
2     GCACGTCA            A3
3     TCAACGAC            A4
4     ATTTAGCG            A5

In [3]:
[x for x in os.listdir() if x.startswith('count-')]

['count-IGH-VJC.txt',
 'count-TRA-VJC.txt',
 'count-IGK-VJC.txt',
 'count-TRB-VJC.txt',
 'count-IGL-VJC.txt',
 'count-alignments-VJC.txt',
 'count-assembly-VJC.txt']

In [4]:
# Read nr of aligned sequences
nrs = list()
filenames = list()
barcodes = list()
fh = open("count-alignments-VJC.txt")
for line in fh:
    line = line.lstrip()
    line = line.rstrip()
    nr, filename = line.split(" ")
    if filename == "total":
        continue
    barcode, rest = filename.split("_S1_")
    nrs.append(int(nr))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_align = pd.DataFrame({'barcode': barcodes, 'nr_alignments': nrs})
df_align.head()

    barcode  nr_alignments
0  AAACAGGC            275
1  AAAGCGGA            328
2  AAAGGCTG            180
3  AACACGCA             12
4  AACATGGG            251

In [5]:
# Read nr of assembled sequences
nrs = list()
filenames = list()
barcodes = list()
fh = open("count-assembly-VJC.txt")
for line in fh:
    line = line.rstrip()
    filename, rest, nr = line.split(":")
    barcode, rest = filename.split("_S1")
    nr = nr.lstrip()
    nr = nr.replace(",", "")
    nr = nr.split(" ")
    nrs.append(int(nr[0]))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_assembly = pd.DataFrame({'barcode': barcodes, 'nr_assembly': nrs})
df_assembly.head()

    barcode  nr_assembly
0  AAACAGGC          197
1  AAAGCGGA          219
2  AAAGGCTG          102
3  AACACGCA            5
4  AACATGGG          184

In [6]:
# Read nr of IGH CDR3s
nrs = list()
filenames = list()
barcodes = list()
fh = open("count-IGH-VJC.txt")
for line in fh:
    line = line.rstrip()
    filename, nr = line.split(":")
    barcode, rest = filename.split("_S1")
    nr = nr.split("\t")
    nrs.append(int(nr[1]))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_cdr3_igh = pd.DataFrame({'barcode': barcodes, 'nr_cdr3_igh': nrs})
df_cdr3_igh.head()

    barcode  nr_cdr3_igh
0  AAACAGGC            6
1  AACCGCTT            2
2  AACCGGAA            3
3  AACCTGCT            3
4  AACGAGGT            2

In [7]:
# Read nr of TRB CDR3s
nrs = list()
filenames = list()
barcodes = list()
fh = open("count-TRB-VJC.txt")
for line in fh:
    line = line.rstrip()
    filename, nr = line.split(":")
    barcode, rest = filename.split("_S1")
    nr = nr.split("\t")
    nrs.append(int(nr[1]))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_cdr3_trb = pd.DataFrame({'barcode': barcodes, 'nr_cdr3_trb': nrs})
df_cdr3_trb.head()

    barcode  nr_cdr3_trb
0  AAAGCGGA            3
1  AAAGGCTG            2
2  AACATGGG            3
3  AACCTGCT           25
4  AATGGTGG            6

In [8]:
# Read nr of TRA CDR3s
nrs = list()
filenames = list()
barcodes = list()
fh = open("count-TRA-VJC.txt")
for line in fh:
    line = line.rstrip()
    filename, nr = line.split(":")
    barcode, rest = filename.split("_S1")
    nr = nr.split("\t")
    nrs.append(int(nr[1]))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_cdr3_tra = pd.DataFrame({'barcode': barcodes, 'nr_cdr3_tra': nrs})
df_cdr3_tra.head()

    barcode  nr_cdr3_tra
0  AAAGCGGA            3
1  AAAGGCTG            7
2  AACATGGG            4
3  AACCTGCT            1
4  AAGACAGC            2

In [9]:
# Read nr of IGL CDR3s
nrs = list()
filenames = list()
barcodes = list()
fh = open("count-IGL-VJC.txt")
for line in fh:
    line = line.rstrip()
    filename, nr = line.split(":")
    barcode, rest = filename.split("_S1")
    nr = nr.split("\t")
    nrs.append(int(nr[1]))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_cdr3_igl = pd.DataFrame({'barcode': barcodes, 'nr_cdr3_igl': nrs})
df_cdr3_igl.head()

    barcode  nr_cdr3_igl
0  AAACAGGC            6
1  AACATGGG            2
2  AACCGCTT           10
3  AACCTGCT            1
4  AACGAGGT            2

In [10]:
# Read nr of IGK CDR3s
nrs = list()
filenames = list()
barcodes = list()
fh = open("count-IGK-VJC.txt")
for line in fh:
    line = line.rstrip()
    filename, nr = line.split(":")
    barcode, rest = filename.split("_S1")
    nr = nr.split("\t")
    nrs.append(int(nr[1]))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_cdr3_igk = pd.DataFrame({'barcode': barcodes, 'nr_cdr3_igk': nrs})
df_cdr3_igk.head()

    barcode  nr_cdr3_igk
0  AACCGCTT            1
1  AACCGGAA            1
2  AACCTGCT            1
3  AACGAGGT            1
4  AAGACAGC            2

## Combine numbers in one table

In [11]:
df = pd.merge(df_meta, df_align, how='left', left_on='Cell Barcode', right_on='barcode')
df = pd.merge(df, df_assembly, how='left', on='barcode')
df = pd.merge(df, df_cdr3_igh, how='left', on='barcode')
df = pd.merge(df, df_cdr3_igk, how='left', on='barcode')
df = pd.merge(df, df_cdr3_igl, how='left', on='barcode')
df = pd.merge(df, df_cdr3_trb, how='left', on='barcode')
df = pd.merge(df, df_cdr3_tra, how='left', on='barcode')
df = df.fillna(0)
df

,Cell Barcode,Well Position,barcode,nr_alignments,nr_assembly,nr_cdr3_igh,nr_cdr3_igk,nr_cdr3_igl,nr_cdr3_trb,nr_cdr3_tra
0,CGTCTAAT,A1,CGTCTAAT,179,119.0,0.0,0.0,1.0,0.0,0.0
1,AGACTCGT,A2,AGACTCGT,34,16.0,0.0,0.0,0.0,0.0,0.0
2,GCACGTCA,A3,GCACGTCA,9,5.0,0.0,0.0,0.0,0.0,0.0
3,TCAACGAC,A4,TCAACGAC,532,311.0,0.0,0.0,5.0,0.0,0.0
4,ATTTAGCG,A5,ATTTAGCG,93,58.0,1.0,0.0,0.0,0.0,0.0
5,ATACAGAC,A6,ATACAGAC,126,98.0,2.0,0.0,0.0,0.0,0.0
6,TGCGTAGG,A7,TGCGTAGG,96,73.0,0.0,0.0,1.0,0.0,0.0
7,TGGAGCTC,A8,TGGAGCTC,18,14.0,0.0,2.0,0.0,0.0,0.0
8,TGAATACC,A9,TGAATACC,2041,1363.0,11.0,3.0,6.0,0.0,0.0
9,TCTCACAC,A10,TCTCACAC,728,436.0,18.0,0.0,0.0,0.0,0.0
10,TACTGGTA,A11,TACTGGTA,20364,12457.0,157.0,710.0,5.0,0.0,706.0
11,ACGATAGG,A12,ACGATAGG,765,471.0,2.0,2.0,0.0,0.0,0.0
12,GATGTCGA,A13,GATGTCGA,1003,664.0,4.0,37.0,0.0,0.0,4.0
13,TTACGGGT,A14,TTACGGGT,2,1.0,0.0,0.0,0.0,0.0,0.0
14,CACAGCAT,A15,CACAGCAT,273,194.0,2.0,5.0,2.0,0.0,5.0
15,CTTTGACA,A16,CTTTGACA,5436,3730.0,52.0,5.0,127.0,0.0,3.0
16,CCTTCAAG,A17,CCTTCAAG,0,0.0,0.0,0.0,0.0,0.0,0.0
17,GAGTCCTG,A18,GAGTCCTG,237,163.0,4.0,9.0,2.0,0.0,0.0
18,CACACTGA,A19,CACACTGA,11,10.0,0.0,0.0,0.0,0.0,0.0
19,GTTACAGG,A20,GTTACAGG,27,16.0,0.0,0.0,0.0,0.0,0.0
20,GGACCTTT,A21,GGACCTTT,351,184.0,3.0,0.0,0.0,0.0,0.0
21,TTCCGTTC,A22,TTCCGTTC,5,3.0,0.0,0.0,2.0,0.0,0.0
22,ACTGTTTG,A23,ACTGTTTG,2,1.0,0.0,0.0,0.0,0.0,0.0
23,AAGTGGCT,A24,AAGTGGCT,28,16.0,0.0,0.0,0.0,0.0,0.0
24,CTGTACAA,B1,CTGTACAA,75,47.0,0.0,0.0,0.0,0.0,0.0
25,CGCAAAGT,B2,CGCAAAGT,123,80.0,0.0,1.0,1.0,0.0,0.0
26,GTGCATGA,B3,GTGCATGA,506,351.0,0.0,0.0,4.0,0.0,1.0
27,GTCATTAG,B4,GTCATTAG,119,81.0,0.0,1.0,0.0,0.0,1.0
28,AGCTCCTT,B5,AGCTCCTT,127,73.0,0.0,0.0,0.0,0.0,0.0
29,TCACCCGA,B6,TCACCCGA,366,203.0,0.0,5.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
354,GGTTAGTG,O19,GGTTAGTG,219,125.0,0.0,2.0,2.0,0.0,6.0
355,CGAAGCAA,O20,CGAAGCAA,290,202.0,0.0,0.0,0.0,3.0,0.0
356,CCGAGATT,O21,CCGAGATT,56,24.0,0.0,1.0,0.0,0.0,1.0
357,CTCTGCTA,O22,CTCTGCTA,44,26.0,0.0,1.0,1.0,0.0,1.0
358,TAGTTGCG,O23,TAGTTGCG,44,20.0,0.0,0.0,0.0,0.0,0.0
359,AGGCTAAC,O24,AGGCTAAC,37,26.0,0.0,0.0,0.0,0.0,0.0
360,ACAAACCG,P1,ACAAACCG,185,105.0,0.0,0.0,0.0,1.0,1.0
361,ATCGACGA,P2,ATCGACGA,704,307.0,1.0,0.0,1.0,0.0,0.0
362,CTCATGTC,P3,CTCATGTC,244,116.0,0.0,0.0,3.0,1.0,0.0
363,CCCTAGTA,P4,CCCTAGTA,352,205.0,5.0,1.0,1.0,5.0,5.0
364,CCTTTGAC,P5,CCTTTGAC,275,145.0,1.0,3.0,2.0,3.0,3.0
365,TGTGGCTT,P6,TGTGGCTT,65,39.0,0.0,0.0,0.0,0.0,0.0
366,GCGATATC,P7,GCGATATC,156,103.0,3.0,0.0,1.0,0.0,0.0
367,ACGAACAC,P8,ACGAACAC,183,99.0,4.0,0.0,0.0,0.0,0.0
368,TTGATGGC,P9,TTGATGGC,984,622.0,1.0,0.0,4.0,10.0,10.0
369,AACATGGG,P10,AACATGGG,251,184.0,0.0,0.0,2.0,3.0,4.0
370,CTTAGCCT,P11,CTTAGCCT,145,85.0,0.0,9.0,0.0,0.0,0.0
371,AAAGCGGA,P12,AAAGCGGA,328,219.0,0.0,0.0,0.0,3.0,3.0
372,CAATGGTC,P13,CAATGGTC,208,93.0,2.0,0.0,0.0,19.0,0.0
373,AACCGGAA,P14,AACCGGAA,215,128.0,3.0,1.0,0.0,0.0,0.0
374,AACTCTGG,P15,AACTCTGG,160,123.0,0.0,0.0,2.0,0.0,0.0
375,TTAGGCAG,P16,TTAGGCAG,288,168.0,1.0,0.0,2.0,0.0,0.0
376,CGTCGTTT,P17,CGTCGTTT,24,12.0,0.0,0.0,0.0,0.0,0.0
377,CCTGCTAT,P18,CCTGCTAT,402,270.0,0.0,2.0,1.0,42.0,45.0
378,CAGAGAAG,P19,CAGAGAAG,286,229.0,1.0,2.0,0.0,8.0,1.0
379,GATTGTCC,P20,GATTGTCC,121,89.0,0.0,0.0,1.0,0.0,0.0
380,CACCTCTA,P21,CACCTCTA,0,0.0,0.0,0.0,0.0,0.0,0.0
381,AGTTGGAC,P22,AGTTGGAC,5,0.0,0.0,0.0,0.0,0.0,0.0
382,AGTGCAGA,P23,AGTGCAGA,0,0.0,0.0,0.0,0.0,0.0,0.0
383,CTCTGTCT,P24,CTCTGTCT,41,18.0,0.0,1.0,0.0,0.0,0.0

In [12]:
# Cells without CDR3
len(df[(df['nr_cdr3_igh'] < 1) & (df['nr_cdr3_igk'] < 1) & (df['nr_cdr3_igl'] < 1) & (df['nr_cdr3_trb'] < 1) & (df['nr_cdr3_tra'] < 1)])

59

In [13]:
df.to_excel("overview-vasaseq-vjc.xlsx")
print("Wrote overview-vasaseq-vjc.xlsx to disk")

Wrote overview-vasaseq-vjc.xlsx to disk