In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
[x for x in os.listdir() if x.startswith('count-')]

['count-IGH-VJC.txt',
 'count-TRA-VJC.txt',
 'count-IGK-VJC.txt',
 'count-TRB-VJC.txt',
 'count-IGL-VJC.txt',
 'count-alignments-VJC.txt',
 'count-assembly-VJC.txt']

In [3]:
# Read nr of aligned sequences
nrs = list()
filenames = list()
barcodes = list()
fh = open("count-alignments-VJC.txt")
for line in fh:
    line = line.lstrip()
    line = line.rstrip()
    nr, filename = line.split(" ")
    if filename == "total":
        continue
    barcode, rest = filename.split("_S1_")
    nrs.append(int(nr))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_align = pd.DataFrame({'barcode': barcodes, 'nr_alignments': nrs})
df_align.head()

    barcode  nr_alignments
0  AAACAGGC            275
1  AAAGCGGA            328
2  AAAGGCTG            180
3  AACACGCA             12
4  AACATGGG            251

In [4]:
# Read nr of assembled sequences
nrs = list()
filenames = list()
barcodes = list()
fh = open("count-assembly-VJC.txt")
for line in fh:
    line = line.rstrip()
    filename, rest, nr = line.split(":")
    barcode, rest = filename.split("_S1")
    nr = nr.lstrip()
    nr = nr.replace(",", "")
    nr = nr.split(" ")
    nrs.append(int(nr[0]))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_assembly = pd.DataFrame({'barcode': barcodes, 'nr_assembly': nrs})
df_assembly.head()

    barcode  nr_assembly
0  AAACAGGC          197
1  AAAGCGGA          219
2  AAAGGCTG          102
3  AACACGCA            5
4  AACATGGG          184

In [5]:
# Read nr of IGH CDR3s
nrs = list()
filenames = list()
barcodes = list()
fh = open("count-IGH-VJC.txt")
for line in fh:
    line = line.rstrip()
    filename, nr = line.split(":")
    barcode, rest = filename.split("_S1")
    nr = nr.split("\t")
    nrs.append(int(nr[1]))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_cdr3_igh = pd.DataFrame({'barcode': barcodes, 'nr_cdr3_igh': nrs})
df_cdr3_igh.head()

    barcode  nr_cdr3_igh
0  AAACAGGC            6
1  AACCGCTT            2
2  AACCGGAA            3
3  AACCTGCT            3
4  AACGAGGT            2

In [6]:
# Read nr of TRB CDR3s
nrs = list()
filenames = list()
barcodes = list()
fh = open("count-TRB-VJC.txt")
for line in fh:
    line = line.rstrip()
    filename, nr = line.split(":")
    barcode, rest = filename.split("_S1")
    nr = nr.split("\t")
    nrs.append(int(nr[1]))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_cdr3_trb = pd.DataFrame({'barcode': barcodes, 'nr_cdr3_trb': nrs})
df_cdr3_trb.head()

    barcode  nr_cdr3_trb
0  AAAGCGGA            3
1  AAAGGCTG            2
2  AACATGGG            3
3  AACCTGCT           25
4  AATGGTGG            6

In [7]:
# Read nr of TRA CDR3s
nrs = list()
filenames = list()
barcodes = list()
fh = open("count-TRA-VJC.txt")
for line in fh:
    line = line.rstrip()
    filename, nr = line.split(":")
    barcode, rest = filename.split("_S1")
    nr = nr.split("\t")
    nrs.append(int(nr[1]))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_cdr3_tra = pd.DataFrame({'barcode': barcodes, 'nr_cdr3_tra': nrs})
df_cdr3_tra.head()

    barcode  nr_cdr3_tra
0  AAAGCGGA            3
1  AAAGGCTG            7
2  AACATGGG            4
3  AACCTGCT            1
4  AAGACAGC            2

In [8]:
# Read nr of IGL CDR3s
nrs = list()
filenames = list()
barcodes = list()
fh = open("count-IGL-VJC.txt")
for line in fh:
    line = line.rstrip()
    filename, nr = line.split(":")
    barcode, rest = filename.split("_S1")
    nr = nr.split("\t")
    nrs.append(int(nr[1]))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_cdr3_igl = pd.DataFrame({'barcode': barcodes, 'nr_cdr3_igl': nrs})
df_cdr3_igl.head()

    barcode  nr_cdr3_igl
0  AAACAGGC            6
1  AACATGGG            2
2  AACCGCTT           10
3  AACCTGCT            1
4  AACGAGGT            2

In [9]:
# Read nr of IGK CDR3s
nrs = list()
filenames = list()
barcodes = list()
fh = open("count-IGK-VJC.txt")
for line in fh:
    line = line.rstrip()
    filename, nr = line.split(":")
    barcode, rest = filename.split("_S1")
    nr = nr.split("\t")
    nrs.append(int(nr[1]))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_cdr3_igk = pd.DataFrame({'barcode': barcodes, 'nr_cdr3_igk': nrs})
df_cdr3_igk.head()

    barcode  nr_cdr3_igk
0  AACCGCTT            1
1  AACCGGAA            1
2  AACCTGCT            1
3  AACGAGGT            1
4  AAGACAGC            2

## Combine numbers in one table

In [10]:
df = pd.merge(df_align, df_assembly, how='left', on='barcode')
df = pd.merge(df, df_cdr3_igh, how='left', on='barcode')
df = pd.merge(df, df_cdr3_igk, how='left', on='barcode')
df = pd.merge(df, df_cdr3_igl, how='left', on='barcode')
df = pd.merge(df, df_cdr3_trb, how='left', on='barcode')
df = pd.merge(df, df_cdr3_tra, how='left', on='barcode')
df = df.fillna(0)
df

,barcode,nr_alignments,nr_assembly,nr_cdr3_igh,nr_cdr3_igk,nr_cdr3_igl,nr_cdr3_trb,nr_cdr3_tra
0,AAACAGGC,275,197.0,6.0,0.0,6.0,0.0,0.0
1,AAAGCGGA,328,219.0,0.0,0.0,0.0,3.0,3.0
2,AAAGGCTG,180,102.0,0.0,0.0,0.0,2.0,7.0
3,AACACGCA,12,5.0,0.0,0.0,0.0,0.0,0.0
4,AACATGGG,251,184.0,0.0,0.0,2.0,3.0,4.0
5,AACCCAAC,5,2.0,0.0,0.0,0.0,0.0,0.0
6,AACCGCTT,503,257.0,2.0,1.0,10.0,0.0,0.0
7,AACCGGAA,215,128.0,3.0,1.0,0.0,0.0,0.0
8,AACCTGCT,380,244.0,3.0,1.0,1.0,25.0,1.0
9,AACGAGGT,787,497.0,2.0,1.0,2.0,0.0,0.0
10,AACTCTGG,160,123.0,0.0,0.0,2.0,0.0,0.0
11,AAGACAGC,881,488.0,0.0,2.0,1.0,0.0,2.0
12,AAGCACAT,23,14.0,0.0,10.0,0.0,0.0,10.0
13,AAGCGAGT,71799,60468.0,1363.0,7.0,747.0,0.0,4.0
14,AAGCTGCA,462,316.0,5.0,1.0,5.0,0.0,1.0
15,AAGGAGCA,521,303.0,8.0,1.0,17.0,0.0,1.0
16,AAGGTCAG,1183,870.0,15.0,6.0,3.0,0.0,0.0
17,AAGTCTCG,277,162.0,6.0,10.0,0.0,0.0,11.0
18,AAGTGGCT,28,16.0,0.0,0.0,0.0,0.0,0.0
19,AATAGGGC,198,118.0,0.0,1.0,1.0,0.0,1.0
20,AATCATGC,707,434.0,6.0,7.0,0.0,0.0,4.0
21,AATCGGCA,680,495.0,2.0,3.0,5.0,0.0,4.0
22,AATGGTGG,787,503.0,2.0,2.0,1.0,6.0,3.0
23,ACAAACCG,185,105.0,0.0,0.0,0.0,1.0,1.0
24,ACAAGGCA,116,68.0,0.0,0.0,2.0,1.0,1.0
25,ACACCGTG,9,8.0,0.0,0.0,0.0,0.0,0.0
26,ACAGAAGC,125,76.0,2.0,0.0,1.0,0.0,1.0
27,ACAGAGCT,150,108.0,2.0,0.0,0.0,1.0,0.0
28,ACAGGCAT,561,372.0,9.0,0.0,1.0,0.0,0.0
29,ACATGTGC,123,62.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
354,TGGCACAA,132,58.0,2.0,1.0,0.0,14.0,0.0
355,TGGCTTCA,315,236.0,1.0,2.0,0.0,0.0,1.0
356,TGGGTTTC,88218,61420.0,511.0,0.0,908.0,10.0,10.0
357,TGGTAGCT,21633,17166.0,25.0,111.0,6.0,0.0,9.0
358,TGGTGAGT,152,81.0,2.0,2.0,0.0,0.0,0.0
359,TGGTTGTC,408,251.0,3.0,3.0,4.0,0.0,1.0
360,TGTACCAA,13,6.0,0.0,0.0,1.0,0.0,0.0
361,TGTGGCTT,65,39.0,0.0,0.0,0.0,0.0,0.0
362,TGTTAAGC,0,0.0,0.0,0.0,0.0,0.0,0.0
363,TTACGGGT,2,1.0,0.0,0.0,0.0,0.0,0.0
364,TTAGACGC,1268,730.0,22.0,0.0,0.0,0.0,0.0
365,TTAGGACG,142,86.0,3.0,9.0,1.0,0.0,0.0
366,TTAGGCAG,288,168.0,1.0,0.0,2.0,0.0,0.0
367,TTATCCGG,74297,57583.0,681.0,1756.0,83.0,2.0,17.0
368,TTCACGTG,840,608.0,13.0,2.0,3.0,0.0,2.0
369,TTCAGACC,128,85.0,0.0,2.0,0.0,0.0,1.0
370,TTCAGCGT,290,167.0,1.0,10.0,1.0,0.0,13.0
371,TTCCCTCA,478,337.0,5.0,10.0,0.0,0.0,10.0
372,TTCCGTTC,5,3.0,0.0,0.0,2.0,0.0,0.0
373,TTCCTACC,560,268.0,19.0,1.0,3.0,0.0,0.0
374,TTCGCTGT,1313,909.0,3.0,9.0,0.0,0.0,0.0
375,TTCGGAAA,0,0.0,0.0,0.0,0.0,0.0,0.0
376,TTCTCGGA,987,650.0,27.0,0.0,9.0,0.0,0.0
377,TTGATGGC,984,622.0,1.0,0.0,4.0,10.0,10.0
378,TTGCAACC,130,70.0,0.0,2.0,1.0,0.0,0.0
379,TTGTCCAC,676,361.0,2.0,3.0,5.0,8.0,108.0
380,TTGTTCCG,779,437.0,19.0,0.0,8.0,0.0,0.0
381,TTTGAGGG,1747,1266.0,11.0,0.0,9.0,0.0,0.0
382,TTTGTGTC,2394,1516.0,12.0,3.0,65.0,0.0,2.0
383,TTTTCGCC,366,222.0,0.0,3.0,1.0,7.0,4.0

In [11]:
# Cells without CDR3
len(df[(df['nr_cdr3_igh'] < 1) & (df['nr_cdr3_igk'] < 1) & (df['nr_cdr3_igl'] < 1) & (df['nr_cdr3_trb'] < 1) & (df['nr_cdr3_tra'] < 1)])

59

In [12]:
df.to_excel("overview-vasaseq-vjc.xlsx")
print("Wrote overview-vasaseq-vjc.xlsx to disk")

Wrote overview-vasaseq-vjc.xlsx to disk