In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Read metadata
df_meta = pd.read_excel("/home/barbera/Downloads/VASAseq/celseq2_primers.xlsx")
cols = ["Cell Barcode", "Well Position"]
df_meta = df_meta[cols]
df_meta.head()

  Cell Barcode Well Position
0     CGTCTAAT            A1
1     AGACTCGT            A2
2     GCACGTCA            A3
3     TCAACGAC            A4
4     ATTTAGCG            A5

In [3]:
mydir = "NOTEBOOKS/counts-VJC-R2/"
[x for x in os.listdir(mydir) if x.startswith('count-')]

['count-assembly.txt',
 'count-tra.txt',
 'count-trb.txt',
 'count-igk.txt',
 'count-alignments.txt',
 'count-igh.txt',
 'count-igl.txt']

In [4]:
# Read nr of aligned sequences
nrs = list()
filenames = list()
barcodes = list()
fh = open(mydir + "count-alignments.txt")
for line in fh:
    line = line.lstrip()
    line = line.rstrip()
    nr, filename = line.split(" ")
    if filename == "total":
        continue
    barcode, rest = filename.split("_S1_")
    nrs.append(int(nr))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_align = pd.DataFrame({'barcode': barcodes, 'nr_alignments': nrs})
df_align.head()

    barcode  nr_alignments
0  AAACAGGC            627
1  AAAGCGGA            984
2  AAAGGCTG            690
3  AACACGCA             29
4  AACATGGG            621

In [5]:
# Read nr of assembled sequences
nrs = list()
filenames = list()
barcodes = list()
fh = open(mydir + "count-assembly.txt")
for line in fh:
    line = line.rstrip()
    filename, rest, nr = line.split(":")
    barcode, rest = filename.split("_S1")
    barcode = barcode.split("/")[-1]
    nr = nr.lstrip()
    nr = nr.replace(",", "")
    nr = nr.split(" ")
    nrs.append(int(nr[0]))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_assembly = pd.DataFrame({'barcode': barcodes, 'nr_assembly': nrs})
df_assembly.head()

    barcode  nr_assembly
0  AAACAGGC          332
1  AAAGCGGA          421
2  AAAGGCTG          261
3  AACACGCA           10
4  AACATGGG          292

In [6]:
# Read nr of IGH CDR3s
nrs = list()
filenames = list()
barcodes = list()
fh = open(mydir + "count-igh.txt")
for line in fh:
    line = line.lstrip()
    line = line.rstrip()
    nr, filename = line.split(" ")
    if filename == "total":
        continue
    barcode, rest = filename.split("_S1")
    barcode = barcode.split("/")[-1]
    nrs.append(int(nr))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_cdr3_igh = pd.DataFrame({'barcode': barcodes, 'nr_cdr3_igh': nrs})
df_cdr3_igh.head()

    barcode  nr_cdr3_igh
0  AAACAGGC            7
1  AAAGCGGA            0
2  AAAGGCTG            1
3  AACACGCA            0
4  AACATGGG            0

In [7]:
# Read nr of TRB CDR3s
nrs = list()
filenames = list()
barcodes = list()
fh = open(mydir + "count-trb.txt")
for line in fh:
    line = line.lstrip()
    line = line.rstrip()
    nr, filename = line.split(" ")
    if filename == "total":
        continue
    barcode, rest = filename.split("_S1")
    barcode = barcode.split("/")[-1]
    nrs.append(int(nr))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_cdr3_trb = pd.DataFrame({'barcode': barcodes, 'nr_cdr3_trb': nrs})
df_cdr3_trb.head()

    barcode  nr_cdr3_trb
0  AAACAGGC            0
1  AAAGCGGA            7
2  AAAGGCTG            4
3  AACACGCA            0
4  AACATGGG            5

In [8]:
# Read nr of TRA CDR3s
nrs = list()
filenames = list()
barcodes = list()
fh = open(mydir + "count-tra.txt")
for line in fh:
    line = line.lstrip()
    line = line.rstrip()
    nr, filename = line.split(" ")
    if filename == "total":
        continue
    barcode, rest = filename.split("_S1")
    barcode = barcode.split("/")[-1]
    nrs.append(int(nr))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_cdr3_tra = pd.DataFrame({'barcode': barcodes, 'nr_cdr3_tra': nrs})
df_cdr3_tra.head()

    barcode  nr_cdr3_tra
0  AAACAGGC            0
1  AAAGCGGA            4
2  AAAGGCTG           10
3  AACACGCA            0
4  AACATGGG            4

In [9]:
# Read nr of IGL CDR3s
nrs = list()
filenames = list()
barcodes = list()
fh = open(mydir + "count-igl.txt")
for line in fh:
    line = line.lstrip()
    line = line.rstrip()
    nr, filename = line.split(" ")
    if filename == "total":
        continue
    barcode, rest = filename.split("_S1")
    barcode = barcode.split("/")[-1]
    nrs.append(int(nr))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_cdr3_igl = pd.DataFrame({'barcode': barcodes, 'nr_cdr3_igl': nrs})
df_cdr3_igl.head()

    barcode  nr_cdr3_igl
0  AAACAGGC            8
1  AAAGCGGA            0
2  AAAGGCTG            0
3  AACACGCA            0
4  AACATGGG            3

In [10]:
# Read nr of IGK CDR3s
nrs = list()
filenames = list()
barcodes = list()
fh = open(mydir + "count-igk.txt")
for line in fh:
    line = line.lstrip()
    line = line.rstrip()
    nr, filename = line.split(" ")
    if filename == "total":
        continue
    barcode, rest = filename.split("_S1")
    barcode = barcode.split("/")[-1]
    nrs.append(int(nr))
    filenames.append(filename)
    barcodes.append(barcode)
fh.close()
df_cdr3_igk = pd.DataFrame({'barcode': barcodes, 'nr_cdr3_igk': nrs})
df_cdr3_igk.head()

    barcode  nr_cdr3_igk
0  AAACAGGC            0
1  AAAGCGGA            0
2  AAAGGCTG            0
3  AACACGCA            0
4  AACATGGG            0

## Combine numbers in one table

In [11]:
df = pd.merge(df_meta, df_align, how='left', left_on='Cell Barcode', right_on='barcode')
df = pd.merge(df, df_assembly, how='left', on='barcode')
df = pd.merge(df, df_cdr3_igh, how='left', on='barcode')
df = pd.merge(df, df_cdr3_igk, how='left', on='barcode')
df = pd.merge(df, df_cdr3_igl, how='left', on='barcode')
df = pd.merge(df, df_cdr3_trb, how='left', on='barcode')
df = pd.merge(df, df_cdr3_tra, how='left', on='barcode')
df = df.fillna(0)
df.head()

,Cell Barcode,Well Position,barcode,nr_alignments,nr_assembly,nr_cdr3_igh,nr_cdr3_igk,nr_cdr3_igl,nr_cdr3_trb,nr_cdr3_tra
0,CGTCTAAT,A1,CGTCTAAT,386.0,197.0,0.0,0.0,2.0,0.0,0.0
1,AGACTCGT,A2,AGACTCGT,161.0,57.0,1.0,0.0,0.0,0.0,0.0
2,GCACGTCA,A3,GCACGTCA,35.0,14.0,0.0,0.0,0.0,0.0,0.0
3,TCAACGAC,A4,TCAACGAC,1178.0,628.0,0.0,1.0,7.0,0.0,0.0
4,ATTTAGCG,A5,ATTTAGCG,229.0,116.0,1.0,0.0,0.0,0.0,0.0

In [12]:
# Cells without CDR3
len(df[(df['nr_cdr3_igh'] < 1) & (df['nr_cdr3_igk'] < 1) & (df['nr_cdr3_igl'] < 1) & (df['nr_cdr3_trb'] < 1) & (df['nr_cdr3_tra'] < 1)])

86

In [13]:
df.to_excel("overview-vasaseq-vjc-r2.xlsx")
print("Wrote overview-vasaseq-vjc-r2.xlsx to disk")

Wrote overview-vasaseq-vjc-r2.xlsx to disk