In [1]:
import pandas as pd

In [2]:
df_bcr = pd.read_csv("./IMGT-BCR/vquest_airr.tsv", sep="\t", index_col=False)
df_bcr.head()

,sequence_id,sequence,sequence_aa,rev_comp,productive,complete_vdj,vj_in_frame,stop_codon,locus,v_call,...,rearrangement_id,repertoire_id,rearrangement_set_id,sequence_analysis_category,d_number,5prime_trimmed_n_nb,3prime_trimmed_n_nb,insertions,deletions,junction_decryption
0,CCAGATGA|contig1|size161|read11|cov7.42,ggggctgcgggtccgtgctgaccccactgtgcacctccttcccatt...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CAGATAGC|contig1|size477|read27|cov6.64,gcgacggcttcttcggcaacccccgcaagtccaagctcatctgcca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CAGATAGC|contig2|size198|read15|cov9.08,gaggacgttcggccaagggaccaaggtggaaatcaaacgaactgtg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CAGATAGC|contig3|size158|read19|cov12.53,tgtagccccaggcttcttcacctcagccccagactgtaccagctgg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CAGATAGC|contig4|size207|read6|cov3.21,cacaggtgctgctgccttccaaggacgtcatgcagggcacagacga...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_tcr = pd.read_csv("./IMGT-TCR/vquest_airr.tsv", sep="\t", index_col=False)
df_tcr.head()

,sequence_id,sequence,sequence_aa,rev_comp,productive,complete_vdj,vj_in_frame,stop_codon,locus,v_call,...,np3_length,n3_length,p5d2_length,p3d2_length,np4,np4_aa,np4_length,n4_length,p5d3_length,p3d3_length
0,CCAGATGA|contig1|size161|read11|cov7.42,acaggtcgctgtgtttgagccatcagaagcagagatctcccacacc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CAGATAGC|contig1|size477|read27|cov6.64,gcgacggcttcttcggcaacccccgcaagtccaagctcatctgcca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CAGATAGC|contig2|size198|read15|cov9.08,gaggacgttcggccaagggaccaaggtggaaatcaaacgaactgtg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CAGATAGC|contig3|size158|read19|cov12.53,tgtagccccaggcttcttcacctcagccccagactgtaccagctgg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CAGATAGC|contig4|size207|read6|cov3.21,ccgtggcctggcagatgagcttggacttgcgggggttgccgaagaa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
def data_to_cols(x):
    barcode, contig, size, read, cov = x.split("|")
    size = int(size.replace("size", ""))
    read = int(read.replace("read", ""))
    cov = float(cov.replace("cov", ""))
    return(barcode, contig, size, read, cov)

data_to_cols("CCAGATGA|contig1|size95|read4|cov3.57")

('CCAGATGA', 'contig1', 95, 4, 3.57)

In [5]:
df_bcr[["barcode", "contig", "contig_size", "contig_reads", "contig_coverage"]] = [x for x in map(data_to_cols, df_bcr["sequence_id"])]
df_bcr.head()

,sequence_id,sequence,sequence_aa,rev_comp,productive,complete_vdj,vj_in_frame,stop_codon,locus,v_call,...,5prime_trimmed_n_nb,3prime_trimmed_n_nb,insertions,deletions,junction_decryption,barcode,contig,contig_size,contig_reads,contig_coverage
0,CCAGATGA|contig1|size161|read11|cov7.42,ggggctgcgggtccgtgctgaccccactgtgcacctccttcccatt...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CCAGATGA,contig1,161,11,7.42
1,CAGATAGC|contig1|size477|read27|cov6.64,gcgacggcttcttcggcaacccccgcaagtccaagctcatctgcca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAGATAGC,contig1,477,27,6.64
2,CAGATAGC|contig2|size198|read15|cov9.08,gaggacgttcggccaagggaccaaggtggaaatcaaacgaactgtg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAGATAGC,contig2,198,15,9.08
3,CAGATAGC|contig3|size158|read19|cov12.53,tgtagccccaggcttcttcacctcagccccagactgtaccagctgg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAGATAGC,contig3,158,19,12.53
4,CAGATAGC|contig4|size207|read6|cov3.21,cacaggtgctgctgccttccaaggacgtcatgcagggcacagacga...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAGATAGC,contig4,207,6,3.21

In [6]:
df_tcr[["barcode", "contig", "contig_size", "contig_reads", "contig_coverage"]] = [x for x in map(data_to_cols, df_tcr["sequence_id"])]
df_tcr.head()

,sequence_id,sequence,sequence_aa,rev_comp,productive,complete_vdj,vj_in_frame,stop_codon,locus,v_call,...,np4_aa,np4_length,n4_length,p5d3_length,p3d3_length,barcode,contig,contig_size,contig_reads,contig_coverage
0,CCAGATGA|contig1|size161|read11|cov7.42,acaggtcgctgtgtttgagccatcagaagcagagatctcccacacc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CCAGATGA,contig1,161,11,7.42
1,CAGATAGC|contig1|size477|read27|cov6.64,gcgacggcttcttcggcaacccccgcaagtccaagctcatctgcca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAGATAGC,contig1,477,27,6.64
2,CAGATAGC|contig2|size198|read15|cov9.08,gaggacgttcggccaagggaccaaggtggaaatcaaacgaactgtg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAGATAGC,contig2,198,15,9.08
3,CAGATAGC|contig3|size158|read19|cov12.53,tgtagccccaggcttcttcacctcagccccagactgtaccagctgg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAGATAGC,contig3,158,19,12.53
4,CAGATAGC|contig4|size207|read6|cov3.21,ccgtggcctggcagatgagcttggacttgcgggggttgccgaagaa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAGATAGC,contig4,207,6,3.21

In [7]:
df_bcr.to_excel("./IMGT-BCR/vquest-bcr-contig-info.xlsx")
df_tcr.to_excel("./IMGT-TCR/vquest-tcr-contig-info.xlsx")

In [8]:
# how many BCR CDR3s were found?
df_bcr_junctions = df_bcr.groupby(["barcode", "locus", "junction_aa"]).agg({"sequence_id": len}).sort_values("sequence_id", ascending=False)
df_bcr_junctions

                                 sequence_id
barcode  locus junction_aa
CAGCTTTG IGK   CQQYNNWPRTF                23
TAGGGGAA IGH   CATDGSTVTTGFLGYW           15
CAGTCCAT IGL   CQAWDSSNMVF                14
TAAGGTCC IGL   CGTWDSSLSAVVF              13
GCTTTGGA IGH   CARHSWYTSGWPSDYW           11
...                                      ...
CATCTCAC IGH   CASPLRNSGDYR                1
CATAGCTC IGL   CQSYDSSNHVVF                1
         IGH   CARHPLSYNNWFDPW             1
CAGCGATT IGK   CMQALQTPLTF                 1
TTTGTGTC IGL   CGTWDSSLSAGVF               1

[125 rows x 1 columns]

In [9]:
# how many TCR CDR3s were found?
df_tcr_junctions = df_tcr.groupby(["barcode", "locus", "junction_aa"]).agg({"sequence_id": len}).sort_values("sequence_id", ascending=False)
df_tcr_junctions

                                    sequence_id
barcode  locus junction_aa
TTGTCCAC TRA   CAVDPHARLMF                    2
AAAGCGGA TRA   CALSQRDTDKLIF                  1
ACAGAGCT TRB   CASSPGGQGEAFF                  1
AGCGAACT TRB   CASSAQGNTEAFF                  1
CGGTACTT TRB   CASSPQDRGPR*VNTEAFF            1
CTCGTACT TRB   CASSQDFQNTEAFF                 1
GCAAGAAG TRA   CAATWQLQGAQKLVF                1
GGTGACTA TRB   CASSLQGGTQYF                   1
GTATGCAC TRB   CASGGADQPQHF                   1
TCGTCCTT TRB   CASSGGEQFF                     1
TTCAGCGT TRD   CQQYGSSPYTF                    1
TTTTCGCC TRB   CSARGPGLAGEETQYF               1

In [10]:
df_bcr_junctions.to_excel("./IMGT-BCR/brc-junctions.xlsx")

In [11]:
df_tcr_junctions.to_excel("./IMGT-TCR/tcr-junctions.xlsx")

In [12]:
# Count barcodes with more than one locus
df = pd.concat([df_bcr_junctions, df_tcr_junctions])
df = df.reset_index()
df.head()

    barcode locus       junction_aa  sequence_id
0  CAGCTTTG   IGK       CQQYNNWPRTF           23
1  TAGGGGAA   IGH  CATDGSTVTTGFLGYW           15
2  CAGTCCAT   IGL       CQAWDSSNMVF           14
3  TAAGGTCC   IGL     CGTWDSSLSAVVF           13
4  GCTTTGGA   IGH  CARHSWYTSGWPSDYW           11

In [13]:
concatenate = lambda x: ",".join(list(set(x)))
df_count_loci = df.groupby("barcode").agg({"locus": ["nunique", concatenate], "junction_aa": ["nunique", concatenate]}).sort_values(("junction_aa", "nunique"), ascending=False)
df_count_loci

           locus              junction_aa  \
         nunique   <lambda_0>     nunique
barcode
CTGCGAAA       2      IGK,IGH           5
ATGCCTCA       2      IGH,IGL           5
CGACTTAC       2      IGH,IGL           4
AAGCGAGT       3  IGK,IGH,IGL           3
GCTTTGGA       2      IGK,IGH           3
...          ...          ...         ...
CTCGTACT       1          TRB           1
AACCGCTT       1          IGL           1
GATGTCGA       1          IGK           1
GCAAGAAG       1          TRA           1
TTTTCGCC       1          TRB           1


                                                 <lambda_0>
barcode
CTGCGAAA  CQQYYSTPPF,CQHYGSSPLTF,CQQSYITPYTF,CARGYWGSPSL...
ATGCCTCA  CARGARRSQDFDYW,CQSYDSSNQVF,CQSYDSSNQKKKK*GI,CQ...
CGACTTAC  CQAWDSSTKKKKKKKK*VVM,CAHRAYSNYRLYAFDIW,CLSADSS...
AAGCGAGT              CASPLTLSKSYW,CCSYAGSYTYVF,CQKYNVAPITF
GCTTTGGA      CARHSWYTSGWPSDYW,*ARHSWYTSGWPSDYW,CQQTYSYPRTF
...                                                     ...
CTCGTACT                                     CASSQDFQNTEAFF
AACCGCTT                                     CAAWDDSLNGRYVF
GATGTCGA                                        CQQYNNWPQTF
GCAAGAAG                                    CAATWQLQGAQKLVF
TTTTCGCC                                   CSARGPGLAGEETQYF

[86 rows x 4 columns]

In [14]:
df_count_loci.to_excel("./IMGT-BCR/count-loci-bcr-tcr.xlsx")