In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
clones = pd.read_csv("/home/barbera/Downloads/runXXX-20210107-SC-Tom/processing/20211102-reseda/20211103-merge-barcodes-donors/AMC-TC-x001-HL-clones-mut-donors.csv")
clones.head()

,Unnamed: 0,barcode,nCount_RNA,nFeature_RNA,percent.mito,n.exp.hkgenes,S.Score,G2M.Score,Phase,nCount_HTO,...,mut.count.J.light_mean,mut.count.J.light_median,mut.frac.V.heavy_mean,mut.frac.V.heavy_median,mut.frac.J.heavy_mean,mut.frac.J.heavy_median,mut.frac.V.light_mean,mut.frac.V.light_median,mut.frac.J.light_mean,mut.frac.J.light_median
0,0,AAACCTGAGGCTAGGT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
1,1,AAACCTGAGTGCGATG,963.0,410.0,0.035306,69.0,-0.008567,-0.030358,G1,7805.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.006734,0.006734,0.0,0.0
2,2,AAACCTGCAATAGAGT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,AAACCTGCAATCTACG,2162.0,708.0,0.038390,71.0,-0.017133,-0.085637,G1,6576.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,AAACCTGGTTCAGTAC,2722.0,784.0,0.029758,71.0,-0.017133,-0.072555,G1,6527.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
clones.columns

Index(['Unnamed: 0', 'barcode', 'nCount_RNA', 'nFeature_RNA', 'percent.mito',
       'n.exp.hkgenes', 'S.Score', 'G2M.Score', 'Phase', 'nCount_HTO',
       'nFeature_HTO', 'HTO_maxID', 'HTO_secondID', 'HTO_margin',
       'HTO_classification', 'HTO_classification.global', 'hash.ID',
       'MULTI_ID', 'MULTI_classification', 'nCount_ADT', 'nFeature_ADT',
       'CD27_counts', 'IgD_counts', 'CD27_normCounts_CLR',
       'IgD_normCounts_CLR', 'IGH', 'cdr3_aa1', 'cdr3_nt1', 'IGLC', 'cdr3_aa2',
       'cdr3_nt2', 'CTgene', 'CTnt', 'CTaa', 'CTstrict', 'raw_clonotype_id',
       'raw_consensus_id', 'frequency_10X_cloneFile',
       'proportion_10X_cloneFile', 'reads_heavy_chain', 'reads_light_chain',
       'umis_heavy_chain', 'umis_light_chain', 'frequency_recalculated',
       'proportion_recalculated', 'cdr3_heavy_nunique', 'cdr3_heavy_concat',
       'acc_x_nunique', 'acc_x_concat', 'V_sub_x_nunique', 'V_sub_x_concat',
       'J_sub_x_nunique', 'J_sub_x_concat', 'cdr3nuc_x_nunique',
       'cdr3nuc_x_concat', 'cdr3pep_x_nunique', 'cdr3pep_x_concat',
       'cdr3_light_nunique', 'cdr3_light_concat', 'acc_y_nunique',
       'acc_y_concat', 'V_sub_y_nunique', 'V_sub_y_concat', 'J_sub_y_nunique',
       'J_sub_y_concat', 'cdr3nuc_y_nunique', 'cdr3nuc_y_concat',
       'cdr3pep_y_nunique', 'cdr3pep_y_concat', 'mut.count.V.heavy_mean',
       'mut.count.V.heavy_median', 'mut.count.J.heavy_mean',
       'mut.count.J.heavy_median', 'mut.count.V.light_mean',
       'mut.count.V.light_median', 'mut.count.J.light_mean',
       'mut.count.J.light_median', 'mut.frac.V.heavy_mean',
       'mut.frac.V.heavy_median', 'mut.frac.J.heavy_mean',
       'mut.frac.J.heavy_median', 'mut.frac.V.light_mean',
       'mut.frac.V.light_median', 'mut.frac.J.light_mean',
       'mut.frac.J.light_median'],
      dtype='object')

In [4]:
cols = ["barcode", "cdr3_aa1", "cdr3_aa2", "cdr3_heavy_concat", "cdr3_light_concat"]
df = clones[cols]
df.head()

,barcode,cdr3_aa1,cdr3_aa2,cdr3_heavy_concat,cdr3_light_concat
0,AAACCTGAGGCTAGGT,CAKDHSSWYEWYSLAPGDYW,CQQYGSSPLFTF,IGH:CAKDHSSWYEWYSLAPGDYW,IGK:CQQYGSSPLFTF
1,AAACCTGAGTGCGATG,CATHLIGSHFDYW,CSSYTSSSTLVF,IGH:CATHLIGSHFDYW,IGL:CSSYTSSSTLVF
2,AAACCTGCAATAGAGT,NaN,CQQRSNWPPTF,NaN,NaN
3,AAACCTGCAATCTACG,CARYFDAFDIW,CQSADSSGTYVF,NaN,NaN
4,AAACCTGGTTCAGTAC,CARDQAIAAADLYYFDYW,CQQYYSYPPITF,NaN,NaN

In [5]:
def compare_chain(cellranger, reseda):
    # Check if cellranger and reseda is NaN
    if cellranger is np.nan:
        cellranger = ""
    if reseda is np.nan:
        reseda = ":" # this is a hack: otherwise the next split action will give an error

    # Reseda could have found more than one chain. Delimiter is ;
    reseda = reseda.split(";")
    if reseda != "":
        reseda = [x.split(":")[1] for x in reseda]

    # Check if the CDR3 that CellRanger annotated is in the list of the Reseda identified CDR3(s)
    if cellranger in reseda:
        comparison = "same"
    else:
        comparison = "different"
    return(comparison)
print("ABC", "IGH:ABC;IGH:DEF", compare_chain("ABC", "IGH:ABC;IGH:DEF"))
print("XYZ", "IGH:ABC;IGH:DEF", compare_chain("XYZ", "IGH:ABC;IGH:DEF"))
print("ABC", "IGH:ABC", compare_chain("ABC", "IGH:ABC"))
print("ABC", "IGH:ABC", compare_chain("ABC", "IGH:XYZ"))
print("ABC", np.nan, compare_chain("ABC", np.nan))
print(np.nan, "IGH:ABC", compare_chain(np.nan, "IGH:XYZ"))

ABC IGH:ABC;IGH:DEF same
XYZ IGH:ABC;IGH:DEF different
ABC IGH:ABC same
ABC IGH:ABC different
ABC nan different
nan IGH:ABC different

In [6]:
df["heavy_comparison"] = [x for x in map(compare_chain, df["cdr3_aa1"], df["cdr3_heavy_concat"])]
df["light_comparison"] = [x for x in map(compare_chain, df["cdr3_aa2"], df["cdr3_light_concat"])]

/home/barbera/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/barbera/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
df.head(25)

,barcode,cdr3_aa1,cdr3_aa2,cdr3_heavy_concat,cdr3_light_concat,heavy_comparison,light_comparison
0,AAACCTGAGGCTAGGT,CAKDHSSWYEWYSLAPGDYW,CQQYGSSPLFTF,IGH:CAKDHSSWYEWYSLAPGDYW,IGK:CQQYGSSPLFTF,same,same
1,AAACCTGAGTGCGATG,CATHLIGSHFDYW,CSSYTSSSTLVF,IGH:CATHLIGSHFDYW,IGL:CSSYTSSSTLVF,same,same
2,AAACCTGCAATAGAGT,NaN,CQQRSNWPPTF,NaN,NaN,same,different
3,AAACCTGCAATCTACG,CARYFDAFDIW,CQSADSSGTYVF,NaN,NaN,different,different
4,AAACCTGGTTCAGTAC,CARDQAIAAADLYYFDYW,CQQYYSYPPITF,NaN,NaN,different,different
5,AAACCTGGTTCATGGT,CARLGVGATGVYDYW,CQAWDSSNVVF,IGH:CARLGVGATGVYDYW,IGL:CQAWDSSNVVF,same,same
6,AAACCTGTCCCGACTT,CARDLSWGVVANPLTGHYW,CQAWDSSLVF,IGH:CARDLSWGVVANPLTGHYW,IGL:CQAWDSSLVF,same,same
7,AAACCTGTCTTAACCT,CARDQAIAAADLYYFDYW,NaN,NaN,NaN,different,same
8,AAACGGGAGATGAGAG,NaN,CQQRSNWPPVYTF,NaN,NaN,same,different
9,AAACGGGAGCTCAACT,CAREYSSYEGDFDLW,CMQATQFPQEYTF,IGH:CAREYSSYEGDFDLW,IGK:CMQATQFPQEYTF,same,same
10,AAACGGGAGGATGCGT,CARGQWSYSDYW,CQVWDSSTEVF,IGH:CARGQWSYSDYW,IGL:CQVWDSSTEVF,same,same
11,AAACGGGAGTGTCTCA,CATVRITMVRGVIIYDRTFDYW,CQQSYSTPPTF,IGH:CATVRITMVRGVIIYDRTFDYW,IGK:CQQSYSTPPTF,same,same
12,AAACGGGCACAGACAG,CARDRTQQLASNWFDPW,CLQHDNFPLDTF,IGH:CARDRTQQLASNWFDPW,IGK:CLQHDNFPLDTF,same,same
13,AAACGGGCATCCTTGC,NaN,CQQYDLYSTF,NaN,NaN,same,different
14,AAACGGGCATTATCTC,CARATAPYYYDSSGYLPW,CSSYTSSSTRVF,IGH:CARATAPYYYDSSGYLPW,IGL:CSSYTSSSTRVF,same,same
15,AAACGGGGTCTCATCC,NaN,CQQYGRSPITF,NaN,NaN,same,different
16,AAACGGGGTCTTCAAG,CARDQGEELRFLEWLPYYYYGMDVW,CQQYYSYPLFTF,IGH:CARDQGEELRFLEWLPYYYYGMDVW,IGK:CQQYYSYPLFTF,same,same
17,AAACGGGTCATGGTCA,CAKPLYCNDGFCYWAWDSW,CMQGVRLPLTF,NaN,NaN,different,different
18,AAACGGGTCGTGGACC,CARDVGGLLWFGESSSYYYYMDVW,CQKYNSALPF,IGH:CARDVGGLLWFGESSSYYYYMDVW,IGK:CQKYNSALPF,same,same
19,AAAGATGAGACTCGGA,CATVSPSYCSSTSCYTISWFDPW,CQQYNNWPRTF,IGH:CATVSPSYCSSTSCYTISWFDPW,IGK:CQQYNNWPRTF,same,same
20,AAAGATGAGTCCTCCT,NaN,CQQYGSSPRTF,IGH:CARDSNPTLPSTRPTYYDFWSGYLGEYYYYYGMDVW,IGK:CQQYGSSPRTF,different,same
21,AAAGATGCAACAACCT,CARRNTADAFDIW,CQQYKDWPYTF,IGH:CAKDPSGPFNGWEYW,IGK:CQQYKDWPYTF,different,same
22,AAAGATGCACAGCGTC,CAKVIGGAVLWFGETFDIW,CQQYNNWPMTF,IGH:CAKVIGGAVLWFGETFDIW,IGK:CQQYNNWPMTF,same,same
23,AAAGATGCATCCAACA,CARDYYDSSGYYLHWYFDLW,CQQYNSYPGTF,IGH:CARDYYDSSGYYLHWYFDLW,IGK:CQQYNSYPGTF,same,same
24,AAAGATGCATTATCTC,NaN,CQQYNNWPQTF,NaN,NaN,same,different

In [8]:
# Some stats
print("Total entries:", len(df))

Total entries: 5164

In [9]:
# Count how often the CDR3 is missed by CellRanger and Reseda
print("CellRanger missing heavy:", len(df[df['cdr3_aa1'].isna()]))
print("CellRanger missing light:", len(df[df['cdr3_aa2'].isna()])) 
print("Reseda missing heavy    :", len(df[df['cdr3_heavy_concat'].isna()])) 
print("Reseda missing light    :", len(df[df['cdr3_light_concat'].isna()]))

CellRanger missing heavy: 1188
CellRanger missing light: 514
Reseda missing heavy    : 2309
Reseda missing light    : 2309

In [10]:
df.groupby(["heavy_comparison", "light_comparison"]).agg({"barcode": [len, "nunique"]}).reset_index()

  heavy_comparison light_comparison barcode
                                        len nunique
0        different        different     796     796
1        different             same     631     631
2             same        different    1129    1129
3             same             same    2608    2608

In [11]:
# Now first delete all missing data and count same and different chains
df = df.dropna()
df.groupby(["heavy_comparison", "light_comparison"]).agg({"barcode": [len, "nunique"]}).reset_index()

  heavy_comparison light_comparison barcode
                                        len nunique
0        different        different      23      23
1        different             same      53      53
2             same        different      70      70
3             same             same    2578    2578