In [1]:
import os
import pandas as pd

In [2]:
[x for x in os.listdir() if x.startswith("basta")]

['basta-allinfo-long.xlsx',
 'basta-clones.xlsx',
 'basta-allinfo.xlsx',
 'basta-allinfo-long-mut-nglyc-cdr3peplength.xlsx',
 'basta-allinfo-long-mut-nglyc-cdr3peplength-VJ.xlsx',
 'basta-allinfo-mismatch.xlsx',
 'basta-allinfo-mismatch-mut-nglyc-cdr3peplength.xlsx']

In [3]:
df = pd.read_excel('basta-allinfo-mismatch-mut-nglyc-cdr3peplength.xlsx')
df.head()

,acc,beforeMID,MID,afterMID,readingframe,cdr3pep,cdr3nuc,cdr3_qual_min,cdr3_qual_max,cdr3_qual_avg,...,mut.count_x.mode,mut.count_x.sum,mut.count_y.mean,mut.count_y.mode,mut.count_y.sum,mut.frac_x.mean,mut.frac_y.mean,nr_sites.mean,nr_sites.mode,nr_sites.sum
0,M02984:466:000000000-BJD2F:1:1101:10160:22921,AGGATGTTA,ACGTACGT,CTTAC,5,CARGAGDRELQKPSPFDYWGQGTLVT,TGTGCGAGAGGGGCCGGGGATCGGGAACTACAAAAACCTTCTCCGT...,38,40,39.7,...,6,8041,0.026639,0,45,0.025487,0.00062,0.175989,0,29
1,M02984:466:000000000-BJD2F:1:1101:10314:6196,CCTACGCGG,ACGTACGT,CTACC,5,CARGAGDRELQKPSPFDYWGQGTLVT,TGTGCGAGAGGGGCCGGGGATCGGGAACTACAAAAACCTTCTCCGT...,34,40,39.6,...,6,8041,0.026639,0,45,0.025487,0.00062,0.175989,0,29
2,M02984:466:000000000-BJD2F:1:1101:11151:22824,TGTAGGTGT,ACGTACGT,CTTAC,5,CARGAGDRELQKPSPFDYWGQGTLVT,TGTGCGAGAGGGGCCGGGGATCGGGAACTACAAAAACCTTCTCCGT...,37,40,39.7,...,6,8041,0.026639,0,45,0.025487,0.00062,0.175989,0,29
3,M02984:466:000000000-BJD2F:1:1101:11198:8015,AAGGCTTGT,ACGTACGT,CTTAC,5,CARGAGDRELQKPSPFDYWGQGTLVT,TGTGCGAGAGGGGCCGGGGATCGGGAACTACAAAAACCTTCTCCGT...,34,40,39.7,...,6,8041,0.026639,0,45,0.025487,0.00062,0.175989,0,29
4,M02984:466:000000000-BJD2F:1:1101:11436:16814,TTTCTTCTG,ACGTACGT,CTTAC,5,CARGAGDRELQKPSPFDYWGQGTLVT,TGTGCGAGAGGGGCCGGGGATCGGGAACTACAAAAACCTTCTCCGT...,38,40,39.8,...,6,8041,0.026639,0,45,0.025487,0.00062,0.175989,0,29

In [4]:
df.columns

Index(['acc', 'beforeMID', 'MID', 'afterMID', 'readingframe', 'cdr3pep',
       'cdr3nuc', 'cdr3_qual_min', 'cdr3_qual_max', 'cdr3_qual_avg',
       'cdr3_qual', 'nt_start', 'nt_end', 'seq_length', 'V_flag', 'V_gene',
       'J_flag', 'J_gene', 'readingframe_seq', 'seq', 'pep', 'qual', 'V_sub_x',
       'J_sub_x', 'V_main', 'acc2', 'nr_v_mains', 'nr_v_subs', 'nr_v_alleles',
       'nr_j_subs', 'nr_j_alleles', 'acc3', 'readingframe2', 'nr_sites',
       'Sample', 'hit', 'orig_seq', 'found_seq', 'cdr3pep_length', 'J_sub_y',
       'UMIs', 'UMIs.frac', 'V_sub_y', 'beforeMID.nunique', 'cdr3nuc.min_mode',
       'cdr3nuc.nunique', 'freq', 'mut.count_x.mean', 'mut.count_x.mode',
       'mut.count_x.sum', 'mut.count_y.mean', 'mut.count_y.mode',
       'mut.count_y.sum', 'mut.frac_x.mean', 'mut.frac_y.mean',
       'nr_sites.mean', 'nr_sites.mode', 'nr_sites.sum'],
      dtype='object')

In [5]:
def getFirstVgene(gene_name):
    if "+" in gene_name:
        return(gene_name.split("+")[0])
    else:
        return(gene_name)

    
def getFirstJgene(gene_name):
    if "," in gene_name:
        return(gene_name.split(",")[0])
    else:
        return(gene_name)

In [6]:
df['V'] = [x for x in map(getFirstVgene, df['V_sub_y'])]
df['J'] = [x for x in map(getFirstJgene, df['J_sub_y'])]
df.head()

,acc,beforeMID,MID,afterMID,readingframe,cdr3pep,cdr3nuc,cdr3_qual_min,cdr3_qual_max,cdr3_qual_avg,...,mut.count_y.mean,mut.count_y.mode,mut.count_y.sum,mut.frac_x.mean,mut.frac_y.mean,nr_sites.mean,nr_sites.mode,nr_sites.sum,V,J
0,M02984:466:000000000-BJD2F:1:1101:10160:22921,AGGATGTTA,ACGTACGT,CTTAC,5,CARGAGDRELQKPSPFDYWGQGTLVT,TGTGCGAGAGGGGCCGGGGATCGGGAACTACAAAAACCTTCTCCGT...,38,40,39.7,...,0.026639,0,45,0.025487,0.00062,0.175989,0,29,IGHV1-69,IGHJ4
1,M02984:466:000000000-BJD2F:1:1101:10314:6196,CCTACGCGG,ACGTACGT,CTACC,5,CARGAGDRELQKPSPFDYWGQGTLVT,TGTGCGAGAGGGGCCGGGGATCGGGAACTACAAAAACCTTCTCCGT...,34,40,39.6,...,0.026639,0,45,0.025487,0.00062,0.175989,0,29,IGHV1-69,IGHJ4
2,M02984:466:000000000-BJD2F:1:1101:11151:22824,TGTAGGTGT,ACGTACGT,CTTAC,5,CARGAGDRELQKPSPFDYWGQGTLVT,TGTGCGAGAGGGGCCGGGGATCGGGAACTACAAAAACCTTCTCCGT...,37,40,39.7,...,0.026639,0,45,0.025487,0.00062,0.175989,0,29,IGHV1-69,IGHJ4
3,M02984:466:000000000-BJD2F:1:1101:11198:8015,AAGGCTTGT,ACGTACGT,CTTAC,5,CARGAGDRELQKPSPFDYWGQGTLVT,TGTGCGAGAGGGGCCGGGGATCGGGAACTACAAAAACCTTCTCCGT...,34,40,39.7,...,0.026639,0,45,0.025487,0.00062,0.175989,0,29,IGHV1-69,IGHJ4
4,M02984:466:000000000-BJD2F:1:1101:11436:16814,TTTCTTCTG,ACGTACGT,CTTAC,5,CARGAGDRELQKPSPFDYWGQGTLVT,TGTGCGAGAGGGGCCGGGGATCGGGAACTACAAAAACCTTCTCCGT...,38,40,39.8,...,0.026639,0,45,0.025487,0.00062,0.175989,0,29,IGHV1-69,IGHJ4

In [7]:
df.to_excel('basta-allinfo-mismatch-mut-nglyc-cdr3peplength-VJ.xlsx')
print("Wrote basta-allinfo-mismatch-mut-nglyc-cdr3peplength-VJ.xlsx to disk")

Wrote basta-allinfo-mismatch-mut-nglyc-cdr3peplength-VJ.xlsx to disk