In [1]:
import pandas as pd
import os

In [2]:
# Input: CDR3 files of all Roche runs (except run214 and run258)
mydir = "/mnt/immunogenomics/RUNS/runXXX-roche-LN2/CDR3_20201015/"
myfiles = [x for x in os.listdir(mydir) if x.endswith("-IGH_HUMAN-CDR3.csv")]
myfiles[:10]

['G9UO0YJ01_L001.assembled.fastq.gz-IGH_HUMAN-CDR3.csv',
 'G9UO0YJ02_L001.assembled.fastq.gz-IGH_HUMAN-CDR3.csv',
 'run142-r1_L001.assembled.fastq.gz-IGH_HUMAN-CDR3.csv',
 'run142-r2_L001.assembled.fastq.gz-IGH_HUMAN-CDR3.csv',
 'run71-r1-GVHSAYA01_S1_L001.assembled.fastq.gz-IGH_HUMAN-CDR3.csv',
 'run71-r2-GVHSAYA02_S2_L001.assembled.fastq.gz-IGH_HUMAN-CDR3.csv',
 'run73-r1-GWBG4B301_S1_L001.assembled.fastq.gz-IGH_HUMAN-CDR3.csv',
 'run73-r2-GWBG4B302_S2_L001.assembled.fastq.gz-IGH_HUMAN-CDR3.csv',
 'run74-r1_L001.assembled.fastq.gz-IGH_HUMAN-CDR3.csv',
 'run74-r2_L001.assembled.fastq.gz-IGH_HUMAN-CDR3.csv']

In [3]:
# Input: list of CDR3's that I received from Aram
df_cdr3 = pd.read_csv("2020-08-21.presyn-top100-clones-contamination-table-on-pt.csv", sep=",")
df_cdr3.columns = ['unnamed', 'CDR3_x', 'Samples']
df_cdr3.head()

,unnamed,CDR3_x,Samples
0,1,CAAGHYDSSGYWDYWGQGTLVT x,RA-min-3 LN99-run81-r2_S6__RA-min-2 LN98-run81...
1,2,CAREHRYSSYFYYYYMDVWGKGTAVT x,RA-min-3 LN99-run81-r2_S6__RA-min-2 LN98-run81...
2,3,CASLPVGAAAGPYWGQGTLVT x,RA-min-3 LN99-run81-r2_S6__RA-min-2 LN98-run81...
3,4,CARAGYSYAYRLNWFDPWGQGTLVT x,RA-min-3 LN99-run81-r2_S6__RA-min-2 LN98-run81...
4,5,CARSGSYQENYFDYWGQGTLVT x,RA-min-3 LN99-run81-r2_S6__RA-min-2 LN98-run81...

In [4]:
# Output
# Files will be written in the current directory with this name: outfile = myfile.replace(".csv", "-matches.csv")

In [5]:
f = lambda x: x.replace(" x", "")
df_cdr3['CDR3'] = [x for x in map(f, df_cdr3['CDR3_x'])]
df_cdr3.head()

,unnamed,CDR3_x,Samples,CDR3
0,1,CAAGHYDSSGYWDYWGQGTLVT x,RA-min-3 LN99-run81-r2_S6__RA-min-2 LN98-run81...,CAAGHYDSSGYWDYWGQGTLVT
1,2,CAREHRYSSYFYYYYMDVWGKGTAVT x,RA-min-3 LN99-run81-r2_S6__RA-min-2 LN98-run81...,CAREHRYSSYFYYYYMDVWGKGTAVT
2,3,CASLPVGAAAGPYWGQGTLVT x,RA-min-3 LN99-run81-r2_S6__RA-min-2 LN98-run81...,CASLPVGAAAGPYWGQGTLVT
3,4,CARAGYSYAYRLNWFDPWGQGTLVT x,RA-min-3 LN99-run81-r2_S6__RA-min-2 LN98-run81...,CARAGYSYAYRLNWFDPWGQGTLVT
4,5,CARSGSYQENYFDYWGQGTLVT x,RA-min-3 LN99-run81-r2_S6__RA-min-2 LN98-run81...,CARSGSYQENYFDYWGQGTLVT

## Find the CDR3s in all Roche runs

In [6]:
for myfile in myfiles[:2]:
    df = pd.read_csv(mydir + myfile, sep="\t", header=None)
    df.columns = ['acc', 'frame', 'CDR3pep', 'CDR3nuc', 'CDR3pep-short', 'CDR3nuc-short', 'qc1', 'qc2', 'qc3', 'basecalls', 'x', 'y', 'z']
    df = pd.merge(df, df_cdr3, how="inner", left_on="CDR3pep", right_on="CDR3")
    outfile = myfile.replace(".csv", "-matches.csv")
    df.to_csv(outfile)
    print("Wrote", outfile, "to disk")

Wrote G9UO0YJ01_L001.assembled.fastq.gz-IGH_HUMAN-CDR3-matches.csv to disk
Wrote G9UO0YJ02_L001.assembled.fastq.gz-IGH_HUMAN-CDR3-matches.csv to disk