In [1]:
import pandas as pd
import os

In [18]:
# Output files
outClones = "basta-clones.csv"
outAllinfo = "basta-allinfo.csv"

## Read CDR3 list

In [13]:
df_cdr3 = pd.read_csv("cdr3-list.csv", header=None)
df_cdr3

                                        0
0                YYCARDHGQRDGYYGYWGQGTLVT
1            YYCARGAGDRELQKPSPFDYWDQGTLVT
2              YYCARVYGGNSLEGFWPYWGQGTLVT
3           YYCARGAGELRLGELSLPFDYWGQGTLVT
4  YYCARDRTPDAFLFRLSLGGVDIVATTPYSWGQGTLVT

In [14]:
f = lambda x: x[2:]  # remove first two amino acids
df_cdr3['cdr3pep'] = [x for x in map(f, df_cdr3[0])]
df_cdr3

,0,cdr3pep
0,YYCARDHGQRDGYYGYWGQGTLVT,CARDHGQRDGYYGYWGQGTLVT
1,YYCARGAGDRELQKPSPFDYWDQGTLVT,CARGAGDRELQKPSPFDYWDQGTLVT
2,YYCARVYGGNSLEGFWPYWGQGTLVT,CARVYGGNSLEGFWPYWGQGTLVT
3,YYCARGAGELRLGELSLPFDYWGQGTLVT,CARGAGELRLGELSLPFDYWGQGTLVT
4,YYCARDRTPDAFLFRLSLGGVDIVATTPYSWGQGTLVT,CARDRTPDAFLFRLSLGGVDIVATTPYSWGQGTLVT

## Read clone files and lookup CDR3s

In [8]:
clone_files = [x for x in os.listdir(".") if x.endswith("-clones-mut-sites-reassigned.csv")]
clone_files

['B005-SG-B_S1_L001.assembled-ACGTACGT-IGH_HUMAN-clones-mut-sites-reassigned.csv',
 'B007-BMDC-B_S4_L001.assembled-AGTCAGTC-IGH_HUMAN-clones-mut-sites-reassigned.csv']

In [10]:
df_clones = pd.read_csv(clone_files[0], sep="\t")
df_clones.head()

,cdr3pep,V_sub,J_sub,freq,beforeMID.nunique,mut.count_x.sum,mut.count_x.mean,mut.count_x.mode,mut.frac_x.mean,mut.count_y.sum,mut.count_y.mean,mut.count_y.mode,mut.frac_y.mean,nr_sites.sum,nr_sites.mean,nr_sites.mode,UMIs,cdr3nuc.nunique,cdr3nuc.min_mode,UMIs.frac
0,CARGAGDRELQKPSPFDYWGQGTLVT,IGHV1-69,IGHJ4,1806,1656,8041.0,6.005470,6.0,0.025487,45.0,0.026639,0.0,0.000620,29.0,0.175989,0.0,1633,38,TGTGCGAGAGGGGCCGGGGATCGGGAACTACAAAAACCTTCTCCGT...,0.046215
1,CAHSNDYVWGSYRYTFDSWGQGTLVT,IGHV2-5,"IGHJ4,IGHJ5",1315,988,2141.0,1.623012,1.0,0.006757,1321.0,0.835159,1.0,0.019086,15.0,0.013175,0.0,968,13,TGTGCACACTCTAATGATTACGTTTGGGGCAGTTATCGTTATACCT...,0.027395
2,CVRGQWLFDYWGQGTLVT,IGHV4-31,IGHJ4,1171,981,9403.0,7.728507,9.0,0.032042,8.0,0.001188,0.0,0.000029,38.0,0.155655,0.0,861,14,TGTGTGAGAGGACAGTGGTTGTTTGACTACTGGGGCCAGGGAACCC...,0.024367
3,CAKKLGSGLTPYDYWGQGTLVT,IGHV3-23,IGHJ4,700,564,8894.0,8.200410,14.0,0.037251,3.0,0.017424,0.0,0.000425,18.0,0.019506,0.0,528,8,TGTGCGAAAAAGTTGGGAAGTGGTCTTACCCCCTATGACTACTGGG...,0.014943
4,CAHSYDYVWGSYRYTFDYWGQGTLVT,IGHV2-5,IGHJ4,477,362,1593.0,3.043103,4.0,0.012687,3.0,0.002155,0.0,0.000049,7.0,0.032088,0.0,360,11,TGTGCACACTCTTATGATTACGTTTGGGGGAGTTATCGTTATACCT...,0.010188

In [11]:
for clone_file in clone_files[1:]:
    df_clones = pd.concat([df_clones, pd.read_csv(clone_file, sep="\t")])
df_clones.tail()

,cdr3pep,V_sub,J_sub,freq,beforeMID.nunique,mut.count_x.sum,mut.count_x.mean,mut.count_x.mode,mut.frac_x.mean,mut.count_y.sum,mut.count_y.mean,mut.count_y.mode,mut.frac_y.mean,nr_sites.sum,nr_sites.mean,nr_sites.mode,UMIs,cdr3nuc.nunique,cdr3nuc.min_mode,UMIs.frac
6202,CARRVPLSGTPFDYWGQGTLVT,IGHV3-30-3,IGHJ4,1,1,8.0,8.0,8.0,0.033613,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1,1,TGTGCGAGACGTGTACCACTGTCTGGTACGCCCTTTGACTACTGGG...,0.000044
6203,CARRVSLSGTPFDYWSQGTLVT,IGHV3-9,IGHJ4,1,1,4.0,4.0,4.0,0.023392,1.0,1.0,1.0,0.022727,0.0,0.0,0.0,1,1,TGTGCGAGACGTGTATCACTGTCTGGTACGCCCTTTGACTACTGGA...,0.000044
6204,CARRPYDFWSFHYYYYGMGVWGQGTTVT,IGHV4-61,IGHJ6,1,1,11.0,11.0,11.0,0.044715,1.0,1.0,1.0,0.016949,0.0,0.0,0.0,1,1,TGTGCGAGGCGTCCTTACGATTTTTGGAGTTTTCACTACTACTACT...,0.000044
6205,CARRPRIQLWLRISAYFDYWGQGTLVT,IGHV4-34,IGHJ4,1,1,1.0,1.0,1.0,0.004149,0.0,0.0,0.0,0.000000,1.0,1.0,1.0,1,1,TGTGCGAGACGACCTCGGATACAGCTATGGTTGCGCATCTCGGCTT...,0.000044
6206,YVRSVQYAGDHWGQGTLVT,IGHV3-48,IGHJ4,1,1,27.0,27.0,27.0,0.117391,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1,1,TATGTGAGATCCGTGCAGTACGCGGGGGACCACTGGGGCCAGGGAA...,0.000044

In [19]:
df_lookup_clones = pd.merge(df_cdr3, df_clones, how='inner', on='cdr3pep')
df_lookup_clones

,0,cdr3pep,V_sub,J_sub,freq,beforeMID.nunique,mut.count_x.sum,mut.count_x.mean,mut.count_x.mode,mut.frac_x.mean,...,mut.count_y.mean,mut.count_y.mode,mut.frac_y.mean,nr_sites.sum,nr_sites.mean,nr_sites.mode,UMIs,cdr3nuc.nunique,cdr3nuc.min_mode,UMIs.frac
0,YYCARGAGDRELQKPSPFDYWDQGTLVT,CARGAGDRELQKPSPFDYWDQGTLVT,IGHV1-69,IGHJ4,4,4,16.0,4.0,3.0,0.016667,...,1.0,1.0,0.023256,0.0,0.0,0.0,4,1,TGTGCGAGAGGGGCCGGGGATCGGGAACTACAAAAACCTTCTCCGT...,0.000113

In [21]:
df_lookup_clones.to_csv(outClones)
print("Wrote", outClones, "to disk")

Wrote basta-clones.csv to disk

## Read all info files and lookup CDR3s

In [23]:
allinfo_files = [x for x in os.listdir(".") if x.endswith(".all_info.csv")]
allinfo_files

['B005-SG-B_S1_L001.assembled-ACGTACGT-IGH_HUMAN-all_info.csv.rr.all_info.csv',
 'B007-BMDC-B_S4_L001.assembled-AGTCAGTC-IGH_HUMAN-all_info.csv.rr.all_info.csv']

In [26]:
df_allinfo = pd.read_csv(allinfo_files[0], sep="\t")
print(len(df_allinfo))
df_allinfo.head()

56242

,acc,beforeMID,MID,afterMID,readingframe,cdr3pep,cdr3nuc,cdr3_qual_min,cdr3_qual_max,cdr3_qual_avg,...,V_main,acc2,nr_v_mains,nr_v_subs,nr_v_alleles,nr_j_subs,nr_j_alleles,acc3,readingframe2,nr_sites
0,M02984:466:000000000-BJD2F:1:1101:10002:8181,TACCCGTCT,ACGTACGT,CTTAC,4,CAKLTGYYYDSSGVRAFDIWGQGTMVT,TGTGCGAAACTCACTGGGTATTACTATGATAGTAGTGGCGTACGGG...,10,40,38.2,...,IGHV3,M02984:466:000000000-BJD2F:1:1101:10002:8181,1,1,1,1,1,None,None,0
1,M02984:466:000000000-BJD2F:1:1101:10008:9626,GAACTCCCG,ACGTACGT,CTTAC,4,CAKDLQVAVAGTGVYWGQGTLVT,TGTGCGAAAGATCTTCAAGTAGCAGTGGCTGGTACGGGAGTCTACT...,40,40,40.0,...,IGHV3,M02984:466:000000000-BJD2F:1:1101:10008:9626,1,1,1,1,1,None,None,0
2,M02984:466:000000000-BJD2F:1:1101:10009:16113,TTCCGAGAG,ACGTACGT,CTTAC,4,CARDNALLSGMDVWGQGTTVT,TGTGCGAGAGATAACGCTCTACTATCCGGTATGGACGTCTGGGGCC...,37,40,40.0,...,IGHV4,M02984:466:000000000-BJD2F:1:1101:10009:16113,1,1,1,1,1,None,None,0
3,M02984:466:000000000-BJD2F:1:1101:10017:5969,AAATGTATT,ACGTACGT,CTTAC,4,CARHRRFLDLFFDIWDQGTMVT,TGTGCGAGACATCGACGATTTTTGGATCTTTTTTTTGATATCTGGG...,36,40,39.8,...,IGHV4,M02984:466:000000000-BJD2F:1:1101:10017:5969,1,1,1,1,1,None,None,0
4,M02984:466:000000000-BJD2F:1:1101:10027:22362,TACCACTCT,ACGTACGT,CTTAC,4,CARFLVEDAFDIWGQGTLVT,TGTGCGCGATTCTTGGTGGAAGATGCTTTTGATATCTGGGGCCAAG...,40,40,40.0,...,IGHV3,M02984:466:000000000-BJD2F:1:1101:10027:22362,1,1,1,1,1,None,None,0

In [27]:
for allinfo_file in allinfo_files[1:]:
    df_allinfo = pd.concat([df_allinfo, pd.read_csv(allinfo_file, sep="\t")])
print(len(df_allinfo))
df_allinfo.tail()

93289

/data/home/bioinfo/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,acc,beforeMID,MID,afterMID,readingframe,cdr3pep,cdr3nuc,cdr3_qual_min,cdr3_qual_max,cdr3_qual_avg,...,V_main,acc2,nr_v_mains,nr_v_subs,nr_v_alleles,nr_j_subs,nr_j_alleles,acc3,readingframe2,nr_sites
37042,M02984:466:000000000-BJD2F:1:2119:9885:18035,CGGTATTAG,AGTCAGTC,CTTAC,4,CARDHASGYGDSNGLYYYYGMDVWGQGTTVT,TGTGCGAGAGATCATGCATCCGGCTACGGTGACTCCAACGGCCTCT...,38,40,39.5,...,IGHV3,M02984:466:000000000-BJD2F:1:2119:9885:18035,1,1,1,1,1,None,None,0
37043,M02984:466:000000000-BJD2F:1:2119:9888:14296,ATCTTTTTT,AGTCAGTC,CTTAC,4,CAKSTYDSSGYSDAEYFQHWGQGTLVT,TGTGCGAAATCGACCTATGATAGTAGTGGTTATAGCGACGCTGAAT...,31,40,39.4,...,IGHV3,M02984:466:000000000-BJD2F:1:2119:9888:14296,1,1,1,1,1,None,None,0
37044,M02984:466:000000000-BJD2F:1:2119:9908:7785,ATTTGGTAT,AGTCAGTC,CTTAC,4,CAKAIWEWSFDYWGQGTLVT,TGTGCGAAAGCTATTTGGGAGTGGTCCTTTGACTACTGGGGCCAGG...,38,40,40.0,...,IGHV3,M02984:466:000000000-BJD2F:1:2119:9908:7785,1,1,1,1,1,None,None,0
37045,M02984:466:000000000-BJD2F:1:2119:9924:19477,GTTAAGTGA,AGTCAGTC,CTTAC,4,CAKVGTKAMVTPFDYWGQGTLVT,TGTGCGAAAGTAGGGACAAAAGCTATGGTTACGCCTTTTGACTACT...,40,40,40.0,...,IGHV3,M02984:466:000000000-BJD2F:1:2119:9924:19477,1,1,1,1,1,None,None,0
37046,M02984:466:000000000-BJD2F:1:2119:9935:2530,GCGCTTGGT,AGTCAGTC,CTTAC,4,CARGQRSTYYYDSSGYYFHYWGQGTLVT,TGTGCGAGAGGCCAAAGATCGACGTATTACTATGATAGTAGTGGTT...,27,40,39.4,...,IGHV3,M02984:466:000000000-BJD2F:1:2119:9935:2530,1,1,1,1,1,None,None,0

In [28]:
df_lookup_allinfo = pd.merge(df_cdr3, df_allinfo, how='inner', on='cdr3pep')
df_lookup_allinfo.head()

,0,cdr3pep,acc,beforeMID,MID,afterMID,readingframe,cdr3nuc,cdr3_qual_min,cdr3_qual_max,...,V_main,acc2,nr_v_mains,nr_v_subs,nr_v_alleles,nr_j_subs,nr_j_alleles,acc3,readingframe2,nr_sites
0,YYCARGAGDRELQKPSPFDYWDQGTLVT,CARGAGDRELQKPSPFDYWDQGTLVT,M02984:466:000000000-BJD2F:1:1103:15659:3546,CATGATGCA,ACGTACGT,CTTAC,5,TGTGCGAGAGGGGCCGGGGATCGGGAACTACAAAAACCTTCTCCGT...,37,40,...,IGHV1,M02984:466:000000000-BJD2F:1:1103:15659:3546,1,1,1,1,1,None,None,0
1,YYCARGAGDRELQKPSPFDYWDQGTLVT,CARGAGDRELQKPSPFDYWDQGTLVT,M02984:466:000000000-BJD2F:1:1105:22957:6581,ATTAAGCAA,ACGTACGT,CTTAC,5,TGTGCGAGAGGGGCCGGGGATCGGGAACTACAAAAACCTTCTCCGT...,38,40,...,IGHV1,M02984:466:000000000-BJD2F:1:1105:22957:6581,1,1,1,1,1,None,None,0
2,YYCARGAGDRELQKPSPFDYWDQGTLVT,CARGAGDRELQKPSPFDYWDQGTLVT,M02984:466:000000000-BJD2F:1:1117:4148:17644,TTCCATTTA,ACGTACGT,CTTAC,5,TGTGCGAGAGGGGCCGGGGATCGGGAACTACAAAAACCTTCTCCGT...,38,40,...,IGHV1,M02984:466:000000000-BJD2F:1:1117:4148:17644,1,1,1,1,1,None,None,0
3,YYCARGAGDRELQKPSPFDYWDQGTLVT,CARGAGDRELQKPSPFDYWDQGTLVT,M02984:466:000000000-BJD2F:1:2105:8164:24872,GTGGGGCTT,ACGTACGT,CTTAC,5,TGTGCGAGAGGGGCCGGGGATCGGGAACTACAAAAACCTTCTCCGT...,10,40,...,IGHV1,M02984:466:000000000-BJD2F:1:2105:8164:24872,1,1,1,1,1,None,None,0
4,YYCARGAGDRELQKPSPFDYWDQGTLVT,CARGAGDRELQKPSPFDYWDQGTLVT,M02984:466:000000000-BJD2F:1:2106:23167:11313,TTAGAGCCA,ACGTACGT,CTTAC,5,TGTGCGAGAGGGGCCGGGGATCGGGAACTACAAAAACCTTCTCCGT...,38,40,...,IGHV1,M02984:466:000000000-BJD2F:1:2106:23167:11313,1,1,1,1,1,None,None,0

In [29]:
df_lookup_allinfo.to_csv(outAllinfo)
print("Wrote", outAllinfo, "to disk")

Wrote basta-allinfo.csv to disk

## Now do the same for CDR3s with distance 1 or 2