In [1]:
import pandas as pd

In [2]:
clonesFile = "/home/barbera/Downloads/runXXX-20210107-SC-Tom/processing/20211102-reseda/20211103-merge-heavy-light/AMC-TC-x001-HL-clones-mut.csv"
donorFile = "/home/barbera/Downloads/runXXX-20210107-SC-Tom/aldo-perry/coupling_Seurat_RESEDA_Info.raw.05022021_manually_edited.xlsx"

In [3]:
outFile = "AMC-TC-x001-HL-clones-mut-donors.csv"

In [4]:
df_clones = pd.read_csv(clonesFile)
print("Entries:", len(df_clones))
df_clones.head()

Entries: 2855

,barcode,cdr3_heavy_nunique,cdr3_heavy_concat,acc_x_nunique,acc_x_concat,V_sub_x_nunique,V_sub_x_concat,J_sub_x_nunique,J_sub_x_concat,cdr3nuc_x_nunique,...,mut.count.J.light_mean,mut.count.J.light_median,mut.frac.V.heavy_mean,mut.frac.V.heavy_median,mut.frac.J.heavy_mean,mut.frac.J.heavy_median,mut.frac.V.light_mean,mut.frac.V.light_median,mut.frac.J.light_mean,mut.frac.J.light_median
0,AAACCTGAGGCTAGGT,1,IGH:CAKDHSSWYEWYSLAPGDYW,1,AAACCTGAGGCTAGGT-1_contig_2,1,IGHV3-23,1,IGHJ4,1,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
1,AAACCTGAGTGCGATG,1,IGH:CATHLIGSHFDYW,1,AAACCTGAGTGCGATG-1_contig_1,1,IGHV1-69,1,IGHJ4,1,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.006734,0.006734,0.0,0.0
2,AAACCTGGTTCATGGT,1,IGH:CARLGVGATGVYDYW,1,AAACCTGGTTCATGGT-1_contig_1,1,IGHV4-59,1,IGHJ4,1,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
3,AAACCTGTCCCGACTT,1,IGH:CARDLSWGVVANPLTGHYW,1,AAACCTGTCCCGACTT-1_contig_2,1,IGHV3-48,1,IGHJ4,1,...,0.0,0.0,0.003378,0.003378,0.0,0.0,0.000000,0.000000,0.0,0.0
4,AAACGGGAGCTCAACT,1,IGH:CAREYSSYEGDFDLW,1,AAACGGGAGCTCAACT-1_contig_1,1,IGHV1-69,1,IGHJ2,1,...,0.0,0.0,0.003378,0.003378,0.0,0.0,0.000000,0.000000,0.0,0.0

In [5]:
df_donors = pd.read_excel(donorFile, sheet_name=1, skiprows=2)
print("Entries:", len(df_donors))
df_donors.head()

Entries: 5163

,barcode,nCount_RNA,nFeature_RNA,percent.mito,n.exp.hkgenes,S.Score,G2M.Score,Phase,nCount_HTO,nFeature_HTO,...,mut.count.J.light_mean,mut.count.J.light_median,mut.frac.V.heavy_mean,mut.frac.V.heavy_median,mut.frac.J.heavy_mean,mut.frac.J.heavy_median,mut.frac.V.light_mean,mut.frac.V.light_median,mut.frac.J.light_mean,mut.frac.J.light_median
0,AAACCTGAGGCTAGGT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
1,AAACCTGAGTGCGATG,963.0,410.0,0.035306,69.0,-0.008567,-0.030358,G1,7805.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.021391,0.006734,0.0,0.0
2,AAACCTGCAATAGAGT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAACCTGCAATCTACG,2162.0,708.0,0.038390,71.0,-0.017133,-0.085637,G1,6576.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAACCTGGTTCAGTAC,2722.0,784.0,0.029758,71.0,-0.017133,-0.072555,G1,6527.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0

In [6]:
# Only keep the Seurat data, and remove the old Reseda data
cols = ['barcode', 'nCount_RNA', 'nFeature_RNA', 'percent.mito',
       'n.exp.hkgenes', 'S.Score', 'G2M.Score', 'Phase', 'nCount_HTO',
       'nFeature_HTO', 'HTO_maxID', 'HTO_secondID', 'HTO_margin',
       'HTO_classification', 'HTO_classification.global', 'hash.ID',
       'MULTI_ID', 'MULTI_classification', 'nCount_ADT', 'nFeature_ADT',
       'CD27_counts', 'IgD_counts', 'CD27_normCounts_CLR',
       'IgD_normCounts_CLR', 'IGH', 'cdr3_aa1', 'cdr3_nt1', 'IGLC', 'cdr3_aa2',
       'cdr3_nt2', 'CTgene', 'CTnt', 'CTaa', 'CTstrict', 'raw_clonotype_id',
       'raw_consensus_id', 'frequency_10X_cloneFile',
       'proportion_10X_cloneFile', 'reads_heavy_chain', 'reads_light_chain',
       'umis_heavy_chain', 'umis_light_chain', 'frequency_recalculated',
       'proportion_recalculated']
df_donors = df_donors[cols]
df_donors.head()

,barcode,nCount_RNA,nFeature_RNA,percent.mito,n.exp.hkgenes,S.Score,G2M.Score,Phase,nCount_HTO,nFeature_HTO,...,raw_clonotype_id,raw_consensus_id,frequency_10X_cloneFile,proportion_10X_cloneFile,reads_heavy_chain,reads_light_chain,umis_heavy_chain,umis_light_chain,frequency_recalculated,proportion_recalculated
0,AAACCTGAGGCTAGGT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,clonotype311,clonotype311_consensus_1,1.0,0.000261,232.0,3938.0,1.0,6.0,1.0,0.000261
1,AAACCTGAGTGCGATG,963.0,410.0,0.035306,69.0,-0.008567,-0.030358,G1,7805.0,10.0,...,clonotype312,clonotype312_consensus_1,1.0,0.000261,1956.0,1514.0,3.0,5.0,1.0,0.000261
2,AAACCTGCAATAGAGT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,NaN,NaN,NaN,836.0,NaN,2.0,NaN,NaN
3,AAACCTGCAATCTACG,2162.0,708.0,0.038390,71.0,-0.017133,-0.085637,G1,6576.0,7.0,...,clonotype5,clonotype5_consensus_2,8.0,0.002084,3150.0,11014.0,10.0,22.0,8.0,0.002086
4,AAACCTGGTTCAGTAC,2722.0,784.0,0.029758,71.0,-0.017133,-0.072555,G1,6527.0,8.0,...,clonotype112,clonotype112_consensus_1,2.0,0.000521,4864.0,3090.0,17.0,8.0,2.0,0.000521

In [7]:
df = pd.merge(df_donors, df_clones, how="inner", on="barcode")
print("Entries:", len(df))
df.head()

Entries: 2854

,barcode,nCount_RNA,nFeature_RNA,percent.mito,n.exp.hkgenes,S.Score,G2M.Score,Phase,nCount_HTO,nFeature_HTO,...,mut.count.J.light_mean,mut.count.J.light_median,mut.frac.V.heavy_mean,mut.frac.V.heavy_median,mut.frac.J.heavy_mean,mut.frac.J.heavy_median,mut.frac.V.light_mean,mut.frac.V.light_median,mut.frac.J.light_mean,mut.frac.J.light_median
0,AAACCTGAGGCTAGGT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
1,AAACCTGAGTGCGATG,963.0,410.0,0.035306,69.0,-0.008567,-0.030358,G1,7805.0,10.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.006734,0.006734,0.0,0.0
2,AAACCTGGTTCATGGT,2196.0,670.0,0.073770,71.0,-0.015420,-0.077934,G1,3309.0,8.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
3,AAACCTGTCCCGACTT,8598.0,1936.0,0.019423,76.0,-0.089663,-0.180411,G1,6450.0,10.0,...,0.0,0.0,0.003378,0.003378,0.0,0.0,0.000000,0.000000,0.0,0.0
4,AAACGGGAGCTCAACT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.003378,0.003378,0.0,0.0,0.000000,0.000000,0.0,0.0

In [8]:
df.to_csv(outFile)
print("Wrote", outFile, "to disk")

Wrote AMC-TC-x001-HL-clones-mut-donors.csv to disk

## Check what the overlap is

In [9]:
barcodes_clones = set(df_clones["barcode"])
barcodes_donors = set(df_donors["barcode"])

In [10]:
print("barcodes in clones:", len(barcodes_clones))
print("barcodes in donors:", len(barcodes_donors))
print("clones diff donors:", len(barcodes_clones.difference(barcodes_donors)))
print("donors diff clones:", len(barcodes_donors.difference(barcodes_clones)))
print("donors intersection clones:", len(barcodes_donors.intersection(barcodes_clones)))
print("donors union clones:", len(barcodes_donors.union(barcodes_clones)))

barcodes in clones: 2855
barcodes in donors: 5163
clones diff donors: 1
donors diff clones: 2309
donors intersection clones: 2854
donors union clones: 5164

## Is number of chains consistent with the singlet/doublet annotation?

In [11]:
df_clones_single_chains = df[(df["cdr3_heavy_nunique"] == 1) & (df["cdr3_light_nunique"] == 1)]
df_clones_single_chains.groupby("HTO_classification.global").agg({'barcode': "count"})

                           barcode
HTO_classification.global
Doublet                        421
Negative                         1
Singlet                       1619

In [12]:
df_clones_multiple_chains = df[(df["cdr3_heavy_nunique"] > 1) | (df["cdr3_light_nunique"] > 1)]
df_clones_multiple_chains.groupby("HTO_classification.global").agg({'barcode': "count"})

                           barcode
HTO_classification.global
Doublet                        266
Singlet                         72

## What is the Seurat annotation of the barcodes that are not in the Reseda clones file?

In [13]:
seurat_specific_barcodes = list(barcodes_donors.difference(barcodes_clones))
seurat_specific_barcodes[:10]

['GTCGGGTTCTCGTTTA',
 'ACATGGTGTGGCTCCA',
 'AGCATACGTATAGGTA',
 'AGCGGTCCAATGCCAT',
 'GACTACAAGATATGGT',
 'CTACGTCAGTGTTAGA',
 'GGCCGATTCCAAATGC',
 'CTAATGGGTGCTCTTC',
 'CCTACACCATATACGC',
 'ATTCTACCAGTTAACC']

In [14]:
df_seurat_spec = pd.merge(pd.DataFrame({'barcode': seurat_specific_barcodes}), df_donors, how="inner", on='barcode')
df_seurat_spec.head()

,barcode,nCount_RNA,nFeature_RNA,percent.mito,n.exp.hkgenes,S.Score,G2M.Score,Phase,nCount_HTO,nFeature_HTO,...,raw_clonotype_id,raw_consensus_id,frequency_10X_cloneFile,proportion_10X_cloneFile,reads_heavy_chain,reads_light_chain,umis_heavy_chain,umis_light_chain,frequency_recalculated,proportion_recalculated
0,GTCGGGTTCTCGTTTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,NaN,NaN,NaN,640.0,NaN,1.0,NaN,NaN
1,ACATGGTGTGGCTCCA,2508.0,735.0,0.022329,69.0,0.031663,-0.064005,S,2978.0,9.0,...,clonotype520,clonotype520_consensus_2,1.0,0.000261,2128.0,5276.0,5.0,14.0,1.0,0.000261
2,AGCATACGTATAGGTA,2861.0,820.0,0.023418,70.0,0.000412,-0.039202,S,6078.0,9.0,...,clonotype720,clonotype720_consensus_1,1.0,0.000261,3496.0,4572.0,11.0,10.0,1.0,0.000261
3,AGCGGTCCAATGCCAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,NaN,NaN,64.0,NaN,1.0,NaN,NaN,NaN
4,GACTACAAGATATGGT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,NaN,NaN,NaN,898.0,NaN,2.0,NaN,NaN

In [15]:
df_seurat_spec.groupby("raw_clonotype_id").agg({'barcode': 'nunique'})

                  barcode
raw_clonotype_id
None                 1123
clonotype100            3
clonotype1003           1
clonotype1013           1
clonotype1016           1
clonotype1023           1
clonotype1024           1
clonotype1027           1
clonotype1033           1
clonotype1035           1
clonotype1038           1
clonotype1039           1
clonotype104            3
clonotype1041           1
clonotype1042           1
clonotype1045           1
clonotype1057           1
clonotype106            3
clonotype1062           1
clonotype1063           1
clonotype1069           1
clonotype1071           1
clonotype1075           1
clonotype1076           1
clonotype1077           1
clonotype1081           1
clonotype1082           1
clonotype1084           1
clonotype1086           1
clonotype1092           1
...                   ...
clonotype912            1
clonotype913            1
clonotype916            1
clonotype917            1
clonotype93             3
clonotype936            1
clonotype946            1
clonotype948            1
clonotype949            1
clonotype95             3
clonotype950            1
clonotype952            1
clonotype954            1
clonotype955            1
clonotype961            1
clonotype963            1
clonotype965            1
clonotype967            1
clonotype97             3
clonotype970            1
clonotype971            1
clonotype973            1
clonotype979            1
clonotype980            1
clonotype981            1
clonotype985            1
clonotype993            1
clonotype994            1
clonotype995            1
clonotype998            1

[981 rows x 1 columns]

**Notes**: half of the barcodes that are in the coupling_Seurat file, but not in the Reseda clones file do not have a "clonotype" annotation.

In [16]:
df_seurat_spec.groupby("HTO_classification.global").agg({'barcode': 'nunique'})

                           barcode
HTO_classification.global
Doublet                        341
Singlet                        639

In [17]:
df_seurat_spec.groupby("IGH").agg({'barcode': 'nunique'}).sort_values(by='barcode', ascending=False)

                               barcode
IGH
IGHV3-23.IGHJ4.None.IGHM            37
IGHV1-69D.IGHJ4.None.IGHM           32
IGHV3-33.IGHJ4.None.IGHM            27
IGHV5-51.IGHJ4.None.IGHM            21
IGHV4-39.IGHJ4.None.IGHM            19
IGHV1-69D.IGHJ5.IGHD3-3.IGHM        17
IGHV1-69D.IGHJ6.None.IGHM           16
IGHV3-7.IGHJ4.None.IGHM             16
IGHV4-34.IGHJ4.None.IGHM            15
IGHV3-48.IGHJ4.None.IGHM            14
IGHV4-59.IGHJ4.None.IGHM            14
IGHV1-69.IGHJ4.None.IGHM            14
IGHV1-69D.IGHJ5.None.IGHM           14
IGHV3-33.IGHJ3.None.IGHM            13
IGHV1-69.IGHJ3.None.IGHM            12
IGHV2-5.IGHJ3.None.IGHM             12
IGHV3-23.IGHJ6.None.IGHM            11
IGHV3-33.IGHJ6.None.IGHM            11
IGHV1-46.IGHJ4.None.IGHM            10
IGHV3-23.IGHJ4.None.IGHD            10
IGHV3-30.IGHJ4.None.IGHM            10
IGHV4-59.IGHJ3.None.IGHM             9
IGHV3-23.IGHJ3.None.IGHM             8
IGHV1-18.IGHJ4.None.IGHA1            8
IGHV1-69.IGHJ6.IGHD3-3.IGHM          8
IGHV1-69D.IGHJ4.None.IGHD            8
IGHV1-69D.IGHJ4.IGHD3-3.IGHM         7
IGHV4-59.IGHJ4.None.IGHA1            7
IGHV1-69.IGHJ6.None.IGHM             7
IGHV4-61.IGHJ4.None.IGHM             7
...                                ...
IGHV2-70.IGHJ6.IGHD6-19.IGHM         1
IGHV2-70.IGHJ4.None.IGHG1            1
IGHV2-70.IGHJ4.None.IGHD             1
IGHV2-5.IGHJ5.None.IGHD              1
IGHV2-5.IGHJ5.None.IGHA2             1
IGHV3-15.IGHJ3.None.IGHG1            1
IGHV3-15.IGHJ6.IGHD3-3.IGHM          1
IGHV3-23.IGHJ4.IGHD3-3.IGHD          1
IGHV3-21.IGHJ6.IGHD3-22.IGHD         1
IGHV3-23.IGHJ4.IGHD3-22.IGHD         1
IGHV3-23.IGHJ4.IGHD3-22.IGHA2        1
IGHV3-23.IGHJ4.IGHD3-10.None         1
IGHV3-23.IGHJ4.IGHD2-15.IGHM         1
IGHV3-23.IGHJ4.IGHD2-15.IGHD         1
IGHV3-23.IGHJ3.None.IGHG1            1
IGHV3-23.IGHJ3.None.IGHA1            1
IGHV3-23.IGHJ3.IGHD3-22.IGHM         1
IGHV3-23.IGHJ2.IGHD3-22.IGHM         1
IGHV3-21.IGHJ6.IGHD3-10.IGHM         1
IGHV3-15.IGHJ6.IGHD3-9.IGHM          1
IGHV3-21.IGHJ4.None.IGHD             1
IGHV3-21.IGHJ4.IGHD2-15.IGHM         1
IGHV3-21.IGHJ3.None.IGHA1            1
IGHV3-21.IGHJ3.IGHD2-21.IGHM         1
IGHV3-20.IGHJ4.None.IGHG1            1
IGHV3-20.IGHJ4.IGHD3-3.IGHD          1
IGHV3-20.IGHJ1.None.IGHG2            1
IGHV3-15.IGHJ6.None.IGHM             1
IGHV3-15.IGHJ6.IGHD6-19.IGHM         1
IGHV7-4-1.IGHJ6.IGHD3-10.IGHM        1

[507 rows x 1 columns]