In [1]:
import os
import pandas as pd

In [2]:
# Read well positions and barcodes
df_wells = pd.read_excel("/home/barbera/Downloads/VASAseq/celseq2_primers.xlsx", engine="openpyxl")
df_wells = df_wells.rename(columns={'Well Position': 'well', 'Cell Barcode': 'barcode'})
cols = ['barcode', 'well']
df_wells = df_wells[cols]
df_wells.head()

    barcode well
0  CGTCTAAT   A1
1  AGACTCGT   A2
2  GCACGTCA   A3
3  TCAACGAC   A4
4  ATTTAGCG   A5

In [3]:
# Read IMGT tables
df_bcr = pd.read_excel("IMGT-BCR/vquest-bcr-contig-info.xlsx", engine="openpyxl", index_col=0)
df_bcr.head()

,sequence_id,sequence,sequence_aa,rev_comp,productive,complete_vdj,vj_in_frame,stop_codon,locus,v_call,...,5prime_trimmed_n_nb,3prime_trimmed_n_nb,insertions,deletions,junction_decryption,barcode,contig,contig_size,contig_reads,contig_coverage
0,CCAGATGA|contig1|size161|read11|cov7.42,ggggctgcgggtccgtgctgaccccactgtgcacctccttcccatt...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CCAGATGA,contig1,161,11,7.42
1,CAGATAGC|contig1|size477|read27|cov6.64,gcgacggcttcttcggcaacccccgcaagtccaagctcatctgcca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAGATAGC,contig1,477,27,6.64
2,CAGATAGC|contig2|size198|read15|cov9.08,gaggacgttcggccaagggaccaaggtggaaatcaaacgaactgtg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAGATAGC,contig2,198,15,9.08
3,CAGATAGC|contig3|size158|read19|cov12.53,tgtagccccaggcttcttcacctcagccccagactgtaccagctgg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAGATAGC,contig3,158,19,12.53
4,CAGATAGC|contig4|size207|read6|cov3.21,cacaggtgctgctgccttccaaggacgtcatgcagggcacagacga...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAGATAGC,contig4,207,6,3.21

In [4]:
df_tcr = pd.read_excel("IMGT-TCR/vquest-tcr-contig-info.xlsx", engine="openpyxl", index_col=0)
df_tcr.head()

,sequence_id,sequence,sequence_aa,rev_comp,productive,complete_vdj,vj_in_frame,stop_codon,locus,v_call,...,np4_aa,np4_length,n4_length,p5d3_length,p3d3_length,barcode,contig,contig_size,contig_reads,contig_coverage
0,CCAGATGA|contig1|size161|read11|cov7.42,acaggtcgctgtgtttgagccatcagaagcagagatctcccacacc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CCAGATGA,contig1,161,11,7.42
1,CAGATAGC|contig1|size477|read27|cov6.64,gcgacggcttcttcggcaacccccgcaagtccaagctcatctgcca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAGATAGC,contig1,477,27,6.64
2,CAGATAGC|contig2|size198|read15|cov9.08,gaggacgttcggccaagggaccaaggtggaaatcaaacgaactgtg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAGATAGC,contig2,198,15,9.08
3,CAGATAGC|contig3|size158|read19|cov12.53,tgtagccccaggcttcttcacctcagccccagactgtaccagctgg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAGATAGC,contig3,158,19,12.53
4,CAGATAGC|contig4|size207|read6|cov3.21,ccgtggcctggcagatgagcttggacttgcgggggttgccgaagaa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CAGATAGC,contig4,207,6,3.21

In [5]:
df = pd.concat([df_bcr, df_tcr])
df.head()

,sequence_id,sequence,sequence_aa,rev_comp,productive,complete_vdj,vj_in_frame,stop_codon,locus,v_call,...,np3_length,n3_length,p5d2_length,p3d2_length,np4,np4_aa,np4_length,n4_length,p5d3_length,p3d3_length
0,CCAGATGA|contig1|size161|read11|cov7.42,ggggctgcgggtccgtgctgaccccactgtgcacctccttcccatt...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CAGATAGC|contig1|size477|read27|cov6.64,gcgacggcttcttcggcaacccccgcaagtccaagctcatctgcca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CAGATAGC|contig2|size198|read15|cov9.08,gaggacgttcggccaagggaccaaggtggaaatcaaacgaactgtg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CAGATAGC|contig3|size158|read19|cov12.53,tgtagccccaggcttcttcacctcagccccagactgtaccagctgg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CAGATAGC|contig4|size207|read6|cov3.21,cacaggtgctgctgccttccaaggacgtcatgcagggcacagacga...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# link well id to IMGT table
df = pd.merge(df, df_wells, on="barcode")
print("Entries:", len(df))
df.head()

Entries: 7482

,sequence_id,sequence,sequence_aa,rev_comp,productive,complete_vdj,vj_in_frame,stop_codon,locus,v_call,...,n3_length,p5d2_length,p3d2_length,np4,np4_aa,np4_length,n4_length,p5d3_length,p3d3_length,well
0,CCAGATGA|contig1|size161|read11|cov7.42,ggggctgcgggtccgtgctgaccccactgtgcacctccttcccatt...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,O4
1,CCAGATGA|contig1|size161|read11|cov7.42,acaggtcgctgtgtttgagccatcagaagcagagatctcccacacc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,O4
2,CAGATAGC|contig1|size477|read27|cov6.64,gcgacggcttcttcggcaacccccgcaagtccaagctcatctgcca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J1
3,CAGATAGC|contig2|size198|read15|cov9.08,gaggacgttcggccaagggaccaaggtggaaatcaaacgaactgtg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J1
4,CAGATAGC|contig3|size158|read19|cov12.53,tgtagccccaggcttcttcacctcagccccagactgtaccagctgg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J1

## Fetch CDR3s belonging to antibody secreting cells and remove from table

In [7]:
# ASC B cells: K1-24, D19-21
asc = list()
for i in range(1,25):
    asc.append("K" + str(i))
for i in range(19,22):
    asc.append("D" + str(i))
print(asc)

['K1', 'K2', 'K3', 'K4', 'K5', 'K6', 'K7', 'K8', 'K9', 'K10', 'K11', 'K12', 'K13', 'K14', 'K15', 'K16', 'K17', 'K18', 'K19', 'K20', 'K21', 'K22', 'K23', 'K24', 'D19', 'D20', 'D21']

In [8]:
# Get ASC clones
df_asc = df[df['well'].isin(asc)]
print("Entries:", len(df_asc))
df_asc.head()

Entries: 5008

,sequence_id,sequence,sequence_aa,rev_comp,productive,complete_vdj,vj_in_frame,stop_codon,locus,v_call,...,n3_length,p5d2_length,p3d2_length,np4,np4_aa,np4_length,n4_length,p5d3_length,p3d3_length,well
302,TCATGAGG|contig1|size152|read7|cov4.83,cccttcatgcgtgacctggcagctgtagcttctgtgggacttccac...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,K19
303,TCATGAGG|contig2|size184|read5|cov3.02,aggcactcatgaggtttttttttttttttttttttttaggacgctg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,K19
304,TCATGAGG|contig3|size185|read3|cov1.97,tgctgtcctgctctgtgacactctcctgggagttacccgattggag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,K19
305,TCATGAGG|contig1|size152|read7|cov4.83,gggcagatagcagccccgtcaaggcgggagtggagaccaccacacc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,K19
306,TCATGAGG|contig2|size184|read5|cov3.02,cgaggtcacgtgcgtggtggtggacgtgagccacgaagaccccgag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,K19

In [9]:
# Remove ASC clones from original clones table
df = df[~df['junction_aa'].isin(df_asc['junction_aa'])]
print("Entries:", len(df))
df.head()

Entries: 100

,sequence_id,sequence,sequence_aa,rev_comp,productive,complete_vdj,vj_in_frame,stop_codon,locus,v_call,...,n3_length,p5d2_length,p3d2_length,np4,np4_aa,np4_length,n4_length,p5d3_length,p3d3_length,well
20,ACGTACTG|contig1|size168|read7|cov5.01,tccaccagggccactggtatcccagccaggttcagtggcagtgggt...,NaN,F,T,F,T,F,IGK,Homsap IGKV3-15*01 F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F5
38,ATACACGG|contig1|size228|read22|cov10.44,gggtgggtccttcagtggttactactggagctggatccgccagccc...,NaN,F,T,F,T,T,IGH,"Homsap IGHV4-34*01 F, or Homsap IGHV4-34*02 F",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F21
44,ATACACGG|contig7|size168|read4|cov2.40,ggcacgtcagccaccctggacatcaccggactccagactggggacg...,NaN,F,T,F,T,F,IGL,"Homsap IGLV1-51*01 F, or Homsap IGLV1-51*02 F",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F21
66,TACCAGAC|contig1|size1530|read293|cov20.66,cccttctctacagaagcctctgagaggaaagttcttcaccatggac...,NaN,F,T,T,T,F,IGH,"Homsap IGHV1-46*01 F, or Homsap IGHV1-46*03 F",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E17
67,TACCAGAC|contig2|size412|read105|cov26.18,caggaggcagcgctctcaggacgtcaccaccatggcctgggctctg...,NaN,T,T,F,T,F,IGL,Homsap IGLV2-8*01 F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E17

In [10]:
df["well"].unique()

array(['F5', 'F21', 'E17', 'A13', 'A11', 'H22', 'J7', 'E2', 'M8', 'C8',
       'L21', 'N3', 'I14', 'E6', 'L24', 'G9', 'P12', 'F15', 'I8', 'G1',
       'I5', 'I16', 'B14', 'I13', 'N5', 'G7', 'C12', 'I12', 'J8', 'F16',
       'I23', 'E23', 'J14', 'E8', 'J11', 'E10', 'G8', 'J10', 'F7', 'L6',
       'A16', 'E13', 'E12', 'F14', 'H10', 'I2', 'B16', 'B20', 'L19', 'D4',
       'F20', 'H15', 'L1', 'F2', 'O18', 'E5', 'H17', 'F3', 'F12', 'L16',
       'I11', 'F4', 'E18', 'D7'], dtype=object)

In [11]:
len(df["well"].unique())

64

In [12]:
df_summary = df.groupby(["barcode", "well", "locus", "junction_aa"]).agg({'sequence_id': len}).sort_values(["well", "locus"])
df_summary

                                             sequence_id
barcode  well locus junction_aa
TACTGGTA A11  IGH   CATRGYCSGASCYKVYYYGMDVW            2
              IGK   CQQYNNWPQTF                        6
GATGTCGA A13  IGK   CQQYNNWPQTF                        1
CTTTGACA A16  IGH   CARGAGYFDLW                        1
              IGL   CQAWDSSTRVF                        2
...                                                  ...
GTATGCAC M8   TRB   CASGGADQPQHF                       1
CTCGTACT N3   TRB   CASSQDFQNTEAFF                     1
TTGTCCAC N5   TRA   CAVDPHARLMF                        2
GGTGACTA O18  TRB   CASSLQGGTQYF                       1
AAAGCGGA P12  TRA   CALSQRDTDKLIF                      1

[81 rows x 1 columns]

In [13]:
df_summary.to_excel("./VASAseq-IMGT-noASC-summary.xlsx")

In [14]:
df.to_excel("./VASAseq-IMGT-noASC.xlsx")