In [1]:
import os
import pandas as pd

In [2]:
mydir = "/home/barbera/Downloads/Thurlings/20201119-lookup-CDR3/"
os.listdir(mydir)

['.ipynb_checkpoints',
 '.~lock.basta-allinfo-long-mut-nglyc-cdr3peplengthRT.xlsx#',
 'CHECKSUM.1605796238',
 'IMGT_V-QUEST.pdf',
 'basta-clones.xlsx',
 'basta-allinfo-long-mut-nglyc-cdr3peplengthRT.xlsx',
 'GIT.md',
 'basta-allinfo-long-mut-nglyc-cdr3peplength-VJ.xlsx',
 'basta-allinfo.xlsx']

In [3]:
infile = 'basta-allinfo-long-mut-nglyc-cdr3peplengthRT.xlsx'
outfile = infile.replace('.xlsx', '.fasta')
df = pd.read_excel(mydir + infile)
df.head()

,Unnamed: 0,Unnamed: 1,acc,source,bloodSGMALTpostRTX,prepostRTXtissue,patient,specificity,ANAvsRFvsMALT12,RFvsMALTclone,...,mut.count_x.mode,mut.count_x.sum,mut.count_y.mean,mut.count_y.mode,mut.count_y.sum,mut.frac_x.mean,mut.frac_y.mean,nr_sites.mean,nr_sites.mode,nr_sites.sum
0,1.0,5881.0,SS3-lung-1a-B_S110,lung,3.0,1.0,b5,La,1.0,NaN,...,5.0,48.0,0.0,0.0,0.0,0.025105,0.0,0.0,0.0,0.0
1,1.0,5882.0,SS3-lung-1a-B_S110,lung,3.0,1.0,b5,La,1.0,NaN,...,5.0,48.0,0.0,0.0,0.0,0.025105,0.0,0.0,0.0,0.0
2,1.0,5883.0,SS3-lung-1a-B_S110,lung,3.0,1.0,b5,La,1.0,NaN,...,5.0,48.0,0.0,0.0,0.0,0.025105,0.0,0.0,0.0,0.0
3,1.0,5884.0,SS3-lung-1a-B_S110,lung,3.0,1.0,b5,La,1.0,NaN,...,5.0,48.0,0.0,0.0,0.0,0.025105,0.0,0.0,0.0,0.0
4,1.0,5885.0,SS3-lung-1a-B_S110,lung,3.0,1.0,b5,La,1.0,NaN,...,5.0,48.0,0.0,0.0,0.0,0.025105,0.0,0.0,0.0,0.0

In [4]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'acc', 'source', 'bloodSGMALTpostRTX',
       'prepostRTXtissue', 'patient', 'specificity', 'ANAvsRFvsMALT12',
       'RFvsMALTclone', 'bloodvstissue', 'beforeMID', 'MID', 'afterMID',
       'readingframe', 'cdr3pep', 'cdr3nuc', 'cdr3_qual_min', 'cdr3_qual_max',
       'cdr3_qual_avg', 'cdr3_qual', 'nt_start', 'nt_end', 'seq_length',
       'V_flag', 'V_gene', 'J_flag', 'J_gene', 'readingframe_seq', 'seq',
       'pep', 'qual', 'V_sub_x', 'J_sub_x', 'V_main', 'acc2', 'nr_v_mains',
       'nr_v_subs', 'nr_v_alleles', 'nr_j_subs', 'nr_j_alleles', 'acc3',
       'readingframe2', 'nr_sites', 'Sample', 'hits', 'hit_count',
       'cdr3pep_length', 'J_sub_y', 'UMIs', 'UMIs.frac', 'V_sub_y',
       'beforeMID.nunique', 'cdr3nuc.min_mode', 'cdr3nuc.nunique', 'freq',
       'mut.count_x.mean', 'mut.count_x.mode', 'mut.count_x.sum',
       'mut.count_y.mean', 'mut.count_y.mode', 'mut.count_y.sum',
       'mut.frac_x.mean', 'mut.frac_y.mean', 'nr_sites.mean', 'nr_sites.mode',
       'nr_sites.sum'],
      dtype='object')

In [5]:
len(df)

9663

In [6]:
cols = ['beforeMID', 'pep']
df[cols].head()

,beforeMID,pep
0,M02984:466:000000000-BJD2F:1:1105:4900:10042,TCTTACGTACGTCGTATCGCCTCCCTCGCGCCAGTTAACTCCCTTA...
1,M02984:466:000000000-BJD2F:1:1109:10088:21530,GTGGACGTACGTCGTATCGCCTCCCTCGCGCCACCTTAATTTCTTA...
2,M02984:466:000000000-BJD2F:1:1112:22723:21149,TGATACGTACGTCGTATCGCCTCCCTCGCGCCAGGGCATTACCTTA...
3,M02984:466:000000000-BJD2F:1:1113:11675:23479,TTTGACGTACGTCGTATCGCCTCCCTCGCGCCACGCTTTGCTCTTA...
4,M02984:466:000000000-BJD2F:1:1115:15412:14634,GTTAACGTACGTCGTATCGCCTCCCTCGCGCCAGTTAACTCCCTTA...

In [7]:
accCol = cols[0]
seqCol = cols[1]
fhOut = open(outfile, "w")
for i, row in df.iterrows():
    print(">" + str(row[accCol]), file=fhOut)
    print(row[seqCol], file=fhOut)
fhOut.close()
print("Wrote", outfile, "to disk")

Wrote basta-allinfo-long-mut-nglyc-cdr3peplengthRT.fasta to disk